<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>categories</key>
	<array>
		<dict>
			<key>backgroundFile</key>
			<string>category/99c41fcb939f4a44a1b8605ded16c330.jpg</string>
			<key>icon</key>
			<string></string>
			<key>iconColor</key>
			<string>#5FD7B9</string>
			<key>id</key>
			<string>1004</string>
			<key>name</key>
			<string>帆布包</string>
			<key>parentId</key>
			<string>0</string>
			<key>proUrl</key>
			<string>http://www.infinitee.cn/help/products/1004.html</string>
			<key>productionCount</key>
			<string>10953</string>
			<key>sort</key>
			<integer>33</integer>
			<key>summary</key>
			<string>内附钥匙扣绳和内阁收纳袋
厚款肌理较粗 ，厚重挺括
薄款肌理细腻，厚度适中</string>
		</dict>
		<dict>
			<key>backgroundFile</key>
			<string>category/150aaec05c594209a6fc7cc8bba0c22c.jpg</string>
			<key>icon</key>
			<string></string>
			<key>iconColor</key>
			<string>#A0AED7</string>
			<key>id</key>
			<string>1009</string>
			<key>name</key>
			<string>抱枕</string>
			<key>parentId</key>
			<string>0</string>
			<key>proUrl</key>
			<string>http://www.infinitee.cn/help/products/1009.html</string>
			<key>productionCount</key>
			<string>4487</string>
			<key>sort</key>
			<integer>32</integer>
			<key>summary</key>
			<string>采用高密度涤纶面料
功能性以及时尚装饰性兼具
紧密光滑的质感更好还原用户的作品</string>
		</dict>
		<dict>
			<key>backgroundFile</key>
			<string>category/36b215e3fb2a47ae8cb43bee355f301a.jpg</string>
			<key>icon</key>
			<string></string>
			<key>iconColor</key>
			<string>#5FCFD7</string>
			<key>id</key>
			<string>10001</string>
			<key>name</key>
			<string>马丁手拿袋</string>
			<key>parentId</key>
			<string>0</string>
			<key>proUrl</key>
			<string>http://www.infinitee.cn/help/products/10001.html</string>
			<key>productionCount</key>
			<string>2962</string>
			<key>sort</key>
			<integer>31</integer>
			<key>summary</key>
			<string>采用马丁布及高品质铜牙拉链。
耐磨性强，密度肌理均匀。
可收纳手机、现金、文具等。</string>
		</dict>
		<dict>
			<key>backgroundFile</key>
			<string>category/93f7382ff99c4b36b977b22ea3945ace.jpg</string>
			<key>icon</key>
			<string></string>
			<key>iconColor</key>
			<string>#5E5E5E</string>
			<key>id</key>
			<string>10004</string>
			<key>name</key>
			<string>复古抽绳包</string>
			<key>parentId</key>
			<string>0</string>
			<key>proUrl</key>
			<string>http://www.infinitee.cn/help/products/10004.html</string>
			<key>productionCount</key>
			<string>2792</string>
			<key>sort</key>
			<integer>30</integer>
			<key>summary</key>
			<string>采用 12安士耐磨帆布，密度肌理均匀；
抽绳坚实光滑，可自己调节松紧度；
内含拉链式收纳袋，轻便耐用。</string>
		</dict>
		<dict>
			<key>backgroundFile</key>
			<string>category/7a88b4672ef8476881db0f31365edac5.jpg</string>
			<key>icon</key>
			<string></string>
			<key>iconColor</key>
			<string>#D25060</string>
			<key>id</key>
			<string>10000</string>
			<key>name</key>
			<string>纯棉T恤</string>
			<key>parentId</key>
			<string>0</string>
			<key>proUrl</key>
			<string>http://www.infinitee.cn/help/products/10000.html</string>
			<key>productionCount</key>
			<string>17327</string>
			<key>sort</key>
			<integer>29</integer>
			<key>summary</key>
			<string>夏季基础款
纯棉T恤为26支纯棉单面针织
压线规整，车工细腻</string>
		</dict>
		<dict>
			<key>backgroundFile</key>
			<string>category/443a4bf94b3d49dda89df9d534dddac5.jpg</string>
			<key>icon</key>
			<string></string>
			<key>iconColor</key>
			<string>#5890FF</string>
			<key>id</key>
			<string>1000</string>
			<key>name</key>
			<string>精棉T恤</string>
			<key>parentId</key>
			<string>0</string>
			<key>proUrl</key>
			<string>http://www.infinitee.cn/help/products/1000.html</string>
			<key>productionCount</key>
			<string>36897</string>
			<key>sort</key>
			<integer>28</integer>
			<key>summary</key>
			<string>夏季基础款
精梳棉T恤采用52支双股精棉
线纱精细丝滑，车工细腻</string>
		</dict>
		<dict>
			<key>backgroundFile</key>
			<string>category/3c6a5c171a2348459ac99031fb04c46a.jpg</string>
			<key>icon</key>
			<string></string>
			<key>iconColor</key>
			<string>#5DBEFF</string>
			<key>id</key>
			<string>1007</string>
			<key>name</key>
			<string>OVERSIZE</string>
			<key>parentId</key>
			<string>0</string>
			<key>proUrl</key>
			<string>http://www.infinitee.cn/help/products/1007.html</string>
			<key>productionCount</key>
			<string>21591</string>
			<key>sort</key>
			<integer>19</integer>
			<key>summary</key>
			<string>采用单面蚀毛精棉面料
含经典的黑、白、军绿色
百搭随性，适合潮男潮女</string>
		</dict>
		<dict>
			<key>backgroundFile</key>
			<string>category/57667caf4dbb4f1c84d708fe7844540a.jpg</string>
			<key>icon</key>
			<string></string>
			<key>iconColor</key>
			<string>#FF9261</string>
			<key>id</key>
			<string>1006</string>
			<key>name</key>
			<string>韩版宽松T</string>
			<key>parentId</key>
			<string>0</string>
			<key>proUrl</key>
			<string>http://www.infinitee.cn/help/products/1006.html</string>
			<key>productionCount</key>
			<string>8576</string>
			<key>sort</key>
			<integer>18</integer>
			<key>summary</key>
			<string>选用精棉双股平纹面料
韩式落肩款式，下摆前短后长
短款修饰女生身材比例，韩风即到</string>
		</dict>
		<dict>
			<key>backgroundFile</key>
			<string>category/609723e3772441e4ab78b1f9e401da4d.jpg</string>
			<key>icon</key>
			<string></string>
			<key>iconColor</key>
			<string>#5E5E5E</string>
			<key>id</key>
			<string>10003</string>
			<key>name</key>
			<string>运动裤</string>
			<key>parentId</key>
			<string>0</string>
			<key>proUrl</key>
			<string>http://www.infinitee.cn/help/products/10003.html</string>
			<key>productionCount</key>
			<string>1110</string>
			<key>sort</key>
			<integer>17</integer>
			<key>summary</key>
			<string>穿着柔软舒适，吸湿透气。
车工裁剪精致细腻，整齐工正。  
休闲运动上班皆宜。</string>
		</dict>
		<dict>
			<key>backgroundFile</key>
			<string>category/4e479947f38e43d4be74f297713a0a4c.jpg</string>
			<key>icon</key>
			<string></string>
			<key>iconColor</key>
			<string>#FF72C8</string>
			<key>id</key>
			<string>1005</string>
			<key>name</key>
			<string>长款落肩T</string>
			<key>parentId</key>
			<string>0</string>
			<key>proUrl</key>
			<string>http://www.infinitee.cn/help/products/1005.html</string>
			<key>productionCount</key>
			<string>4255</string>
			<key>sort</key>
			<integer>17</integer>
			<key>summary</key>
			<string>选用精棉双股平纹面料
中长宽松版型，松垮时尚
黑白两色，至简至洁，造型感十足</string>
		</dict>
		<dict>
			<key>backgroundFile</key>
			<string>category/39caff4ca8ee4103814fc601c4787d32.jpg</string>
			<key>icon</key>
			<string></string>
			<key>iconColor</key>
			<string>#FF5896</string>
			<key>id</key>
			<string>1008</string>
			<key>name</key>
			<string>连帽灰裙</string>
			<key>parentId</key>
			<string>0</string>
			<key>proUrl</key>
			<string>http://www.infinitee.cn/help/products/1008.html</string>
			<key>productionCount</key>
			<string>1307</string>
			<key>sort</key>
			<integer>15</integer>
			<key>summary</key>
			<string>面料厚度适中，触感细腻光滑
两侧拼接反光布
摆弧度裁剪工艺极简个性</string>
		</dict>
		<dict>
			<key>backgroundFile</key>
			<string>category/3a89791c563543f1bfb925c594e51531.jpg</string>
			<key>icon</key>
			<string></string>
			<key>iconColor</key>
			<string>#FFD77E</string>
			<key>id</key>
			<string>1001</string>
			<key>name</key>
			<string>长袖帽衫</string>
			<key>parentId</key>
			<string>0</string>
			<key>proUrl</key>
			<string>http://www.infinitee.cn/help/products/1001.html</string>
			<key>productionCount</key>
			<string>15833</string>
			<key>sort</key>
			<integer>14</integer>
			<key>summary</key>
			<string>面料采用80%棉20%涤纶棉
休闲连帽设计，运动时尚简约款
男版适中，女款修身</string>
		</dict>
		<dict>
			<key>backgroundFile</key>
			<string>category/cc33efc177734ab1879f411d9ba3787c.jpg</string>
			<key>icon</key>
			<string></string>
			<key>iconColor</key>
			<string>#D6C1BF</string>
			<key>id</key>
			<string>1003</string>
			<key>name</key>
			<string>长袖卫衣</string>
			<key>parentId</key>
			<string>0</string>
			<key>proUrl</key>
			<string>http://www.infinitee.cn/help/products/1003.html</string>
			<key>productionCount</key>
			<string>15531</string>
			<key>sort</key>
			<integer>13</integer>
			<key>summary</key>
			<string>面料采用80%棉20%涤纶棉
车工精致细腻，男女同款
适合在冬季作情侣及亲子装</string>
		</dict>
		<dict>
			<key>backgroundFile</key>
			<string>category/2cbdb658c0744c4c8a8fbdac5e6fe559.jpg</string>
			<key>icon</key>
			<string></string>
			<key>iconColor</key>
			<string>#FFB758</string>
			<key>id</key>
			<string>10002</string>
			<key>name</key>
			<string>运动巾</string>
			<key>parentId</key>
			<string>0</string>
			<key>proUrl</key>
			<string>http://www.infinitee.cn/help/products/10002.html</string>
			<key>productionCount</key>
			<string>2086</string>
			<key>sort</key>
			<integer>12</integer>
			<key>summary</key>
			<string>采用超细涤纶纤维，手感细腻柔软。
运动时绑在手腕或挂在脖子上。
吸水性极好，耐用防菌且不起毛。</string>
		</dict>
		<dict>
			<key>backgroundFile</key>
			<string>category/46378a6a1adf453181e79561a291eb6c.jpg</string>
			<key>icon</key>
			<string></string>
			<key>iconColor</key>
			<string>#FAA5C4</string>
			<key>id</key>
			<string>1010</string>
			<key>name</key>
			<string>BB连身衣</string>
			<key>parentId</key>
			<string>0</string>
			<key>proUrl</key>
			<string>http://www.infinitee.cn/help/products/1010.html</string>
			<key>productionCount</key>
			<string>1922</string>
			<key>sort</key>
			<integer>2</integer>
			<key>summary</key>
			<string>采用100%天然优质的棉质有机面料
尤其呵护BB敏感细嫩肌肤
为婴儿提供最舒适的衣着体验</string>
		</dict>
		<dict>
			<key>backgroundFile</key>
			<string>category/6618b1d6898d41e288df27e56012d71d.jpg</string>
			<key>icon</key>
			<string></string>
			<key>iconColor</key>
			<string>#BFC8D6</string>
			<key>id</key>
			<string>1011</string>
			<key>name</key>
			<string>BB围兜</string>
			<key>parentId</key>
			<string>0</string>
			<key>proUrl</key>
			<string>http://www.infinitee.cn/help/products/1011.html</string>
			<key>productionCount</key>
			<string>1265</string>
			<key>sort</key>
			<integer>1</integer>
			<key>summary</key>
			<string>采用天然有机棉面料和顶级环保墨水
应用在围兜上，对BB无毒无害
即使接触口腔也十分安全</string>
		</dict>
	</array>
</dict>
</plist>
