<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comments</key>
	<array>
		<dict>
			<key>content</key>
			<string>印花打印出来很高清，布料触到皮肤很舒服，下次再来买。</string>
			<key>createDate</key>
			<string>2019-04-13 10:39:48</string>
			<key>cusIcon</key>
			<string>customer/icon/2016/10/7a513f4bd11b479b815cea201e2f5e6b.png</string>
			<key>cusId</key>
			<string>101040</string>
			<key>cusName</key>
			<string>王三岁</string>
			<key>id</key>
			<string>103861</string>
			<key>modelCreateDate</key>
			<string>2019-04-13 09:38:56</string>
			<key>modelPic</key>
			<string>ordermodelpic/ff96cce494184b9398d4b08691924633.jpg,ordermodelpic/6111234d6ed34a0f89717919e0231ef9.jpg,ordermodelpic/a94eb929259b4f77973948424ff86484.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/ff96cce494184b9398d4b08691924633.jpg</string>
				<string>ordermodelpic/6111234d6ed34a0f89717919e0231ef9.jpg</string>
				<string>ordermodelpic/a94eb929259b4f77973948424ff86484.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2019-04-12 20:41:55</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1000</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>customer/icon/2016/10/7a513f4bd11b479b815cea201e2f5e6b.png</string>
			<key>proCusId</key>
			<string>101040</string>
			<key>proCusName</key>
			<string>王三岁</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>298702</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>精棉T恤</string>
			<key>proPicture</key>
			<string>production/298/298702.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1005,298701</string>
			<key>proShape</key>
			<string>女款</string>
			<key>proSize</key>
			<string>M</string>
			<key>proStyle</key>
			<string>A2</string>
			<key>recommend</key>
			<string>1</string>
			<key>showType</key>
			<string>0</string>
			<key>showTypeName</key>
			<string>王三岁定制了自己作品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>帆布袋布料很好，印花手感好，清晰度高，一拿到手感觉很潮流，下次介绍朋友来买。。</string>
			<key>createDate</key>
			<string>2019-04-13 11:09:36</string>
			<key>cusIcon</key>
			<string>customer/icon/2015/12/ce09a2667f874fe8bacbd0064387d334.png</string>
			<key>cusId</key>
			<string>101031</string>
			<key>cusName</key>
			<string>流浪猫</string>
			<key>id</key>
			<string>103868</string>
			<key>modelCreateDate</key>
			<string>2019-04-13 09:36:19</string>
			<key>modelPic</key>
			<string>ordermodelpic/178bd61e60a7428a98d3e1b2fcb1f240.jpg,ordermodelpic/0b79c228233d4f03a24ffa81f29a5206.jpg,ordermodelpic/e8182b1a006a40498d377fcb36183dd4.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/178bd61e60a7428a98d3e1b2fcb1f240.jpg</string>
				<string>ordermodelpic/0b79c228233d4f03a24ffa81f29a5206.jpg</string>
				<string>ordermodelpic/e8182b1a006a40498d377fcb36183dd4.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2019-04-12 20:14:38</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1004</string>
			<key>proColor</key>
			<string>AP</string>
			<key>proCusIcon</key>
			<string>customer/icon/2015/12/ce09a2667f874fe8bacbd0064387d334.png</string>
			<key>proCusId</key>
			<string>101031</string>
			<key>proCusName</key>
			<string>流浪猫</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>298690</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>帆布包</string>
			<key>proPicture</key>
			<string>production/298/298690.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1022,298689</string>
			<key>proShape</key>
			<string>厚款</string>
			<key>proSize</key>
			<string>39.5*39CM</string>
			<key>proStyle</key>
			<string>D1</string>
			<key>recommend</key>
			<string>1</string>
			<key>showType</key>
			<string>0</string>
			<key>showTypeName</key>
			<string>流浪猫定制了自己作品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>质量非常可以！图案清晰，料子是光滑的那种，有品质感。朋友收到很喜欢，作为礼品赠送的话，放心</string>
			<key>createDate</key>
			<string>2019-03-19 07:24:18</string>
			<key>cusIcon</key>
			<string>customer/icon/2015/12/ecf19c14c8424d51b110e8b522bf9494.png</string>
			<key>cusId</key>
			<string>101049</string>
			<key>cusName</key>
			<string>漂流de</string>
			<key>id</key>
			<string>103857</string>
			<key>modelCreateDate</key>
			<string>2019-03-18 14:03:49</string>
			<key>modelPic</key>
			<string>ordermodelpic/599c0f2e4ec9460eb135ade86a8537f2.jpg,ordermodelpic/bc484dc242094b419c9a7bc56c230083.jpg,ordermodelpic/5415d215db8a4791a961bb394efa9098.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/599c0f2e4ec9460eb135ade86a8537f2.jpg</string>
				<string>ordermodelpic/bc484dc242094b419c9a7bc56c230083.jpg</string>
				<string>ordermodelpic/5415d215db8a4791a961bb394efa9098.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2019-03-18 12:00:17</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1000</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>customer/icon/2015/12/ecf19c14c8424d51b110e8b522bf9494.png</string>
			<key>proCusId</key>
			<string>101049</string>
			<key>proCusName</key>
			<string>漂流de</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>297795</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>精棉T恤</string>
			<key>proPicture</key>
			<string>production/297/297795.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1002,297794</string>
			<key>proShape</key>
			<string>男款</string>
			<key>proSize</key>
			<string>M</string>
			<key>proStyle</key>
			<string>A1</string>
			<key>recommend</key>
			<string>1</string>
			<key>showType</key>
			<string>0</string>
			<key>showTypeName</key>
			<string>漂流de定制了自己作品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>速度超乎预料！！！好快呀！</string>
			<key>createDate</key>
			<string>2019-03-19 00:33:16</string>
			<key>cusIcon</key>
			<string>customer/icon/2015/12/5bea82b72fce4fecb83854ff32dbc90d.png</string>
			<key>cusId</key>
			<string>101044</string>
			<key>cusName</key>
			<string>enjoyment</string>
			<key>id</key>
			<string>103855</string>
			<key>modelCreateDate</key>
			<string>2019-03-19 19:04:21</string>
			<key>modelPic</key>
			<string>ordermodelpic/e918c003113d4986aaaf426bd8a3b6fd.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/e918c003113d4986aaaf426bd8a3b6fd.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>1</string>
			<key>orderCreateDate</key>
			<string>2019-03-18 11:54:43</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>10001</string>
			<key>proColor</key>
			<string>BGE</string>
			<key>proCusIcon</key>
			<string>customer/icon/2015/12/5bea82b72fce4fecb83854ff32dbc90d.png</string>
			<key>proCusId</key>
			<string>101044</string>
			<key>proCusName</key>
			<string>enjoyment</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>297787</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>马丁手拿袋</string>
			<key>proPicture</key>
			<string>production/297/297787.basic.jpg</string>
			<key>proRelateIds</key>
			<string>186888,297785</string>
			<key>proShape</key>
			<string>基本款</string>
			<key>proSize</key>
			<string>均码</string>
			<key>proStyle</key>
			<string>O1</string>
			<key>recommend</key>
			<string>1</string>
			<key>showType</key>
			<string>1</string>
			<key>showTypeName</key>
			<string>enjoyment定制了自己的作品作为礼品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>衣服好看，布料穿起来很舒服，图案打印的很清晰，很鲜艳。</string>
			<key>createDate</key>
			<string>2019-03-18 14:54:05</string>
			<key>cusIcon</key>
			<string>customer/icon/2015/12/ce09a2667f874fe8bacbd0064387d334.png</string>
			<key>cusId</key>
			<string>101031</string>
			<key>cusName</key>
			<string>流浪猫</string>
			<key>id</key>
			<string>103848</string>
			<key>modelCreateDate</key>
			<string>2019-03-18 14:00:07</string>
			<key>modelPic</key>
			<string>ordermodelpic/ae0abaffb04d44a0b8658911821957bb.jpg,ordermodelpic/a4fd68597f0e4690a809851763fd6f0d.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/ae0abaffb04d44a0b8658911821957bb.jpg</string>
				<string>ordermodelpic/a4fd68597f0e4690a809851763fd6f0d.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>1</string>
			<key>orderCreateDate</key>
			<string>2019-03-18 13:51:54</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1000</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>customer/icon/2015/12/ce09a2667f874fe8bacbd0064387d334.png</string>
			<key>proCusId</key>
			<string>101031</string>
			<key>proCusName</key>
			<string>流浪猫</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>297826</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>精棉T恤</string>
			<key>proPicture</key>
			<string>production/297/297826.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1005,297825</string>
			<key>proShape</key>
			<string>女款</string>
			<key>proSize</key>
			<string>XL</string>
			<key>proStyle</key>
			<string>A2</string>
			<key>recommend</key>
			<string>1</string>
			<key>showType</key>
			<string>1</string>
			<key>showTypeName</key>
			<string>流浪猫定制了自己的作品作为礼品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>印花质量不错</string>
			<key>createDate</key>
			<string>2019-03-19 00:29:50</string>
			<key>cusIcon</key>
			<string>customer/icon/2015/12/d9ab24bc99ad4985a7e6fbea4ee7b1c7.png</string>
			<key>cusId</key>
			<string>101052</string>
			<key>cusName</key>
			<string>甜甜心</string>
			<key>id</key>
			<string>103854</string>
			<key>modelCreateDate</key>
			<string></string>
			<key>modelPic</key>
			<string></string>
			<key>modelPicArray</key>
			<array/>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2017-01-17 17:42:26</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1007</string>
			<key>proColor</key>
			<string>BK</string>
			<key>proCusIcon</key>
			<string>https://thirdwx.qlogo.cn/mmopen/vi_32/F8BuE1XlYGJ359EkryLSQ6GS6RIe03Nfklw8HX9GHAKA7oeibMJ8RibK2b0a0N1t48dG8Dh5HJ71T2pJRrqITAbQ/132</string>
			<key>proCusId</key>
			<string>100054</string>
			<key>proCusName</key>
			<string>Miss、谢</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>172280</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>OVERSIZET恤</string>
			<key>proPicture</key>
			<string>production/172/172280.basic.jpg</string>
			<key>proRelateIds</key>
			<string>117365,172278</string>
			<key>proShape</key>
			<string>女款</string>
			<key>proSize</key>
			<string>均码</string>
			<key>proStyle</key>
			<string>H2</string>
			<key>recommend</key>
			<string>1</string>
			<key>showType</key>
			<string>2</string>
			<key>showTypeName</key>
			<string>甜甜心购买了设计师的作品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>衣服穿起来很舒服，图案还原度很高，还有贺卡送，五星好评。</string>
			<key>createDate</key>
			<string>2019-03-18 14:56:05</string>
			<key>cusIcon</key>
			<string>customer/icon/2015/12/ce09a2667f874fe8bacbd0064387d334.png</string>
			<key>cusId</key>
			<string>101031</string>
			<key>cusName</key>
			<string>流浪猫</string>
			<key>id</key>
			<string>103851</string>
			<key>modelCreateDate</key>
			<string>2019-03-18 14:13:33</string>
			<key>modelPic</key>
			<string>ordermodelpic/c566f45754ac42fea65d0cb8d9c874a3.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/c566f45754ac42fea65d0cb8d9c874a3.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>1</string>
			<key>orderCreateDate</key>
			<string>2019-03-18 14:12:46</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1000</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>customer/icon/2015/12/ce09a2667f874fe8bacbd0064387d334.png</string>
			<key>proCusId</key>
			<string>101031</string>
			<key>proCusName</key>
			<string>流浪猫</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>297831</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>精棉T恤</string>
			<key>proPicture</key>
			<string>production/297/297831.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1005,297830</string>
			<key>proShape</key>
			<string>女款</string>
			<key>proSize</key>
			<string>XL</string>
			<key>proStyle</key>
			<string>A2</string>
			<key>recommend</key>
			<string>1</string>
			<key>showType</key>
			<string>1</string>
			<key>showTypeName</key>
			<string>流浪猫定制了自己的作品作为礼品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>在厚薄款中犹豫了，还是选了厚款。摸起来挺厚重的，制作细节看得出是很用心的，里面还有钥匙扣，点赞！印花效果确实不错。刚收到的时候会有一些味道，问了客服对人体没有危害，是制作后马上发货，72小时后会自动消失。</string>
			<key>createDate</key>
			<string>2019-03-19 07:29:49</string>
			<key>cusIcon</key>
			<string>customer/icon/2015/12/ecf19c14c8424d51b110e8b522bf9494.png</string>
			<key>cusId</key>
			<string>101049</string>
			<key>cusName</key>
			<string>漂流de</string>
			<key>id</key>
			<string>103858</string>
			<key>modelCreateDate</key>
			<string>2019-03-18 14:04:02</string>
			<key>modelPic</key>
			<string>ordermodelpic/542a9409fe9a444e9bdacf1c76edf721.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/542a9409fe9a444e9bdacf1c76edf721.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2019-03-18 11:58:40</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1004</string>
			<key>proColor</key>
			<string>AP</string>
			<key>proCusIcon</key>
			<string>customer/icon/2015/12/ecf19c14c8424d51b110e8b522bf9494.png</string>
			<key>proCusId</key>
			<string>101049</string>
			<key>proCusName</key>
			<string>漂流de</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>297792</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>帆布包</string>
			<key>proPicture</key>
			<string>production/297/297792.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1022,297790</string>
			<key>proShape</key>
			<string>厚款</string>
			<key>proSize</key>
			<string>39.5*39CM</string>
			<key>proStyle</key>
			<string>D1</string>
			<key>recommend</key>
			<string>1</string>
			<key>showType</key>
			<string>0</string>
			<key>showTypeName</key>
			<string>漂流de定制了自己作品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>物流好快呀！！！真的好好看  不知道怎么描述  太有成就感了！！</string>
			<key>createDate</key>
			<string>2019-03-09 18:17:07</string>
			<key>cusIcon</key>
			<string>http://thirdqq.qlogo.cn/qqapp/1102018701/674E8BCFB3470B5AC55BAAD008A43A53/100</string>
			<key>cusId</key>
			<string>130601</string>
			<key>cusName</key>
			<string>青居魏青居</string>
			<key>id</key>
			<string>103844</string>
			<key>modelCreateDate</key>
			<string></string>
			<key>modelPic</key>
			<string></string>
			<key>modelPicArray</key>
			<array/>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2019-02-22 19:48:19</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1004</string>
			<key>proColor</key>
			<string>AP</string>
			<key>proCusIcon</key>
			<string>http://thirdqq.qlogo.cn/qqapp/1102018701/674E8BCFB3470B5AC55BAAD008A43A53/100</string>
			<key>proCusId</key>
			<string>130601</string>
			<key>proCusName</key>
			<string>青居魏青居</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>297048</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>帆布包</string>
			<key>proPicture</key>
			<string>production/297/297048.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1023,297047</string>
			<key>proShape</key>
			<string>薄款</string>
			<key>proSize</key>
			<string>34*36CM</string>
			<key>proStyle</key>
			<string>D2</string>
			<key>recommend</key>
			<string>1</string>
			<key>showType</key>
			<string>0</string>
			<key>showTypeName</key>
			<string>青居魏青居定制了自己作品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>太好看了</string>
			<key>createDate</key>
			<string>2018-11-09 21:46:26</string>
			<key>cusIcon</key>
			<string></string>
			<key>cusId</key>
			<string>149636</string>
			<key>cusName</key>
			<string>挽心忆笙乐</string>
			<key>id</key>
			<string>103833</string>
			<key>modelCreateDate</key>
			<string></string>
			<key>modelPic</key>
			<string></string>
			<key>modelPicArray</key>
			<array/>
			<key>orderBuyType</key>
			<string>1</string>
			<key>orderCreateDate</key>
			<string>2018-11-04 19:44:02</string>
			<key>pictures</key>
			<string>productionComment/292038/36010475886465_f56ca887f2854df588002a8a0dcbe0e0.jpg</string>
			<key>picturesArray</key>
			<array>
				<string>productionComment/292038/36010475886465_f56ca887f2854df588002a8a0dcbe0e0.jpg</string>
			</array>
			<key>proCategoryId</key>
			<string>10001</string>
			<key>proColor</key>
			<string>BK</string>
			<key>proCusIcon</key>
			<string></string>
			<key>proCusId</key>
			<string>149636</string>
			<key>proCusName</key>
			<string>挽心忆笙乐</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>292038</string>
			<key>proIsRelease</key>
			<string>0</string>
			<key>proName</key>
			<string>马丁手拿袋</string>
			<key>proPicture</key>
			<string>production/292/292038.basic.jpg</string>
			<key>proRelateIds</key>
			<string>186889,292037</string>
			<key>proShape</key>
			<string>基本款</string>
			<key>proSize</key>
			<string>均码</string>
			<key>proStyle</key>
			<string>O1</string>
			<key>recommend</key>
			<string>1</string>
			<key>showType</key>
			<string>1</string>
			<key>showTypeName</key>
			<string>挽心忆笙乐定制了自己的作品作为礼品</string>
		</dict>
	</array>
	<key>lastTime</key>
	<string>1583570662905</string>
	<key>totalResult</key>
	<string>83</string>
</dict>
</plist>
