<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comments</key>
	<array>
		<dict>
			<key>content</key>
			<string>质量很好。</string>
			<key>createDate</key>
			<string>2018-04-26 09:59:58</string>
			<key>cusIcon</key>
			<string></string>
			<key>cusId</key>
			<string>137669</string>
			<key>cusName</key>
			<string>urbane0</string>
			<key>id</key>
			<string>103700</string>
			<key>modelCreateDate</key>
			<string></string>
			<key>modelPic</key>
			<string></string>
			<key>modelPicArray</key>
			<array/>
			<key>orderBuyType</key>
			<string>1</string>
			<key>orderCreateDate</key>
			<string>2018-04-20 09:56:53</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1010</string>
			<key>proColor</key>
			<string>BGE</string>
			<key>proCusIcon</key>
			<string></string>
			<key>proCusId</key>
			<string>137669</string>
			<key>proCusName</key>
			<string>urbane0</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>250217</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>BB连身衣</string>
			<key>proPicture</key>
			<string>production/250/250217.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1048,250216</string>
			<key>proShape</key>
			<string>长袖款</string>
			<key>proSize</key>
			<string>6-9个月</string>
			<key>proStyle</key>
			<string>L1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>1</string>
			<key>showTypeName</key>
			<string>urbane0定制了自己的作品作为礼品</string>
		</dict>
		<dict>
			<key>content</key>
			<string></string>
			<key>createDate</key>
			<string></string>
			<key>cusIcon</key>
			<string></string>
			<key>cusId</key>
			<string></string>
			<key>cusName</key>
			<string>18257285583</string>
			<key>id</key>
			<string></string>
			<key>modelCreateDate</key>
			<string>2018-04-13 21:30:30</string>
			<key>modelPic</key>
			<string>ordermodelpic/a9a5837661214a5d954079943c0c269f.jpg,ordermodelpic/d974313802d44924baba132fa8c96083.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/a9a5837661214a5d954079943c0c269f.jpg</string>
				<string>ordermodelpic/d974313802d44924baba132fa8c96083.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2018-04-08 07:22:47</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1010</string>
			<key>proColor</key>
			<string>BGE</string>
			<key>proCusIcon</key>
			<string></string>
			<key>proCusId</key>
			<string>134500</string>
			<key>proCusName</key>
			<string>18257285583</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>247509</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>BB连身衣</string>
			<key>proPicture</key>
			<string>production/247/247509.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1050,247508</string>
			<key>proShape</key>
			<string>短袖款</string>
			<key>proSize</key>
			<string>6-9个月</string>
			<key>proStyle</key>
			<string>L2</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>4</string>
			<key>showTypeName</key>
			<string>已极速发货，待用户晒单</string>
		</dict>
		<dict>
			<key>content</key>
			<string></string>
			<key>createDate</key>
			<string></string>
			<key>cusIcon</key>
			<string>https://wx.qlogo.cn/mmopen/vi_32/Q0j4TwGTfTLhRH6fwgzxMib8cqRFWtz4IHlhHeExicy0iaXRlrKmRVznWeMcR5zWM2heOdWQRTqaBciafmUCg8eMgQ/0</string>
			<key>cusId</key>
			<string></string>
			<key>cusName</key>
			<string>洪柳 传递爱与责任</string>
			<key>id</key>
			<string></string>
			<key>modelCreateDate</key>
			<string>2017-12-29 09:37:48</string>
			<key>modelPic</key>
			<string>ordermodelpic/26a2981dede74f308fd3706bd803f01e.jpg,ordermodelpic/b170e3c4751e4d67b04f4eaa8d14e30f.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/26a2981dede74f308fd3706bd803f01e.jpg</string>
				<string>ordermodelpic/b170e3c4751e4d67b04f4eaa8d14e30f.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>1</string>
			<key>orderCreateDate</key>
			<string>2017-12-27 14:42:53</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1010</string>
			<key>proColor</key>
			<string>BGE</string>
			<key>proCusIcon</key>
			<string>https://wx.qlogo.cn/mmopen/vi_32/Q0j4TwGTfTLhRH6fwgzxMib8cqRFWtz4IHlhHeExicy0iaXRlrKmRVznWeMcR5zWM2heOdWQRTqaBciafmUCg8eMgQ/0</string>
			<key>proCusId</key>
			<string>133306</string>
			<key>proCusName</key>
			<string>洪柳 传递爱与责任</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>241607</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>BB连身衣</string>
			<key>proPicture</key>
			<string>production/241/241607.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1048,241606</string>
			<key>proShape</key>
			<string>长袖款</string>
			<key>proSize</key>
			<string>0-3个月</string>
			<key>proStyle</key>
			<string>L1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>4</string>
			<key>showTypeName</key>
			<string>已极速发货，待用户晒单</string>
		</dict>
		<dict>
			<key>content</key>
			<string></string>
			<key>createDate</key>
			<string></string>
			<key>cusIcon</key>
			<string>https://tva4.sinaimg.cn/crop.0.0.996.996.180/c5287525jw8fa730hpcd3j20ro0rogop.jpg</string>
			<key>cusId</key>
			<string></string>
			<key>cusName</key>
			<string>七囍呀_</string>
			<key>id</key>
			<string></string>
			<key>modelCreateDate</key>
			<string>2017-11-09 09:38:48</string>
			<key>modelPic</key>
			<string>ordermodelpic/9498cfe730964d75bfe9f583e3ab06fa.jpg,ordermodelpic/1dba0d7e686143be9eb0942eca62a8e4.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/9498cfe730964d75bfe9f583e3ab06fa.jpg</string>
				<string>ordermodelpic/1dba0d7e686143be9eb0942eca62a8e4.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>1</string>
			<key>orderCreateDate</key>
			<string>2017-11-05 00:59:59</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1010</string>
			<key>proColor</key>
			<string>BGE</string>
			<key>proCusIcon</key>
			<string>https://tva4.sinaimg.cn/crop.0.0.996.996.180/c5287525jw8fa730hpcd3j20ro0rogop.jpg</string>
			<key>proCusId</key>
			<string>130497</string>
			<key>proCusName</key>
			<string>七囍呀_</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>232536</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>BB连身衣</string>
			<key>proPicture</key>
			<string>production/232/232536.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1048,232535</string>
			<key>proShape</key>
			<string>长袖款</string>
			<key>proSize</key>
			<string>0-3个月</string>
			<key>proStyle</key>
			<string>L1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>4</string>
			<key>showTypeName</key>
			<string>已极速发货，待用户晒单</string>
		</dict>
		<dict>
			<key>content</key>
			<string></string>
			<key>createDate</key>
			<string></string>
			<key>cusIcon</key>
			<string>http://tva4.sinaimg.cn/crop.0.0.640.640.180/56a231b4jw8eguzix1axlj20hs0hsdg9.jpg</string>
			<key>cusId</key>
			<string></string>
			<key>cusName</key>
			<string>conquer_白胖美</string>
			<key>id</key>
			<string></string>
			<key>modelCreateDate</key>
			<string>2017-10-10 16:11:59</string>
			<key>modelPic</key>
			<string>ordermodelpic/ffec0edd67534ff7a9615d455208462c.jpg,ordermodelpic/fc5ba4765d2d4b9ea2f2a8376053d247.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/ffec0edd67534ff7a9615d455208462c.jpg</string>
				<string>ordermodelpic/fc5ba4765d2d4b9ea2f2a8376053d247.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2017-10-01 21:47:36</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1010</string>
			<key>proColor</key>
			<string>BGE</string>
			<key>proCusIcon</key>
			<string>http://tva4.sinaimg.cn/crop.0.0.640.640.180/56a231b4jw8eguzix1axlj20hs0hsdg9.jpg</string>
			<key>proCusId</key>
			<string>123551</string>
			<key>proCusName</key>
			<string>conquer_白胖美</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>230574</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>BB连身衣</string>
			<key>proPicture</key>
			<string>production/230/230574.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1048,230573</string>
			<key>proShape</key>
			<string>长袖款</string>
			<key>proSize</key>
			<string>6-9个月</string>
			<key>proStyle</key>
			<string>L1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>4</string>
			<key>showTypeName</key>
			<string>已极速发货，待用户晒单</string>
		</dict>
		<dict>
			<key>content</key>
			<string></string>
			<key>createDate</key>
			<string></string>
			<key>cusIcon</key>
			<string>http://wx.qlogo.cn/mmopen/Pwx5wgVdhSVqB0aUEPOMGhHeJb0icFia779XEKFI3j5prtsVKCUxRL1CsyTgoibuFLj7w850sz9edSYic4drxVlppQ/0</string>
			<key>cusId</key>
			<string></string>
			<key>cusName</key>
			<string>昊</string>
			<key>id</key>
			<string></string>
			<key>modelCreateDate</key>
			<string>2017-08-22 09:52:14</string>
			<key>modelPic</key>
			<string>ordermodelpic/b70d8d336c4148c790114783477c501a.jpg,ordermodelpic/3b966fc9666845acb991a41865dc746b.jpg,ordermodelpic/12a9760307a449a98d1e72f3b4528c92.jpg,ordermodelpic/9620fc085b2e4ca7ad1b24511a1322e8.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/b70d8d336c4148c790114783477c501a.jpg</string>
				<string>ordermodelpic/3b966fc9666845acb991a41865dc746b.jpg</string>
				<string>ordermodelpic/12a9760307a449a98d1e72f3b4528c92.jpg</string>
				<string>ordermodelpic/9620fc085b2e4ca7ad1b24511a1322e8.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2017-08-16 21:14:17</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1010</string>
			<key>proColor</key>
			<string>BGE</string>
			<key>proCusIcon</key>
			<string>http://wx.qlogo.cn/mmopen/Pwx5wgVdhSVqB0aUEPOMGhHeJb0icFia779XEKFI3j5prtsVKCUxRL1CsyTgoibuFLj7w850sz9edSYic4drxVlppQ/0</string>
			<key>proCusId</key>
			<string>105171</string>
			<key>proCusName</key>
			<string>昊</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>226132</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>BB连身衣</string>
			<key>proPicture</key>
			<string>production/226/226132.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1050,226131</string>
			<key>proShape</key>
			<string>短袖款</string>
			<key>proSize</key>
			<string>0-3个月</string>
			<key>proStyle</key>
			<string>L2</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>4</string>
			<key>showTypeName</key>
			<string>已极速发货，待用户晒单</string>
		</dict>
		<dict>
			<key>content</key>
			<string></string>
			<key>createDate</key>
			<string></string>
			<key>cusIcon</key>
			<string>http://wx.qlogo.cn/mmopen/Pwx5wgVdhSVqB0aUEPOMGhHeJb0icFia779XEKFI3j5prtsVKCUxRL1CsyTgoibuFLj7w850sz9edSYic4drxVlppQ/0</string>
			<key>cusId</key>
			<string></string>
			<key>cusName</key>
			<string>昊</string>
			<key>id</key>
			<string></string>
			<key>modelCreateDate</key>
			<string>2017-08-22 09:52:36</string>
			<key>modelPic</key>
			<string>ordermodelpic/6f74bf6dce2140459459cc9c894cfbe6.jpg,ordermodelpic/55c028ce500d4534bd7871619c006d51.jpg,ordermodelpic/964c89efb9714435bf7eed8079726a62.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/6f74bf6dce2140459459cc9c894cfbe6.jpg</string>
				<string>ordermodelpic/55c028ce500d4534bd7871619c006d51.jpg</string>
				<string>ordermodelpic/964c89efb9714435bf7eed8079726a62.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2017-08-16 21:14:17</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1010</string>
			<key>proColor</key>
			<string>BGE</string>
			<key>proCusIcon</key>
			<string>http://wx.qlogo.cn/mmopen/Pwx5wgVdhSVqB0aUEPOMGhHeJb0icFia779XEKFI3j5prtsVKCUxRL1CsyTgoibuFLj7w850sz9edSYic4drxVlppQ/0</string>
			<key>proCusId</key>
			<string>105171</string>
			<key>proCusName</key>
			<string>昊</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>226146</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>BB连身衣</string>
			<key>proPicture</key>
			<string>production/226/226146.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1050,226145</string>
			<key>proShape</key>
			<string>短袖款</string>
			<key>proSize</key>
			<string>0-3个月</string>
			<key>proStyle</key>
			<string>L2</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>4</string>
			<key>showTypeName</key>
			<string>已极速发货，待用户晒单</string>
		</dict>
		<dict>
			<key>content</key>
			<string></string>
			<key>createDate</key>
			<string></string>
			<key>cusIcon</key>
			<string>http://wx.qlogo.cn/mmopen/ajNVdqHZLLBGBYgSHljPV5cEHgicE1A5asyiaz7ZuG03nnXsu4jvtTAD2m0sFbe0wh9JMmrNbWXsLoeEyYlRejdw/0</string>
			<key>cusId</key>
			<string></string>
			<key>cusName</key>
			<string>Hanling</string>
			<key>id</key>
			<string></string>
			<key>modelCreateDate</key>
			<string>2017-08-18 10:19:11</string>
			<key>modelPic</key>
			<string>ordermodelpic/2875e4d79d644068841c56cc48d6cc12.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/2875e4d79d644068841c56cc48d6cc12.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2017-08-16 16:13:46</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1010</string>
			<key>proColor</key>
			<string>BGE</string>
			<key>proCusIcon</key>
			<string>http://wx.qlogo.cn/mmopen/ajNVdqHZLLBGBYgSHljPV5cEHgicE1A5asyiaz7ZuG03nnXsu4jvtTAD2m0sFbe0wh9JMmrNbWXsLoeEyYlRejdw/0</string>
			<key>proCusId</key>
			<string>115900</string>
			<key>proCusName</key>
			<string>Hanling</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>226118</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>BB连身衣</string>
			<key>proPicture</key>
			<string>production/226/226118.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1048,226117</string>
			<key>proShape</key>
			<string>长袖款</string>
			<key>proSize</key>
			<string>0-3个月</string>
			<key>proStyle</key>
			<string>L1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>4</string>
			<key>showTypeName</key>
			<string>已极速发货，待用户晒单</string>
		</dict>
		<dict>
			<key>content</key>
			<string>BB穿上身很好看，潮潮的</string>
			<key>createDate</key>
			<string>2017-08-07 11:25:19</string>
			<key>cusIcon</key>
			<string>customer/icon/2017/7/c0d71d8545f54fe7b5b620fafb276f70.png</string>
			<key>cusId</key>
			<string>128872</string>
			<key>cusName</key>
			<string>点点滴滴</string>
			<key>id</key>
			<string>103509</string>
			<key>modelCreateDate</key>
			<string></string>
			<key>modelPic</key>
			<string></string>
			<key>modelPicArray</key>
			<array/>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2017-08-07 11:19:04</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1010</string>
			<key>proColor</key>
			<string>BGE</string>
			<key>proCusIcon</key>
			<string>customer/icon/2017/7/c0d71d8545f54fe7b5b620fafb276f70.png</string>
			<key>proCusId</key>
			<string>128872</string>
			<key>proCusName</key>
			<string>点点滴滴</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>225193</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>BB连身衣</string>
			<key>proPicture</key>
			<string>production/225/225193.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1050,225192</string>
			<key>proShape</key>
			<string>短袖款</string>
			<key>proSize</key>
			<string>0-3个月</string>
			<key>proStyle</key>
			<string>L2</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>0</string>
			<key>showTypeName</key>
			<string>点点滴滴定制了自己作品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>BB照片打印的很清楚，现在稍微大一点点，好一阵子再穿上。衣服质量很好</string>
			<key>createDate</key>
			<string>2017-08-07 10:44:53</string>
			<key>cusIcon</key>
			<string>customer/icon/2017/7/2c955b45c6a844feb35bf28d11517139.png</string>
			<key>cusId</key>
			<string>128871</string>
			<key>cusName</key>
			<string>小伙儿加油</string>
			<key>id</key>
			<string>103504</string>
			<key>modelCreateDate</key>
			<string></string>
			<key>modelPic</key>
			<string></string>
			<key>modelPicArray</key>
			<array/>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2017-08-07 10:41:05</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1010</string>
			<key>proColor</key>
			<string>BGE</string>
			<key>proCusIcon</key>
			<string>customer/icon/2017/7/2c955b45c6a844feb35bf28d11517139.png</string>
			<key>proCusId</key>
			<string>128871</string>
			<key>proCusName</key>
			<string>小伙儿加油</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>225173</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>BB连身衣</string>
			<key>proPicture</key>
			<string>production/225/225173.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1048,225172</string>
			<key>proShape</key>
			<string>长袖款</string>
			<key>proSize</key>
			<string>3-6个月</string>
			<key>proStyle</key>
			<string>L1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>0</string>
			<key>showTypeName</key>
			<string>小伙儿加油定制了自己作品</string>
		</dict>
	</array>
	<key>lastTime</key>
	<string>1583570487228</string>
	<key>totalResult</key>
	<string>30</string>
</dict>
</plist>
