<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comments</key>
	<array>
		<dict>
			<key>content</key>
			<string>好赞!！我很表妹一人一条，酷得很哇！！料子真心好呀推荐</string>
			<key>createDate</key>
			<string>2017-10-13 11:12:08</string>
			<key>cusIcon</key>
			<string>customer/icon/2017/7/54cd7acfa48b44a8bd8dcafedf4d604a.png</string>
			<key>cusId</key>
			<string>128822</string>
			<key>cusName</key>
			<string>百米加速</string>
			<key>id</key>
			<string>103588</string>
			<key>modelCreateDate</key>
			<string>2017-10-13 11:17:14</string>
			<key>modelPic</key>
			<string>ordermodelpic/8b1c912e09fd4ef1ad8f3f0ad5809a51.jpg,ordermodelpic/f043dd88d0b1424ebf621adc0cb15a82.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/8b1c912e09fd4ef1ad8f3f0ad5809a51.jpg</string>
				<string>ordermodelpic/f043dd88d0b1424ebf621adc0cb15a82.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>1</string>
			<key>orderCreateDate</key>
			<string>2017-10-13 11:08:28</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>10003</string>
			<key>proColor</key>
			<string>BK</string>
			<key>proCusIcon</key>
			<string>https://thirdwx.qlogo.cn/mmopen/vi_32/F8BuE1XlYGJ359EkryLSQ6GS6RIe03Nfklw8HX9GHAKA7oeibMJ8RibK2b0a0N1t48dG8Dh5HJ71T2pJRrqITAbQ/132</string>
			<key>proCusId</key>
			<string>100054</string>
			<key>proCusName</key>
			<string>Miss、谢</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>214876</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>休闲运动裤</string>
			<key>proPicture</key>
			<string>production/214/214876.basic.jpg</string>
			<key>proRelateIds</key>
			<string>193602,214875</string>
			<key>proShape</key>
			<string>女款</string>
			<key>proSize</key>
			<string>M</string>
			<key>proStyle</key>
			<string>N2</string>
			<key>recommend</key>
			<string>1</string>
			<key>showType</key>
			<string>3</string>
			<key>showTypeName</key>
			<string>百米加速购买了设计师的作品作为礼品</string>
		</dict>
		<dict>
			<key>content</key>
			<string></string>
			<key>createDate</key>
			<string></string>
			<key>cusIcon</key>
			<string>https://thirdwx.qlogo.cn/mmopen/vi_32/kBI0zXWqvic7VGVgvhoEAXFG8lSwppE5JuMOm376kkyxUGQWfTulIiaC1WRtaibAtLXefD9VMDKkvMkib73m8IhCTA/132</string>
			<key>cusId</key>
			<string></string>
			<key>cusName</key>
			<string>朋儿</string>
			<key>id</key>
			<string></string>
			<key>modelCreateDate</key>
			<string>2018-09-29 16:46:33</string>
			<key>modelPic</key>
			<string>ordermodelpic/906334b6460349f6ba806f0ddd856bc6.jpg,ordermodelpic/499ec07d46ea493598249821138dbff6.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/906334b6460349f6ba806f0ddd856bc6.jpg</string>
				<string>ordermodelpic/499ec07d46ea493598249821138dbff6.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2018-09-18 14:44:37</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>10003</string>
			<key>proColor</key>
			<string>BK</string>
			<key>proCusIcon</key>
			<string>https://thirdwx.qlogo.cn/mmopen/vi_32/kBI0zXWqvic7VGVgvhoEAXFG8lSwppE5JuMOm376kkyxUGQWfTulIiaC1WRtaibAtLXefD9VMDKkvMkib73m8IhCTA/132</string>
			<key>proCusId</key>
			<string>146227</string>
			<key>proCusName</key>
			<string>朋儿</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>285969</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>休闲运动裤</string>
			<key>proPicture</key>
			<string>production/285/285969.basic.jpg</string>
			<key>proRelateIds</key>
			<string>193059,285968</string>
			<key>proShape</key>
			<string>男款</string>
			<key>proSize</key>
			<string>M</string>
			<key>proStyle</key>
			<string>N1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>4</string>
			<key>showTypeName</key>
			<string>已极速发货，待用户晒单</string>
		</dict>
		<dict>
			<key>content</key>
			<string></string>
			<key>createDate</key>
			<string></string>
			<key>cusIcon</key>
			<string>https://thirdwx.qlogo.cn/mmopen/vi_32/DYAIOgq83epASiaXNNDuq50tVJTebQgQ5SqzRbhrV186t4jM5EDwvfvMQxib54kN3I40KrwRI55wstIWic7gqfVLA/132</string>
			<key>cusId</key>
			<string></string>
			<key>cusName</key>
			<string>呐！Sakura</string>
			<key>id</key>
			<string></string>
			<key>modelCreateDate</key>
			<string>2018-04-13 22:18:15</string>
			<key>modelPic</key>
			<string>ordermodelpic/1cf7ca761afb4343910a1d6e3c2cdb87.jpg,ordermodelpic/658497603408488e984786b617612999.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/1cf7ca761afb4343910a1d6e3c2cdb87.jpg</string>
				<string>ordermodelpic/658497603408488e984786b617612999.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2018-03-21 15:33:01</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>10003</string>
			<key>proColor</key>
			<string>BK</string>
			<key>proCusIcon</key>
			<string>https://thirdwx.qlogo.cn/mmopen/vi_32/DYAIOgq83epASiaXNNDuq50tVJTebQgQ5SqzRbhrV186t4jM5EDwvfvMQxib54kN3I40KrwRI55wstIWic7gqfVLA/132</string>
			<key>proCusId</key>
			<string>134082</string>
			<key>proCusName</key>
			<string>呐！Sakura</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>246332</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>休闲运动裤</string>
			<key>proPicture</key>
			<string>production/246/246332.basic.jpg</string>
			<key>proRelateIds</key>
			<string>193059,246331</string>
			<key>proShape</key>
			<string>男款</string>
			<key>proSize</key>
			<string>XL</string>
			<key>proStyle</key>
			<string>N1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>4</string>
			<key>showTypeName</key>
			<string>已极速发货，待用户晒单</string>
		</dict>
		<dict>
			<key>content</key>
			<string></string>
			<key>createDate</key>
			<string></string>
			<key>cusIcon</key>
			<string>https://wx.qlogo.cn/mmopen/vi_32/DYAIOgq83eoqZsz8egkdfiaqUvmYBW36KRMz0XL70rUR208ibW50JyxibLSw2JGc6FibCXfN5GDG9fYauog9ibVehgw/0</string>
			<key>cusId</key>
			<string></string>
			<key>cusName</key>
			<string>邱坏</string>
			<key>id</key>
			<string></string>
			<key>modelCreateDate</key>
			<string>2017-12-21 10:55:12</string>
			<key>modelPic</key>
			<string>ordermodelpic/ec788da338a241f9899c12bd1ee2ab33.jpg,ordermodelpic/bb22ed8b147945f29c87239952477771.jpg,ordermodelpic/4480638c36924ef4a34e8f3e9ce3e320.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/ec788da338a241f9899c12bd1ee2ab33.jpg</string>
				<string>ordermodelpic/bb22ed8b147945f29c87239952477771.jpg</string>
				<string>ordermodelpic/4480638c36924ef4a34e8f3e9ce3e320.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2017-12-18 23:13:24</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>10003</string>
			<key>proColor</key>
			<string>BK</string>
			<key>proCusIcon</key>
			<string>https://wx.qlogo.cn/mmopen/vi_32/DYAIOgq83eoqZsz8egkdfiaqUvmYBW36KRMz0XL70rUR208ibW50JyxibLSw2JGc6FibCXfN5GDG9fYauog9ibVehgw/0</string>
			<key>proCusId</key>
			<string>133230</string>
			<key>proCusName</key>
			<string>邱坏</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>240877</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>休闲运动裤</string>
			<key>proPicture</key>
			<string>production/240/240877.basic.jpg</string>
			<key>proRelateIds</key>
			<string>193059,240876</string>
			<key>proShape</key>
			<string>男款</string>
			<key>proSize</key>
			<string>L</string>
			<key>proStyle</key>
			<string>N1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>4</string>
			<key>showTypeName</key>
			<string>已极速发货，待用户晒单</string>
		</dict>
		<dict>
			<key>content</key>
			<string></string>
			<key>createDate</key>
			<string></string>
			<key>cusIcon</key>
			<string>http://wx.qlogo.cn/mmopen/vi_32/HzNicfROlVZLQJr5sXZ5yI0ZjbbO6Vo18iaPUGclMjlOvYdG2iatP1WEO0ib0hjqiaicofxgux1YOeicvTbgxZZrO8jng/0</string>
			<key>cusId</key>
			<string></string>
			<key>cusName</key>
			<string>Alisahua</string>
			<key>id</key>
			<string></string>
			<key>modelCreateDate</key>
			<string>2017-12-04 11:18:11</string>
			<key>modelPic</key>
			<string>ordermodelpic/1567f6c31f3e4e3f971e3927529ebc0d.jpg,ordermodelpic/84688ebeefac4650950a575042460b7d.jpg,ordermodelpic/a086c0f796ed484dbae1fbcb17c2259d.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/1567f6c31f3e4e3f971e3927529ebc0d.jpg</string>
				<string>ordermodelpic/84688ebeefac4650950a575042460b7d.jpg</string>
				<string>ordermodelpic/a086c0f796ed484dbae1fbcb17c2259d.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2017-11-30 14:36:50</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>10003</string>
			<key>proColor</key>
			<string>BK</string>
			<key>proCusIcon</key>
			<string>http://wx.qlogo.cn/mmopen/vi_32/HzNicfROlVZLQJr5sXZ5yI0ZjbbO6Vo18iaPUGclMjlOvYdG2iatP1WEO0ib0hjqiaicofxgux1YOeicvTbgxZZrO8jng/0</string>
			<key>proCusId</key>
			<string>133033</string>
			<key>proCusName</key>
			<string>Alisahua</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>239972</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>休闲运动裤</string>
			<key>proPicture</key>
			<string>production/239/239972.basic.jpg</string>
			<key>proRelateIds</key>
			<string>193602,239971</string>
			<key>proShape</key>
			<string>女款</string>
			<key>proSize</key>
			<string>M</string>
			<key>proStyle</key>
			<string>N2</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>4</string>
			<key>showTypeName</key>
			<string>已极速发货，待用户晒单</string>
		</dict>
		<dict>
			<key>content</key>
			<string></string>
			<key>createDate</key>
			<string></string>
			<key>cusIcon</key>
			<string>https://wx.qlogo.cn/mmopen/vi_32/Q0j4TwGTfTLYyCt8bIeiaFRRibgtJdS5epLN3QzJibFbayEiblN8icYZHVNS8ick9MIam2Rcj4DDOcCEgp4X9ZJfCNgg/0</string>
			<key>cusId</key>
			<string></string>
			<key>cusName</key>
			<string>´ε｀</string>
			<key>id</key>
			<string></string>
			<key>modelCreateDate</key>
			<string>2017-10-13 11:17:14</string>
			<key>modelPic</key>
			<string>ordermodelpic/8b1c912e09fd4ef1ad8f3f0ad5809a51.jpg,ordermodelpic/f043dd88d0b1424ebf621adc0cb15a82.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/8b1c912e09fd4ef1ad8f3f0ad5809a51.jpg</string>
				<string>ordermodelpic/f043dd88d0b1424ebf621adc0cb15a82.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2017-11-11 18:51:57</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>10003</string>
			<key>proColor</key>
			<string>BK</string>
			<key>proCusIcon</key>
			<string>https://thirdwx.qlogo.cn/mmopen/vi_32/F8BuE1XlYGJ359EkryLSQ6GS6RIe03Nfklw8HX9GHAKA7oeibMJ8RibK2b0a0N1t48dG8Dh5HJ71T2pJRrqITAbQ/132</string>
			<key>proCusId</key>
			<string>100054</string>
			<key>proCusName</key>
			<string>Miss、谢</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>214876</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>休闲运动裤</string>
			<key>proPicture</key>
			<string>production/214/214876.basic.jpg</string>
			<key>proRelateIds</key>
			<string>193602,214875</string>
			<key>proShape</key>
			<string>女款</string>
			<key>proSize</key>
			<string>L</string>
			<key>proStyle</key>
			<string>N2</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>4</string>
			<key>showTypeName</key>
			<string>已极速发货，待用户晒单</string>
		</dict>
		<dict>
			<key>content</key>
			<string></string>
			<key>createDate</key>
			<string></string>
			<key>cusIcon</key>
			<string>https://thirdwx.qlogo.cn/mmopen/vi_32/DYAIOgq83epicibQKbtpVJpd365GWib6CK9kKuz0qKfkMkTLZJsNvDOsznSjcS5tjiafzBrmXr53PuicyVyJVOALLOA/132</string>
			<key>cusId</key>
			<string></string>
			<key>cusName</key>
			<string>唐唐</string>
			<key>id</key>
			<string></string>
			<key>modelCreateDate</key>
			<string>2017-11-15 18:49:42</string>
			<key>modelPic</key>
			<string>ordermodelpic/1d38f958307349a0b6a66785ea79cbcc.jpg,ordermodelpic/4a907f8f8921493dba898a0841be25dd.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/1d38f958307349a0b6a66785ea79cbcc.jpg</string>
				<string>ordermodelpic/4a907f8f8921493dba898a0841be25dd.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>1</string>
			<key>orderCreateDate</key>
			<string>2017-11-09 11:42:49</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>10003</string>
			<key>proColor</key>
			<string>BK</string>
			<key>proCusIcon</key>
			<string>https://thirdwx.qlogo.cn/mmopen/vi_32/DYAIOgq83epicibQKbtpVJpd365GWib6CK9kKuz0qKfkMkTLZJsNvDOsznSjcS5tjiafzBrmXr53PuicyVyJVOALLOA/132</string>
			<key>proCusId</key>
			<string>131458</string>
			<key>proCusName</key>
			<string>唐唐</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>234647</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>休闲运动裤</string>
			<key>proPicture</key>
			<string>production/234/234647.basic.jpg</string>
			<key>proRelateIds</key>
			<string>193602,234646</string>
			<key>proShape</key>
			<string>女款</string>
			<key>proSize</key>
			<string>L</string>
			<key>proStyle</key>
			<string>N2</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>4</string>
			<key>showTypeName</key>
			<string>已极速发货，待用户晒单</string>
		</dict>
		<dict>
			<key>content</key>
			<string></string>
			<key>createDate</key>
			<string></string>
			<key>cusIcon</key>
			<string>https://thirdwx.qlogo.cn/mmopen/vi_32/DYAIOgq83epicibQKbtpVJpd365GWib6CK9kKuz0qKfkMkTLZJsNvDOsznSjcS5tjiafzBrmXr53PuicyVyJVOALLOA/132</string>
			<key>cusId</key>
			<string></string>
			<key>cusName</key>
			<string>唐唐</string>
			<key>id</key>
			<string></string>
			<key>modelCreateDate</key>
			<string>2017-12-14 18:48:15</string>
			<key>modelPic</key>
			<string>ordermodelpic/41a8b4d948c048afae28b5b24d7f3fd1.jpg,ordermodelpic/dcf4be33809a408796ed44381be766f6.jpg,ordermodelpic/192a2bea9e304b59b896a72fd942c586.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/41a8b4d948c048afae28b5b24d7f3fd1.jpg</string>
				<string>ordermodelpic/dcf4be33809a408796ed44381be766f6.jpg</string>
				<string>ordermodelpic/192a2bea9e304b59b896a72fd942c586.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>1</string>
			<key>orderCreateDate</key>
			<string>2017-11-09 11:42:49</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>10003</string>
			<key>proColor</key>
			<string>BK</string>
			<key>proCusIcon</key>
			<string>https://thirdwx.qlogo.cn/mmopen/vi_32/DYAIOgq83epicibQKbtpVJpd365GWib6CK9kKuz0qKfkMkTLZJsNvDOsznSjcS5tjiafzBrmXr53PuicyVyJVOALLOA/132</string>
			<key>proCusId</key>
			<string>131458</string>
			<key>proCusName</key>
			<string>唐唐</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>234651</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>休闲运动裤</string>
			<key>proPicture</key>
			<string>production/234/234651.basic.jpg</string>
			<key>proRelateIds</key>
			<string>193059,234650</string>
			<key>proShape</key>
			<string>男款</string>
			<key>proSize</key>
			<string>XL</string>
			<key>proStyle</key>
			<string>N1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>4</string>
			<key>showTypeName</key>
			<string>已极速发货，待用户晒单</string>
		</dict>
		<dict>
			<key>content</key>
			<string>穿的挺舒服</string>
			<key>createDate</key>
			<string>2017-11-10 16:43:08</string>
			<key>cusIcon</key>
			<string>http://thirdqq.qlogo.cn/qqapp/1102018701/718200EC95E4AB7C5CD3EC276D72FEF2/100</string>
			<key>cusId</key>
			<string>130464</string>
			<key>cusName</key>
			<string>堕落的肚子</string>
			<key>id</key>
			<string>103618</string>
			<key>modelCreateDate</key>
			<string>2017-11-09 19:27:25</string>
			<key>modelPic</key>
			<string>ordermodelpic/38f3c42336f14df9a6479736f0257db3.jpg,ordermodelpic/02a6c931a30c4323b36115d35eb219de.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/38f3c42336f14df9a6479736f0257db3.jpg</string>
				<string>ordermodelpic/02a6c931a30c4323b36115d35eb219de.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2017-11-05 13:10:17</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>10003</string>
			<key>proColor</key>
			<string>BK</string>
			<key>proCusIcon</key>
			<string>customer/icon/2017/9/9ac7699560304ec9bc58894fcea8863b.jpg</string>
			<key>proCusId</key>
			<string>100968</string>
			<key>proCusName</key>
			<string>季男</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>193679</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>休闲运动裤</string>
			<key>proPicture</key>
			<string>production/193/193679.basic.jpg</string>
			<key>proRelateIds</key>
			<string>193059,193678</string>
			<key>proShape</key>
			<string>男款</string>
			<key>proSize</key>
			<string>XL</string>
			<key>proStyle</key>
			<string>N1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>2</string>
			<key>showTypeName</key>
			<string>堕落的肚子购买了设计师的作品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>真的不错</string>
			<key>createDate</key>
			<string>2017-11-10 15:25:02</string>
			<key>cusIcon</key>
			<string></string>
			<key>cusId</key>
			<string>130417</string>
			<key>cusName</key>
			<string>18261669581</string>
			<key>id</key>
			<string>103616</string>
			<key>modelCreateDate</key>
			<string>2017-11-09 19:28:19</string>
			<key>modelPic</key>
			<string>ordermodelpic/ee3a25a9e19e4ae0b5ddb888f309b7cc.jpg,ordermodelpic/1a7e841b85b244a0b7e4eebef15ccde1.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/ee3a25a9e19e4ae0b5ddb888f309b7cc.jpg</string>
				<string>ordermodelpic/1a7e841b85b244a0b7e4eebef15ccde1.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2017-11-04 22:41:46</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>10003</string>
			<key>proColor</key>
			<string>BK</string>
			<key>proCusIcon</key>
			<string></string>
			<key>proCusId</key>
			<string>130417</string>
			<key>proCusName</key>
			<string>18261669581</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>232241</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>休闲运动裤</string>
			<key>proPicture</key>
			<string>production/232/232241.basic.jpg</string>
			<key>proRelateIds</key>
			<string>193059,232240</string>
			<key>proShape</key>
			<string>男款</string>
			<key>proSize</key>
			<string>L</string>
			<key>proStyle</key>
			<string>N1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>0</string>
			<key>showTypeName</key>
			<string>18261669581定制了自己作品</string>
		</dict>
	</array>
	<key>lastTime</key>
	<string>1583570470306</string>
	<key>totalResult</key>
	<string>37</string>
</dict>
</plist>
