<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comments</key>
	<array>
		<dict>
			<key>content</key>
			<string>印花质量不错</string>
			<key>createDate</key>
			<string>2019-03-19 00:29:50</string>
			<key>cusIcon</key>
			<string>customer/icon/2015/12/d9ab24bc99ad4985a7e6fbea4ee7b1c7.png</string>
			<key>cusId</key>
			<string>101052</string>
			<key>cusName</key>
			<string>甜甜心</string>
			<key>id</key>
			<string>103854</string>
			<key>modelCreateDate</key>
			<string></string>
			<key>modelPic</key>
			<string></string>
			<key>modelPicArray</key>
			<array/>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2017-01-17 17:42:26</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1007</string>
			<key>proColor</key>
			<string>BK</string>
			<key>proCusIcon</key>
			<string>https://thirdwx.qlogo.cn/mmopen/vi_32/F8BuE1XlYGJ359EkryLSQ6GS6RIe03Nfklw8HX9GHAKA7oeibMJ8RibK2b0a0N1t48dG8Dh5HJ71T2pJRrqITAbQ/132</string>
			<key>proCusId</key>
			<string>100054</string>
			<key>proCusName</key>
			<string>Miss、谢</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>172280</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>OVERSIZET恤</string>
			<key>proPicture</key>
			<string>production/172/172280.basic.jpg</string>
			<key>proRelateIds</key>
			<string>117365,172278</string>
			<key>proShape</key>
			<string>女款</string>
			<key>proSize</key>
			<string>均码</string>
			<key>proStyle</key>
			<string>H2</string>
			<key>recommend</key>
			<string>1</string>
			<key>showType</key>
			<string>2</string>
			<key>showTypeName</key>
			<string>甜甜心购买了设计师的作品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>很帅的衣服，好评！质量也很好</string>
			<key>createDate</key>
			<string>2018-09-29 01:37:06</string>
			<key>cusIcon</key>
			<string>https://thirdwx.qlogo.cn/mmopen/vi_32/Q0j4TwGTfTLKl0ek8u8pLC5N9CC81UE7HCrnYyN9vCaRC9H0O7Cm5hEn9lTiaueggQ3tWDZK4EiaqsM2VAZlg1dw/132</string>
			<key>cusId</key>
			<string>148189</string>
			<key>cusName</key>
			<string>ian_lance</string>
			<key>id</key>
			<string>103820</string>
			<key>modelCreateDate</key>
			<string></string>
			<key>modelPic</key>
			<string></string>
			<key>modelPicArray</key>
			<array/>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2018-09-23 22:17:05</string>
			<key>pictures</key>
			<string>productionComment/218515/35547164851073_e06af8731ec24da5b76fc8f971b9126c.png</string>
			<key>picturesArray</key>
			<array>
				<string>productionComment/218515/35547164851073_e06af8731ec24da5b76fc8f971b9126c.png</string>
			</array>
			<key>proCategoryId</key>
			<string>1007</string>
			<key>proColor</key>
			<string>BK</string>
			<key>proCusIcon</key>
			<string>https://thirdwx.qlogo.cn/mmopen/vi_32/1YYLoiaw5Jj4RO0pQNOAhFqZLY1zn24JC8uJs8aUkjpwJDsW1YQcQ5deBiaRpcTpZiaxBhZpTlqdGz7xKicvFFX83w/132</string>
			<key>proCusId</key>
			<string>100850</string>
			<key>proCusName</key>
			<string>michelle_vegan</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>218515</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>OVERSIZET恤</string>
			<key>proPicture</key>
			<string>production/218/218515.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1035,218514</string>
			<key>proShape</key>
			<string>男款</string>
			<key>proSize</key>
			<string>均码</string>
			<key>proStyle</key>
			<string>H1</string>
			<key>recommend</key>
			<string>1</string>
			<key>showType</key>
			<string>2</string>
			<key>showTypeName</key>
			<string>ian_lance购买了设计师的作品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>印花质量很好，设计nice</string>
			<key>createDate</key>
			<string>2018-10-17 10:42:25</string>
			<key>cusIcon</key>
			<string>https://thirdwx.qlogo.cn/mmopen/vi_32/9Eg6Ok22UTbhibp6VFZ1eO4pmIWyHS0fJ9YVBll6zDGr038YVO40iboiaI0OwLIF06muHhj0OwlWOXjTO5LtyOE8Q/132</string>
			<key>cusId</key>
			<string>149117</string>
			<key>cusName</key>
			<string>隔壁的明³  ₃</string>
			<key>id</key>
			<string>103826</string>
			<key>modelCreateDate</key>
			<string></string>
			<key>modelPic</key>
			<string></string>
			<key>modelPicArray</key>
			<array/>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2018-10-07 17:18:30</string>
			<key>pictures</key>
			<string>productionComment/290083/35699700516737_cadf4ce20c884e9fabf6c2a9b9aede04.png</string>
			<key>picturesArray</key>
			<array>
				<string>productionComment/290083/35699700516737_cadf4ce20c884e9fabf6c2a9b9aede04.png</string>
			</array>
			<key>proCategoryId</key>
			<string>1007</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>https://thirdwx.qlogo.cn/mmopen/vi_32/9Eg6Ok22UTbhibp6VFZ1eO4pmIWyHS0fJ9YVBll6zDGr038YVO40iboiaI0OwLIF06muHhj0OwlWOXjTO5LtyOE8Q/132</string>
			<key>proCusId</key>
			<string>149117</string>
			<key>proCusName</key>
			<string>隔壁的明³  ₃</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>290083</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>OVERSIZET恤</string>
			<key>proPicture</key>
			<string>production/290/290083.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1034,290082</string>
			<key>proShape</key>
			<string>男款</string>
			<key>proSize</key>
			<string>均码</string>
			<key>proStyle</key>
			<string>H1</string>
			<key>recommend</key>
			<string>1</string>
			<key>showType</key>
			<string>0</string>
			<key>showTypeName</key>
			<string>隔壁的明³  ₃定制了自己作品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>奈斯～好喜欢！</string>
			<key>createDate</key>
			<string>2018-07-30 22:52:22</string>
			<key>cusIcon</key>
			<string>https://tvax1.sinaimg.cn/crop.0.0.996.996.180/0065iaH7ly8fngpg15nckj30ro0ro0vm.jpg</string>
			<key>cusId</key>
			<string>145471</string>
			<key>cusName</key>
			<string>GG_ONE</string>
			<key>id</key>
			<string>103789</string>
			<key>modelCreateDate</key>
			<string>2018-08-04 11:44:09</string>
			<key>modelPic</key>
			<string>ordermodelpic/df3bdd64288840fd880253f696d83552.jpg,ordermodelpic/2d6c098aec6c490985621410f3a65d07.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/df3bdd64288840fd880253f696d83552.jpg</string>
				<string>ordermodelpic/2d6c098aec6c490985621410f3a65d07.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2018-07-20 23:01:28</string>
			<key>pictures</key>
			<string>productionComment/277590/34828657778689_5ff931b93e8143119ef44ff75956cb21.png</string>
			<key>picturesArray</key>
			<array>
				<string>productionComment/277590/34828657778689_5ff931b93e8143119ef44ff75956cb21.png</string>
			</array>
			<key>proCategoryId</key>
			<string>1007</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>https://tvax1.sinaimg.cn/crop.0.0.996.996.180/0065iaH7ly8fngpg15nckj30ro0ro0vm.jpg</string>
			<key>proCusId</key>
			<string>145471</string>
			<key>proCusName</key>
			<string>GG_ONE</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>277590</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>OVERSIZET恤</string>
			<key>proPicture</key>
			<string>production/277/277590.basic.jpg</string>
			<key>proRelateIds</key>
			<string>117366,277588</string>
			<key>proShape</key>
			<string>女款</string>
			<key>proSize</key>
			<string>均码</string>
			<key>proStyle</key>
			<string>H2</string>
			<key>recommend</key>
			<string>1</string>
			<key>showType</key>
			<string>0</string>
			<key>showTypeName</key>
			<string>GG_ONE定制了自己作品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>艺术</string>
			<key>createDate</key>
			<string>2018-07-29 20:15:44</string>
			<key>cusIcon</key>
			<string>https://thirdwx.qlogo.cn/mmopen/vi_32/Q0j4TwGTfTIibashTHtGDWLC2XINvicAEadU73gkbR2icflyWlr4dyfb09J9g7SaB8mI2oUf817HQDnWn9oUZ3k4g/132</string>
			<key>cusId</key>
			<string>144914</string>
			<key>cusName</key>
			<string>gotubae</string>
			<key>id</key>
			<string>103788</string>
			<key>modelCreateDate</key>
			<string></string>
			<key>modelPic</key>
			<string></string>
			<key>modelPicArray</key>
			<array/>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2018-07-26 14:11:54</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1007</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>https://thirdwx.qlogo.cn/mmopen/vi_32/Q0j4TwGTfTIibashTHtGDWLC2XINvicAEadU73gkbR2icflyWlr4dyfb09J9g7SaB8mI2oUf817HQDnWn9oUZ3k4g/132</string>
			<key>proCusId</key>
			<string>144914</string>
			<key>proCusName</key>
			<string>gotubae</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>277905</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>OVERSIZET恤</string>
			<key>proPicture</key>
			<string>production/277/277905.basic.jpg</string>
			<key>proRelateIds</key>
			<string>117366,277904</string>
			<key>proShape</key>
			<string>女款</string>
			<key>proSize</key>
			<string>均码</string>
			<key>proStyle</key>
			<string>H2</string>
			<key>recommend</key>
			<string>1</string>
			<key>showType</key>
			<string>0</string>
			<key>showTypeName</key>
			<string>gotubae定制了自己作品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>包装精致 版型好看 搭配喜欢的图片和slogan 很喜欢 but 如果衣长能再长一点就更完美了</string>
			<key>createDate</key>
			<string>2018-07-08 01:11:31</string>
			<key>cusIcon</key>
			<string>https://tvax3.sinaimg.cn/crop.0.0.1125.1125.180/bed7033bly8ff8jvgwtnpj20v90v975p.jpg</string>
			<key>cusId</key>
			<string>133614</string>
			<key>cusName</key>
			<string>GG_原子弹</string>
			<key>id</key>
			<string>103783</string>
			<key>modelCreateDate</key>
			<string>2018-07-20 09:58:47</string>
			<key>modelPic</key>
			<string>ordermodelpic/ee2fb37359904f52b138861c150c1fba.jpg,ordermodelpic/260880b684404675a4449e7bba6041ad.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/ee2fb37359904f52b138861c150c1fba.jpg</string>
				<string>ordermodelpic/260880b684404675a4449e7bba6041ad.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2018-07-03 00:13:16</string>
			<key>pictures</key>
			<string>productionComment/273491/34630143601281_b77550ffbdb34294a1174d4596354f84.png,productionComment/273491/34630143601281_ec31938ea9d540dc86f1807f06b5f576.png</string>
			<key>picturesArray</key>
			<array>
				<string>productionComment/273491/34630143601281_b77550ffbdb34294a1174d4596354f84.png</string>
				<string>productionComment/273491/34630143601281_ec31938ea9d540dc86f1807f06b5f576.png</string>
			</array>
			<key>proCategoryId</key>
			<string>1007</string>
			<key>proColor</key>
			<string>BK</string>
			<key>proCusIcon</key>
			<string>https://tvax3.sinaimg.cn/crop.0.0.1125.1125.180/bed7033bly8ff8jvgwtnpj20v90v975p.jpg</string>
			<key>proCusId</key>
			<string>133614</string>
			<key>proCusName</key>
			<string>GG_原子弹</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>273491</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>OVERSIZET恤</string>
			<key>proPicture</key>
			<string>production/273/273491.basic.jpg</string>
			<key>proRelateIds</key>
			<string>117365,273490</string>
			<key>proShape</key>
			<string>女款</string>
			<key>proSize</key>
			<string>均码</string>
			<key>proStyle</key>
			<string>H2</string>
			<key>recommend</key>
			<string>1</string>
			<key>showType</key>
			<string>0</string>
			<key>showTypeName</key>
			<string>GG_原子弹定制了自己作品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>没有色差，印花很棒，不容易掉的那种，T恤料子薄但是不透，虽然现在热也很适合了，喜欢</string>
			<key>createDate</key>
			<string>2018-05-17 14:55:26</string>
			<key>cusIcon</key>
			<string>https://thirdqq.qlogo.cn/qqapp/1102018701/7BE18CF794EA9F84E247DB4D32C5777F/100</string>
			<key>cusId</key>
			<string>144240</string>
			<key>cusName</key>
			<string>zzzzzzzooooe</string>
			<key>id</key>
			<string>103745</string>
			<key>modelCreateDate</key>
			<string></string>
			<key>modelPic</key>
			<string></string>
			<key>modelPicArray</key>
			<array/>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2018-05-13 18:03:17</string>
			<key>pictures</key>
			<string>productionComment/267091/34074342032257_87de013cffbd4047902fc927b4caa809.jpg</string>
			<key>picturesArray</key>
			<array>
				<string>productionComment/267091/34074342032257_87de013cffbd4047902fc927b4caa809.jpg</string>
			</array>
			<key>proCategoryId</key>
			<string>1007</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>https://thirdqq.qlogo.cn/qqapp/1102018701/7BE18CF794EA9F84E247DB4D32C5777F/100</string>
			<key>proCusId</key>
			<string>144240</string>
			<key>proCusName</key>
			<string>zzzzzzzooooe</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>267091</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>OVERSIZET恤</string>
			<key>proPicture</key>
			<string>production/267/267091.basic.jpg</string>
			<key>proRelateIds</key>
			<string>117366,267090</string>
			<key>proShape</key>
			<string>女款</string>
			<key>proSize</key>
			<string>均码</string>
			<key>proStyle</key>
			<string>H2</string>
			<key>recommend</key>
			<string>1</string>
			<key>showType</key>
			<string>0</string>
			<key>showTypeName</key>
			<string>zzzzzzzooooe定制了自己作品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>非常喜欢！大爱</string>
			<key>createDate</key>
			<string>2018-03-19 20:17:11</string>
			<key>cusIcon</key>
			<string>customer/icon/2018/6/8fa1eb369d324b45bfb17c1f850f4837.png</string>
			<key>cusId</key>
			<string>134025</string>
			<key>cusName</key>
			<string>nobody_</string>
			<key>id</key>
			<string>103667</string>
			<key>modelCreateDate</key>
			<string></string>
			<key>modelPic</key>
			<string></string>
			<key>modelPicArray</key>
			<array/>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2018-03-14 19:41:51</string>
			<key>pictures</key>
			<string>productionComment/245541/33411547106433_54cc7dd796c24b6b8c0ba3a04ba64ee4.png,productionComment/245541/33411547106433_52c988f79eb74feba6edfda017903878.png</string>
			<key>picturesArray</key>
			<array>
				<string>productionComment/245541/33411547106433_54cc7dd796c24b6b8c0ba3a04ba64ee4.png</string>
				<string>productionComment/245541/33411547106433_52c988f79eb74feba6edfda017903878.png</string>
			</array>
			<key>proCategoryId</key>
			<string>1007</string>
			<key>proColor</key>
			<string>BK</string>
			<key>proCusIcon</key>
			<string>customer/icon/2018/6/8fa1eb369d324b45bfb17c1f850f4837.png</string>
			<key>proCusId</key>
			<string>134025</string>
			<key>proCusName</key>
			<string>nobody_</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>245541</string>
			<key>proIsRelease</key>
			<string>0</string>
			<key>proName</key>
			<string>OVERSIZET恤</string>
			<key>proPicture</key>
			<string>production/245/245541.basic.jpg</string>
			<key>proRelateIds</key>
			<string>117365,245539</string>
			<key>proShape</key>
			<string>女款</string>
			<key>proSize</key>
			<string>均码</string>
			<key>proStyle</key>
			<string>H2</string>
			<key>recommend</key>
			<string>1</string>
			<key>showType</key>
			<string>0</string>
			<key>showTypeName</key>
			<string>nobody_定制了自己作品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>质量很好 图案也不会掉</string>
			<key>createDate</key>
			<string>2018-03-03 23:13:27</string>
			<key>cusIcon</key>
			<string>customer/icon/2017/6/d6be0dd3f61f4669b4c9ec975a10dd4b.jpg</string>
			<key>cusId</key>
			<string>128471</string>
			<key>cusName</key>
			<string>0322</string>
			<key>id</key>
			<string>103665</string>
			<key>modelCreateDate</key>
			<string>2017-07-25 18:47:34</string>
			<key>modelPic</key>
			<string>ordermodelpic/a554975ef9a44e82b3b988df1b507acd.jpg,ordermodelpic/5df17f2820a443c48eee8707cda3ea6a.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/a554975ef9a44e82b3b988df1b507acd.jpg</string>
				<string>ordermodelpic/5df17f2820a443c48eee8707cda3ea6a.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2017-06-24 03:31:58</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1007</string>
			<key>proColor</key>
			<string>BK</string>
			<key>proCusIcon</key>
			<string>customer/icon/2017/6/d6be0dd3f61f4669b4c9ec975a10dd4b.jpg</string>
			<key>proCusId</key>
			<string>128471</string>
			<key>proCusName</key>
			<string>0322</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>218725</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>OVERSIZET恤</string>
			<key>proPicture</key>
			<string>production/218/218725.basic.jpg</string>
			<key>proRelateIds</key>
			<string>117365,218724</string>
			<key>proShape</key>
			<string>女款</string>
			<key>proSize</key>
			<string>均码</string>
			<key>proStyle</key>
			<string>H2</string>
			<key>recommend</key>
			<string>1</string>
			<key>showType</key>
			<string>0</string>
			<key>showTypeName</key>
			<string>0322定制了自己作品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>送表哥的礼物，他说给给的，我觉得很好看，嘻嘻。</string>
			<key>createDate</key>
			<string>2018-03-04 21:55:31</string>
			<key>cusIcon</key>
			<string>customer/icon/2018/2/a81f58b10c5940ff828736231e47f93a.jpg</string>
			<key>cusId</key>
			<string>133908</string>
			<key>cusName</key>
			<string>冬天快乐</string>
			<key>id</key>
			<string>103666</string>
			<key>modelCreateDate</key>
			<string></string>
			<key>modelPic</key>
			<string></string>
			<key>modelPicArray</key>
			<array/>
			<key>orderBuyType</key>
			<string>1</string>
			<key>orderCreateDate</key>
			<string>2018-02-28 20:34:26</string>
			<key>pictures</key>
			<string>productionComment/245199/33257122086657_e3e4809df6e745808cb8dcdfefb4ccc1.jpg</string>
			<key>picturesArray</key>
			<array>
				<string>productionComment/245199/33257122086657_e3e4809df6e745808cb8dcdfefb4ccc1.jpg</string>
			</array>
			<key>proCategoryId</key>
			<string>1007</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>customer/icon/2018/2/a81f58b10c5940ff828736231e47f93a.jpg</string>
			<key>proCusId</key>
			<string>133908</string>
			<key>proCusName</key>
			<string>冬天快乐</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>245199</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>OVERSIZET恤</string>
			<key>proPicture</key>
			<string>production/245/245199.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1034,245198</string>
			<key>proShape</key>
			<string>男款</string>
			<key>proSize</key>
			<string>均码</string>
			<key>proStyle</key>
			<string>H1</string>
			<key>recommend</key>
			<string>1</string>
			<key>showType</key>
			<string>1</string>
			<key>showTypeName</key>
			<string>冬天快乐定制了自己的作品作为礼品</string>
		</dict>
	</array>
	<key>lastTime</key>
	<string>1583570461335</string>
	<key>totalResult</key>
	<string>220</string>
</dict>
</plist>
