<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comments</key>
	<array>
		<dict>
			<key>content</key>
			<string>尺码有些偏小，其他挺好的，下次往大一号买就更完美了</string>
			<key>createDate</key>
			<string>2018-11-04 14:46:39</string>
			<key>cusIcon</key>
			<string>https://thirdqq.qlogo.cn/qqapp/1102018701/3009D1E76B48AB8DC512062E95AB9E9B/100</string>
			<key>cusId</key>
			<string>149426</string>
			<key>cusName</key>
			<string>cwj</string>
			<key>id</key>
			<string>103831</string>
			<key>modelCreateDate</key>
			<string></string>
			<key>modelPic</key>
			<string></string>
			<key>modelPicArray</key>
			<array/>
			<key>orderBuyType</key>
			<string>1</string>
			<key>orderCreateDate</key>
			<string>2018-10-24 16:52:51</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1003</string>
			<key>proColor</key>
			<string>BK</string>
			<key>proCusIcon</key>
			<string>https://thirdqq.qlogo.cn/qqapp/1102018701/3009D1E76B48AB8DC512062E95AB9E9B/100</string>
			<key>proCusId</key>
			<string>149426</string>
			<key>proCusName</key>
			<string>cwj</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>291639</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>圆领卫衣</string>
			<key>proPicture</key>
			<string>production/291/291639.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1013,291638</string>
			<key>proShape</key>
			<string>女款</string>
			<key>proSize</key>
			<string>M</string>
			<key>proStyle</key>
			<string>B2</string>
			<key>recommend</key>
			<string>1</string>
			<key>showType</key>
			<string>1</string>
			<key>showTypeName</key>
			<string>cwj定制了自己的作品作为礼品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>尺码有些偏小，其他挺好的，下次往大一号买就更完美了</string>
			<key>createDate</key>
			<string>2018-11-04 14:46:38</string>
			<key>cusIcon</key>
			<string>https://thirdqq.qlogo.cn/qqapp/1102018701/3009D1E76B48AB8DC512062E95AB9E9B/100</string>
			<key>cusId</key>
			<string>149426</string>
			<key>cusName</key>
			<string>cwj</string>
			<key>id</key>
			<string>103830</string>
			<key>modelCreateDate</key>
			<string></string>
			<key>modelPic</key>
			<string></string>
			<key>modelPicArray</key>
			<array/>
			<key>orderBuyType</key>
			<string>1</string>
			<key>orderCreateDate</key>
			<string>2018-10-24 16:52:51</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1003</string>
			<key>proColor</key>
			<string>BK</string>
			<key>proCusIcon</key>
			<string>https://thirdqq.qlogo.cn/qqapp/1102018701/3009D1E76B48AB8DC512062E95AB9E9B/100</string>
			<key>proCusId</key>
			<string>149426</string>
			<key>proCusName</key>
			<string>cwj</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>291640</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>圆领卫衣</string>
			<key>proPicture</key>
			<string>production/291/291640.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1010,291638</string>
			<key>proShape</key>
			<string>男款</string>
			<key>proSize</key>
			<string>M</string>
			<key>proStyle</key>
			<string>B1</string>
			<key>recommend</key>
			<string>1</string>
			<key>showType</key>
			<string>1</string>
			<key>showTypeName</key>
			<string>cwj定制了自己的作品作为礼品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>不错自己穿自己的衣服</string>
			<key>createDate</key>
			<string>2018-01-07 15:51:03</string>
			<key>cusIcon</key>
			<string>customer/icon/2017/11/046f71b63dfe4495beb0aeef76eea1ff.png</string>
			<key>cusId</key>
			<string>130378</string>
			<key>cusName</key>
			<string>尘纸围</string>
			<key>id</key>
			<string>103651</string>
			<key>modelCreateDate</key>
			<string>2018-01-05 14:37:36</string>
			<key>modelPic</key>
			<string>ordermodelpic/f41299e3698e477593291f2edd4dd699.jpg,ordermodelpic/9667b519dc99461f9711504984bd9364.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/f41299e3698e477593291f2edd4dd699.jpg</string>
				<string>ordermodelpic/9667b519dc99461f9711504984bd9364.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2018-01-03 16:28:59</string>
			<key>pictures</key>
			<string>productionComment/242155/32635921806337_340454a7cdb14a878632074cabffaed0.png</string>
			<key>picturesArray</key>
			<array>
				<string>productionComment/242155/32635921806337_340454a7cdb14a878632074cabffaed0.png</string>
			</array>
			<key>proCategoryId</key>
			<string>1003</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>customer/icon/2017/11/046f71b63dfe4495beb0aeef76eea1ff.png</string>
			<key>proCusId</key>
			<string>130378</string>
			<key>proCusName</key>
			<string>尘纸围</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>242155</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>圆领卫衣</string>
			<key>proPicture</key>
			<string>production/242/242155.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1011,242154</string>
			<key>proShape</key>
			<string>男款</string>
			<key>proSize</key>
			<string>L</string>
			<key>proStyle</key>
			<string>B1</string>
			<key>recommend</key>
			<string>1</string>
			<key>showType</key>
			<string>0</string>
			<key>showTypeName</key>
			<string>尘纸围定制了自己作品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>敲喜欢啊  一直都想要DIY情侣装，嘻嘻嘻  质量也超级好啊</string>
			<key>createDate</key>
			<string>2017-08-28 18:24:15</string>
			<key>cusIcon</key>
			<string>https://q.qlogo.cn/qqapp/1102018701/90F47E0DCB5069FC5477C26406073ED4/100</string>
			<key>cusId</key>
			<string>129286</string>
			<key>cusName</key>
			<string>De-lovely</string>
			<key>id</key>
			<string>103550</string>
			<key>modelCreateDate</key>
			<string></string>
			<key>modelPic</key>
			<string></string>
			<key>modelPicArray</key>
			<array/>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2017-08-23 08:07:49</string>
			<key>pictures</key>
			<string>productionComment/225841/31161199267969_9bfa69d73c804381bbce6d76660467ef.png</string>
			<key>picturesArray</key>
			<array>
				<string>productionComment/225841/31161199267969_9bfa69d73c804381bbce6d76660467ef.png</string>
			</array>
			<key>proCategoryId</key>
			<string>1003</string>
			<key>proColor</key>
			<string>BK</string>
			<key>proCusIcon</key>
			<string>https://q.qlogo.cn/qqapp/1102018701/90F47E0DCB5069FC5477C26406073ED4/100</string>
			<key>proCusId</key>
			<string>129286</string>
			<key>proCusName</key>
			<string>De-lovely</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>225841</string>
			<key>proIsRelease</key>
			<string>0</string>
			<key>proName</key>
			<string>圆领卫衣</string>
			<key>proPicture</key>
			<string>production/225/225841.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1010,225840</string>
			<key>proShape</key>
			<string>男款</string>
			<key>proSize</key>
			<string>M</string>
			<key>proStyle</key>
			<string>B1</string>
			<key>recommend</key>
			<string>1</string>
			<key>showType</key>
			<string>0</string>
			<key>showTypeName</key>
			<string>De-lovely定制了自己作品</string>
		</dict>
		<dict>
			<key>content</key>
			<string></string>
			<key>createDate</key>
			<string></string>
			<key>cusIcon</key>
			<string>https://thirdwx.qlogo.cn/mmopen/vi_32/FTUq4jzTwicwfvwg8mxtnDic6ABXRhIvWregkpYEeXNXKCvJdLnPP9XbXWx03THTL50AaiakYpvsxRiamp91xJwRlw/132</string>
			<key>cusId</key>
			<string></string>
			<key>cusName</key>
			<string>黑店小二</string>
			<key>id</key>
			<string></string>
			<key>modelCreateDate</key>
			<string>2019-04-15 19:29:06</string>
			<key>modelPic</key>
			<string>ordermodelpic/0988f2b70b3041cc8b455d0c40bf767b.jpg,ordermodelpic/ce7feed1c2694aae97e90f0095daaace.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/0988f2b70b3041cc8b455d0c40bf767b.jpg</string>
				<string>ordermodelpic/ce7feed1c2694aae97e90f0095daaace.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2019-04-14 12:27:50</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1003</string>
			<key>proColor</key>
			<string>BK</string>
			<key>proCusIcon</key>
			<string>https://thirdwx.qlogo.cn/mmopen/vi_32/FTUq4jzTwicwfvwg8mxtnDic6ABXRhIvWregkpYEeXNXKCvJdLnPP9XbXWx03THTL50AaiakYpvsxRiamp91xJwRlw/132</string>
			<key>proCusId</key>
			<string>149344</string>
			<key>proCusName</key>
			<string>黑店小二</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>298773</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>圆领卫衣</string>
			<key>proPicture</key>
			<string>production/298/298773.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1013,298772</string>
			<key>proShape</key>
			<string>女款</string>
			<key>proSize</key>
			<string>S</string>
			<key>proStyle</key>
			<string>B2</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>4</string>
			<key>showTypeName</key>
			<string>已极速发货，待用户晒单</string>
		</dict>
		<dict>
			<key>content</key>
			<string></string>
			<key>createDate</key>
			<string></string>
			<key>cusIcon</key>
			<string>customer/icon/2019/7/68364dba7706422b8c41a49729b507de.png</string>
			<key>cusId</key>
			<string></string>
			<key>cusName</key>
			<string>心止如水</string>
			<key>id</key>
			<string></string>
			<key>modelCreateDate</key>
			<string>2019-04-11 20:03:26</string>
			<key>modelPic</key>
			<string>ordermodelpic/70c09c21ce91480a84ef0ebd5571051a.jpg,ordermodelpic/dcdd64320f47482c898ca2c33e59b60f.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/70c09c21ce91480a84ef0ebd5571051a.jpg</string>
				<string>ordermodelpic/dcdd64320f47482c898ca2c33e59b60f.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2019-04-06 14:14:30</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1003</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>http://thirdwx.qlogo.cn/mmopen/vi_32/ibhZ9Yp1DuV7wWDOCvvH8FthDSiax6Ofap054oMyFF7Qmh3vy6WWR1XPA4HAgMNyXl9SPkb8sX8mfMj9TRHqQnOA/132</string>
			<key>proCusId</key>
			<string>149261</string>
			<key>proCusName</key>
			<string>小机灵鬼</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>298467</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>圆领卫衣</string>
			<key>proPicture</key>
			<string>production/298/298467.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1014,298466</string>
			<key>proShape</key>
			<string>女款</string>
			<key>proSize</key>
			<string>M</string>
			<key>proStyle</key>
			<string>B2</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>4</string>
			<key>showTypeName</key>
			<string>已极速发货，待用户晒单</string>
		</dict>
		<dict>
			<key>content</key>
			<string></string>
			<key>createDate</key>
			<string></string>
			<key>cusIcon</key>
			<string>customer/icon/2019/7/68364dba7706422b8c41a49729b507de.png</string>
			<key>cusId</key>
			<string></string>
			<key>cusName</key>
			<string>心止如水</string>
			<key>id</key>
			<string></string>
			<key>modelCreateDate</key>
			<string>2019-04-11 20:03:41</string>
			<key>modelPic</key>
			<string>ordermodelpic/c21b97713b4f403d83a32680f636853a.jpg,ordermodelpic/1a70a92c394040dc8edc8a692329a15c.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/c21b97713b4f403d83a32680f636853a.jpg</string>
				<string>ordermodelpic/1a70a92c394040dc8edc8a692329a15c.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2019-04-06 14:13:11</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1003</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>http://thirdwx.qlogo.cn/mmopen/vi_32/ibhZ9Yp1DuV7wWDOCvvH8FthDSiax6Ofap054oMyFF7Qmh3vy6WWR1XPA4HAgMNyXl9SPkb8sX8mfMj9TRHqQnOA/132</string>
			<key>proCusId</key>
			<string>149261</string>
			<key>proCusName</key>
			<string>小机灵鬼</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>298459</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>圆领卫衣</string>
			<key>proPicture</key>
			<string>production/298/298459.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1011,298458</string>
			<key>proShape</key>
			<string>男款</string>
			<key>proSize</key>
			<string>XL</string>
			<key>proStyle</key>
			<string>B1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>4</string>
			<key>showTypeName</key>
			<string>已极速发货，待用户晒单</string>
		</dict>
		<dict>
			<key>content</key>
			<string></string>
			<key>createDate</key>
			<string></string>
			<key>cusIcon</key>
			<string></string>
			<key>cusId</key>
			<string></string>
			<key>cusName</key>
			<string>teelab</string>
			<key>id</key>
			<string></string>
			<key>modelCreateDate</key>
			<string>2019-04-11 20:03:55</string>
			<key>modelPic</key>
			<string>ordermodelpic/456c4a6eadac49d78726b17692bf8a70.jpg,ordermodelpic/880f5bc58d1442868a180244f4a9b8f5.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/456c4a6eadac49d78726b17692bf8a70.jpg</string>
				<string>ordermodelpic/880f5bc58d1442868a180244f4a9b8f5.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string></string>
			<key>orderCreateDate</key>
			<string>2019-04-06 13:49:32</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1003</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>http://thirdwx.qlogo.cn/mmopen/vi_32/ibhZ9Yp1DuV7wWDOCvvH8FthDSiax6Ofap054oMyFF7Qmh3vy6WWR1XPA4HAgMNyXl9SPkb8sX8mfMj9TRHqQnOA/132</string>
			<key>proCusId</key>
			<string>149261</string>
			<key>proCusName</key>
			<string>小机灵鬼</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>298457</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>圆领卫衣</string>
			<key>proPicture</key>
			<string>production/298/298457.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1014,298456</string>
			<key>proShape</key>
			<string>女款</string>
			<key>proSize</key>
			<string>L</string>
			<key>proStyle</key>
			<string>B2</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>4</string>
			<key>showTypeName</key>
			<string>已极速发货，待用户晒单</string>
		</dict>
		<dict>
			<key>content</key>
			<string></string>
			<key>createDate</key>
			<string></string>
			<key>cusIcon</key>
			<string>http://thirdwx.qlogo.cn/mmopen/vi_32/xyjORojkoLz2HfDKlQVYwF3QgUJyERMVia5LNyLDSDj6Keu9ibZHB2szd6x7x5vjySk2NibLpb9Nr4Tvzc0uLR4pA/132</string>
			<key>cusId</key>
			<string></string>
			<key>cusName</key>
			<string>杨成雨</string>
			<key>id</key>
			<string></string>
			<key>modelCreateDate</key>
			<string>2019-03-16 18:14:03</string>
			<key>modelPic</key>
			<string>ordermodelpic/a949877c416e4a4a8c8386b72eb078e3.jpg,ordermodelpic/3876fea1a7f44b84a4b028907bc3119d.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/a949877c416e4a4a8c8386b72eb078e3.jpg</string>
				<string>ordermodelpic/3876fea1a7f44b84a4b028907bc3119d.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2019-03-09 12:12:08</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1003</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>https://thirdwx.qlogo.cn/mmopen/vi_32/1YYLoiaw5Jj4RO0pQNOAhFqZLY1zn24JC8uJs8aUkjpwJDsW1YQcQ5deBiaRpcTpZiaxBhZpTlqdGz7xKicvFFX83w/132</string>
			<key>proCusId</key>
			<string>100850</string>
			<key>proCusName</key>
			<string>michelle_vegan</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>297499</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>圆领卫衣</string>
			<key>proPicture</key>
			<string>production/297/297499.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1011,297496</string>
			<key>proShape</key>
			<string>男款</string>
			<key>proSize</key>
			<string>XL</string>
			<key>proStyle</key>
			<string>B1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>4</string>
			<key>showTypeName</key>
			<string>已极速发货，待用户晒单</string>
		</dict>
		<dict>
			<key>content</key>
			<string>应该挺好的吧</string>
			<key>createDate</key>
			<string>2019-03-01 19:42:35</string>
			<key>cusIcon</key>
			<string>customer/icon/2019/2/ac0d26d56031455d8bc3c6192d628e49.jpg</string>
			<key>cusId</key>
			<string>133826</string>
			<key>cusName</key>
			<string>13486918940</string>
			<key>id</key>
			<string>103843</string>
			<key>modelCreateDate</key>
			<string>2019-03-09 19:07:20</string>
			<key>modelPic</key>
			<string>ordermodelpic/5952f7e195fd4590a58a0e5509a50862.jpg,ordermodelpic/596e248b74784974af946560b1365c43.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/5952f7e195fd4590a58a0e5509a50862.jpg</string>
				<string>ordermodelpic/596e248b74784974af946560b1365c43.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>1</string>
			<key>orderCreateDate</key>
			<string>2019-02-25 17:31:48</string>
			<key>pictures</key>
			<string>productionComment/297137/37259149931777_7764a0c6f56c4d97b8c6271ecb89c68e.jpg</string>
			<key>picturesArray</key>
			<array>
				<string>productionComment/297137/37259149931777_7764a0c6f56c4d97b8c6271ecb89c68e.jpg</string>
			</array>
			<key>proCategoryId</key>
			<string>1003</string>
			<key>proColor</key>
			<string>BK</string>
			<key>proCusIcon</key>
			<string>customer/icon/2019/2/ac0d26d56031455d8bc3c6192d628e49.jpg</string>
			<key>proCusId</key>
			<string>133826</string>
			<key>proCusName</key>
			<string>13486918940</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>297137</string>
			<key>proIsRelease</key>
			<string>0</string>
			<key>proName</key>
			<string>圆领卫衣</string>
			<key>proPicture</key>
			<string>production/297/297137.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1013,297136</string>
			<key>proShape</key>
			<string>女款</string>
			<key>proSize</key>
			<string>M</string>
			<key>proStyle</key>
			<string>B2</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>1</string>
			<key>showTypeName</key>
			<string>13486918940定制了自己的作品作为礼品</string>
		</dict>
	</array>
	<key>lastTime</key>
	<string>1583570481064</string>
	<key>totalResult</key>
	<string>100</string>
</dict>
</plist>
