<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comments</key>
	<array>
		<dict>
			<key>content</key>
			<string>印花打印出来很高清，布料触到皮肤很舒服，下次再来买。</string>
			<key>createDate</key>
			<string>2019-04-13 10:39:48</string>
			<key>cusIcon</key>
			<string>customer/icon/2016/10/7a513f4bd11b479b815cea201e2f5e6b.png</string>
			<key>cusId</key>
			<string>101040</string>
			<key>cusName</key>
			<string>王三岁</string>
			<key>id</key>
			<string>103861</string>
			<key>modelCreateDate</key>
			<string>2019-04-13 09:38:56</string>
			<key>modelPic</key>
			<string>ordermodelpic/ff96cce494184b9398d4b08691924633.jpg,ordermodelpic/6111234d6ed34a0f89717919e0231ef9.jpg,ordermodelpic/a94eb929259b4f77973948424ff86484.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/ff96cce494184b9398d4b08691924633.jpg</string>
				<string>ordermodelpic/6111234d6ed34a0f89717919e0231ef9.jpg</string>
				<string>ordermodelpic/a94eb929259b4f77973948424ff86484.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2019-04-12 20:41:55</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1000</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>customer/icon/2016/10/7a513f4bd11b479b815cea201e2f5e6b.png</string>
			<key>proCusId</key>
			<string>101040</string>
			<key>proCusName</key>
			<string>王三岁</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>298702</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>精棉T恤</string>
			<key>proPicture</key>
			<string>production/298/298702.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1005,298701</string>
			<key>proShape</key>
			<string>女款</string>
			<key>proSize</key>
			<string>M</string>
			<key>proStyle</key>
			<string>A2</string>
			<key>recommend</key>
			<string>1</string>
			<key>showType</key>
			<string>0</string>
			<key>showTypeName</key>
			<string>王三岁定制了自己作品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>质量非常可以！图案清晰，料子是光滑的那种，有品质感。朋友收到很喜欢，作为礼品赠送的话，放心</string>
			<key>createDate</key>
			<string>2019-03-19 07:24:18</string>
			<key>cusIcon</key>
			<string>customer/icon/2015/12/ecf19c14c8424d51b110e8b522bf9494.png</string>
			<key>cusId</key>
			<string>101049</string>
			<key>cusName</key>
			<string>漂流de</string>
			<key>id</key>
			<string>103857</string>
			<key>modelCreateDate</key>
			<string>2019-03-18 14:03:49</string>
			<key>modelPic</key>
			<string>ordermodelpic/599c0f2e4ec9460eb135ade86a8537f2.jpg,ordermodelpic/bc484dc242094b419c9a7bc56c230083.jpg,ordermodelpic/5415d215db8a4791a961bb394efa9098.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/599c0f2e4ec9460eb135ade86a8537f2.jpg</string>
				<string>ordermodelpic/bc484dc242094b419c9a7bc56c230083.jpg</string>
				<string>ordermodelpic/5415d215db8a4791a961bb394efa9098.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2019-03-18 12:00:17</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1000</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>customer/icon/2015/12/ecf19c14c8424d51b110e8b522bf9494.png</string>
			<key>proCusId</key>
			<string>101049</string>
			<key>proCusName</key>
			<string>漂流de</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>297795</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>精棉T恤</string>
			<key>proPicture</key>
			<string>production/297/297795.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1002,297794</string>
			<key>proShape</key>
			<string>男款</string>
			<key>proSize</key>
			<string>M</string>
			<key>proStyle</key>
			<string>A1</string>
			<key>recommend</key>
			<string>1</string>
			<key>showType</key>
			<string>0</string>
			<key>showTypeName</key>
			<string>漂流de定制了自己作品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>衣服好看，布料穿起来很舒服，图案打印的很清晰，很鲜艳。</string>
			<key>createDate</key>
			<string>2019-03-18 14:54:05</string>
			<key>cusIcon</key>
			<string>customer/icon/2015/12/ce09a2667f874fe8bacbd0064387d334.png</string>
			<key>cusId</key>
			<string>101031</string>
			<key>cusName</key>
			<string>流浪猫</string>
			<key>id</key>
			<string>103848</string>
			<key>modelCreateDate</key>
			<string>2019-03-18 14:00:07</string>
			<key>modelPic</key>
			<string>ordermodelpic/ae0abaffb04d44a0b8658911821957bb.jpg,ordermodelpic/a4fd68597f0e4690a809851763fd6f0d.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/ae0abaffb04d44a0b8658911821957bb.jpg</string>
				<string>ordermodelpic/a4fd68597f0e4690a809851763fd6f0d.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>1</string>
			<key>orderCreateDate</key>
			<string>2019-03-18 13:51:54</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1000</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>customer/icon/2015/12/ce09a2667f874fe8bacbd0064387d334.png</string>
			<key>proCusId</key>
			<string>101031</string>
			<key>proCusName</key>
			<string>流浪猫</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>297826</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>精棉T恤</string>
			<key>proPicture</key>
			<string>production/297/297826.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1005,297825</string>
			<key>proShape</key>
			<string>女款</string>
			<key>proSize</key>
			<string>XL</string>
			<key>proStyle</key>
			<string>A2</string>
			<key>recommend</key>
			<string>1</string>
			<key>showType</key>
			<string>1</string>
			<key>showTypeName</key>
			<string>流浪猫定制了自己的作品作为礼品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>衣服穿起来很舒服，图案还原度很高，还有贺卡送，五星好评。</string>
			<key>createDate</key>
			<string>2019-03-18 14:56:05</string>
			<key>cusIcon</key>
			<string>customer/icon/2015/12/ce09a2667f874fe8bacbd0064387d334.png</string>
			<key>cusId</key>
			<string>101031</string>
			<key>cusName</key>
			<string>流浪猫</string>
			<key>id</key>
			<string>103851</string>
			<key>modelCreateDate</key>
			<string>2019-03-18 14:13:33</string>
			<key>modelPic</key>
			<string>ordermodelpic/c566f45754ac42fea65d0cb8d9c874a3.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/c566f45754ac42fea65d0cb8d9c874a3.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>1</string>
			<key>orderCreateDate</key>
			<string>2019-03-18 14:12:46</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1000</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>customer/icon/2015/12/ce09a2667f874fe8bacbd0064387d334.png</string>
			<key>proCusId</key>
			<string>101031</string>
			<key>proCusName</key>
			<string>流浪猫</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>297831</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>精棉T恤</string>
			<key>proPicture</key>
			<string>production/297/297831.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1005,297830</string>
			<key>proShape</key>
			<string>女款</string>
			<key>proSize</key>
			<string>XL</string>
			<key>proStyle</key>
			<string>A2</string>
			<key>recommend</key>
			<string>1</string>
			<key>showType</key>
			<string>1</string>
			<key>showTypeName</key>
			<string>流浪猫定制了自己的作品作为礼品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>棒！</string>
			<key>createDate</key>
			<string>2018-10-12 13:05:27</string>
			<key>cusIcon</key>
			<string>https://tvax3.sinaimg.cn/crop.0.7.1242.1242.180/ea0364f1ly8fos0e3xf3xj20yi0ywtb5.jpg</string>
			<key>cusId</key>
			<string>149388</string>
			<key>cusName</key>
			<string>甜心小野牛</string>
			<key>id</key>
			<string>103822</string>
			<key>modelCreateDate</key>
			<string></string>
			<key>modelPic</key>
			<string></string>
			<key>modelPicArray</key>
			<array/>
			<key>orderBuyType</key>
			<string>1</string>
			<key>orderCreateDate</key>
			<string>2018-10-10 09:08:41</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1000</string>
			<key>proColor</key>
			<string>BK</string>
			<key>proCusIcon</key>
			<string>https://tvax3.sinaimg.cn/crop.0.7.1242.1242.180/ea0364f1ly8fos0e3xf3xj20yi0ywtb5.jpg</string>
			<key>proCusId</key>
			<string>149388</string>
			<key>proCusName</key>
			<string>甜心小野牛</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>290429</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>精棉T恤</string>
			<key>proPicture</key>
			<string>production/290/290429.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1001,290428</string>
			<key>proShape</key>
			<string>男款</string>
			<key>proSize</key>
			<string>L</string>
			<key>proStyle</key>
			<string>A1</string>
			<key>recommend</key>
			<string>1</string>
			<key>showType</key>
			<string>1</string>
			<key>showTypeName</key>
			<string>甜心小野牛定制了自己的作品作为礼品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>喜欢55555！！！质量超好！</string>
			<key>createDate</key>
			<string>2018-08-13 19:26:33</string>
			<key>cusIcon</key>
			<string>http://thirdwx.qlogo.cn/mmopen/vi_32/Q0j4TwGTfTItrNwIpibmzqVG91AaapswGBXcvsrZeSztm8v2Zukv6TZFr6vLejyOaQDUdn8Ig8B0XLQVgAbZ08Q/132</string>
			<key>cusId</key>
			<string>145607</string>
			<key>cusName</key>
			<string>屁屁刻</string>
			<key>id</key>
			<string>103794</string>
			<key>modelCreateDate</key>
			<string></string>
			<key>modelPic</key>
			<string></string>
			<key>modelPicArray</key>
			<array/>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2018-08-09 22:16:02</string>
			<key>pictures</key>
			<string>productionComment/278993/35049492833665_a112e28aa4634ffdb7680e47ab4520a8.png,productionComment/278993/35049492833665_78909428872846f79700dddcda905ad5.png</string>
			<key>picturesArray</key>
			<array>
				<string>productionComment/278993/35049492833665_a112e28aa4634ffdb7680e47ab4520a8.png</string>
				<string>productionComment/278993/35049492833665_78909428872846f79700dddcda905ad5.png</string>
			</array>
			<key>proCategoryId</key>
			<string>1000</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>http://thirdwx.qlogo.cn/mmopen/vi_32/Q0j4TwGTfTItrNwIpibmzqVG91AaapswGBXcvsrZeSztm8v2Zukv6TZFr6vLejyOaQDUdn8Ig8B0XLQVgAbZ08Q/132</string>
			<key>proCusId</key>
			<string>145607</string>
			<key>proCusName</key>
			<string>屁屁刻</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>278993</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>精棉T恤</string>
			<key>proPicture</key>
			<string>production/278/278993.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1002,278992</string>
			<key>proShape</key>
			<string>男款</string>
			<key>proSize</key>
			<string>2XL</string>
			<key>proStyle</key>
			<string>A1</string>
			<key>recommend</key>
			<string>1</string>
			<key>showType</key>
			<string>0</string>
			<key>showTypeName</key>
			<string>屁屁刻定制了自己作品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>超级棒的(´-ω-`)</string>
			<key>createDate</key>
			<string>2018-08-04 15:35:15</string>
			<key>cusIcon</key>
			<string>http://thirdqq.qlogo.cn/g?b=oidb&amp;k=h6bateAgrDmlkyyzfABibIQ&amp;s=100</string>
			<key>cusId</key>
			<string>145213</string>
			<key>cusName</key>
			<string>Melt</string>
			<key>id</key>
			<string>103792</string>
			<key>modelCreateDate</key>
			<string>2018-08-04 11:42:48</string>
			<key>modelPic</key>
			<string>ordermodelpic/84d0cae18b5e4606b63fc68cc66b8d96.jpg,ordermodelpic/641dc0346d1147f2872978bef1c251c2.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/84d0cae18b5e4606b63fc68cc66b8d96.jpg</string>
				<string>ordermodelpic/641dc0346d1147f2872978bef1c251c2.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2018-07-30 18:16:54</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1000</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>http://thirdqq.qlogo.cn/g?b=oidb&amp;k=h6bateAgrDmlkyyzfABibIQ&amp;s=100</string>
			<key>proCusId</key>
			<string>145213</string>
			<key>proCusName</key>
			<string>Melt</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>278277</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>精棉T恤</string>
			<key>proPicture</key>
			<string>production/278/278277.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1002,278276</string>
			<key>proShape</key>
			<string>男款</string>
			<key>proSize</key>
			<string>3XL</string>
			<key>proStyle</key>
			<string>A1</string>
			<key>recommend</key>
			<string>1</string>
			<key>showType</key>
			<string>0</string>
			<key>showTypeName</key>
			<string>Melt定制了自己作品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>这就可以！</string>
			<key>createDate</key>
			<string>2018-06-23 19:07:22</string>
			<key>cusIcon</key>
			<string>https://thirdwx.qlogo.cn/mmopen/vi_32/DYAIOgq83epbNX92TmF88g6UFfibRJ9jbCqQricBFVuk8hAvljWmvEfEjfaBCUUIPCibZM0yaibQduIE09LmjR8USg/132</string>
			<key>cusId</key>
			<string>145087</string>
			<key>cusName</key>
			<string>馬某人</string>
			<key>id</key>
			<string>103775</string>
			<key>modelCreateDate</key>
			<string>2018-07-20 10:03:51</string>
			<key>modelPic</key>
			<string>ordermodelpic/5d96e1717ba747bd932629560fee5832.jpg,ordermodelpic/5dae2fbbb9a2425eaf9321e140624047.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/5d96e1717ba747bd932629560fee5832.jpg</string>
				<string>ordermodelpic/5dae2fbbb9a2425eaf9321e140624047.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2018-06-21 13:37:55</string>
			<key>pictures</key>
			<string>productionComment/272620/34503612842881_d5a93bd277b64aa0add57772ef674837.png</string>
			<key>picturesArray</key>
			<array>
				<string>productionComment/272620/34503612842881_d5a93bd277b64aa0add57772ef674837.png</string>
			</array>
			<key>proCategoryId</key>
			<string>1000</string>
			<key>proColor</key>
			<string>BK</string>
			<key>proCusIcon</key>
			<string>https://thirdwx.qlogo.cn/mmopen/vi_32/DYAIOgq83epbNX92TmF88g6UFfibRJ9jbCqQricBFVuk8hAvljWmvEfEjfaBCUUIPCibZM0yaibQduIE09LmjR8USg/132</string>
			<key>proCusId</key>
			<string>145087</string>
			<key>proCusName</key>
			<string>馬某人</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>272620</string>
			<key>proIsRelease</key>
			<string>0</string>
			<key>proName</key>
			<string>精棉T恤</string>
			<key>proPicture</key>
			<string>production/272/272620.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1001,272619</string>
			<key>proShape</key>
			<string>男款</string>
			<key>proSize</key>
			<string>3XL</string>
			<key>proStyle</key>
			<string>A1</string>
			<key>recommend</key>
			<string>1</string>
			<key>showType</key>
			<string>0</string>
			<key>showTypeName</key>
			<string>馬某人定制了自己作品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>去改了一下长度~</string>
			<key>createDate</key>
			<string>2018-06-06 01:40:16</string>
			<key>cusIcon</key>
			<string>https://thirdwx.qlogo.cn/mmopen/vi_32/Q0j4TwGTfTIwX34ia7XZUKCYrUw1C5wbUXKlHFkbiczUibDBAY5YoUibgyfOUZTvXicQHbjDXJ9EY3Y2rVAmUbyuA2w/132</string>
			<key>cusId</key>
			<string>144456</string>
			<key>cusName</key>
			<string>鱿鱼（死了</string>
			<key>id</key>
			<string>103763</string>
			<key>modelCreateDate</key>
			<string></string>
			<key>modelPic</key>
			<string></string>
			<key>modelPicArray</key>
			<array/>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2018-05-17 18:54:28</string>
			<key>pictures</key>
			<string>productionComment/268223/34118971934465_ef02e2d9e6b547c198313c0871d3b1a0.png</string>
			<key>picturesArray</key>
			<array>
				<string>productionComment/268223/34118971934465_ef02e2d9e6b547c198313c0871d3b1a0.png</string>
			</array>
			<key>proCategoryId</key>
			<string>1000</string>
			<key>proColor</key>
			<string>BK</string>
			<key>proCusIcon</key>
			<string>https://thirdwx.qlogo.cn/mmopen/vi_32/Q0j4TwGTfTIwX34ia7XZUKCYrUw1C5wbUXKlHFkbiczUibDBAY5YoUibgyfOUZTvXicQHbjDXJ9EY3Y2rVAmUbyuA2w/132</string>
			<key>proCusId</key>
			<string>144456</string>
			<key>proCusName</key>
			<string>鱿鱼（死了</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>268223</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>精棉T恤</string>
			<key>proPicture</key>
			<string>production/268/268223.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1001,268208</string>
			<key>proShape</key>
			<string>男款</string>
			<key>proSize</key>
			<string>M</string>
			<key>proStyle</key>
			<string>A1</string>
			<key>recommend</key>
			<string>1</string>
			<key>showType</key>
			<string>0</string>
			<key>showTypeName</key>
			<string>鱿鱼（死了定制了自己作品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>意外得还不错！好评啦！</string>
			<key>createDate</key>
			<string>2018-05-23 22:52:00</string>
			<key>cusIcon</key>
			<string>https://thirdwx.qlogo.cn/mmopen/vi_32/Q0j4TwGTfTJiaZlM5Jfa8nSZs9W8UicE8qoiakwDgmj86wTNUxms1Z5EhxOia8nZ35wHjKib6GtOcI4b3zX7q2yAfUg/132</string>
			<key>cusId</key>
			<string>141264</string>
			<key>cusName</key>
			<string>解忧杂货铺</string>
			<key>id</key>
			<string>103754</string>
			<key>modelCreateDate</key>
			<string>2018-06-05 17:29:08</string>
			<key>modelPic</key>
			<string>ordermodelpic/1bab9b881f0a42dbaf1bed8a5cecdf4b.jpg,ordermodelpic/3c1bc2cb6bef4b1cb36c7d12d04ebafe.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/1bab9b881f0a42dbaf1bed8a5cecdf4b.jpg</string>
				<string>ordermodelpic/3c1bc2cb6bef4b1cb36c7d12d04ebafe.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2018-05-18 20:45:20</string>
			<key>pictures</key>
			<string>productionComment/267804/34130882627969_828c829d29b845629126218f40399f1d.png</string>
			<key>picturesArray</key>
			<array>
				<string>productionComment/267804/34130882627969_828c829d29b845629126218f40399f1d.png</string>
			</array>
			<key>proCategoryId</key>
			<string>1000</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>https://thirdwx.qlogo.cn/mmopen/vi_32/Q0j4TwGTfTJiaZlM5Jfa8nSZs9W8UicE8qoiakwDgmj86wTNUxms1Z5EhxOia8nZ35wHjKib6GtOcI4b3zX7q2yAfUg/132</string>
			<key>proCusId</key>
			<string>141264</string>
			<key>proCusName</key>
			<string>解忧杂货铺</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>267804</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>精棉T恤</string>
			<key>proPicture</key>
			<string>production/267/267804.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1002,267801</string>
			<key>proShape</key>
			<string>男款</string>
			<key>proSize</key>
			<string>2XL</string>
			<key>proStyle</key>
			<string>A1</string>
			<key>recommend</key>
			<string>1</string>
			<key>showType</key>
			<string>0</string>
			<key>showTypeName</key>
			<string>解忧杂货铺定制了自己作品</string>
		</dict>
	</array>
	<key>lastTime</key>
	<string>1583570453716</string>
	<key>totalResult</key>
	<string>314</string>
</dict>
</plist>
