<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comments</key>
	<array>
		<dict>
			<key>content</key>
			<string>礼物</string>
			<key>createDate</key>
			<string>2018-11-28 10:27:07</string>
			<key>cusIcon</key>
			<string>https://tva2.sinaimg.cn/crop.0.0.180.180.180/a0071c68jw1e8qgp5bmzyj2050050aa8.jpg</string>
			<key>cusId</key>
			<string>149757</string>
			<key>cusName</key>
			<string>卡樂B-</string>
			<key>id</key>
			<string>103835</string>
			<key>modelCreateDate</key>
			<string></string>
			<key>modelPic</key>
			<string></string>
			<key>modelPicArray</key>
			<array/>
			<key>orderBuyType</key>
			<string>1</string>
			<key>orderCreateDate</key>
			<string>2018-11-21 13:38:55</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1011</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>https://tva2.sinaimg.cn/crop.0.0.180.180.180/a0071c68jw1e8qgp5bmzyj2050050aa8.jpg</string>
			<key>proCusId</key>
			<string>149757</string>
			<key>proCusName</key>
			<string>卡樂B-</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>292487</string>
			<key>proIsRelease</key>
			<string>0</string>
			<key>proName</key>
			<string>有机棉围兜</string>
			<key>proPicture</key>
			<string>production/292/292487.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1045,292486</string>
			<key>proShape</key>
			<string>基本款</string>
			<key>proSize</key>
			<string>均码</string>
			<key>proStyle</key>
			<string>K1</string>
			<key>recommend</key>
			<string>1</string>
			<key>showType</key>
			<string>1</string>
			<key>showTypeName</key>
			<string>卡樂B-定制了自己的作品作为礼品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>样子好看，朋友喜欢(｡･ω･｡)ﾉ♡</string>
			<key>createDate</key>
			<string>2018-06-08 09:20:23</string>
			<key>cusIcon</key>
			<string>customer/icon/2018/6/5aa2b211c2cc4a4bafd974d2b611c4bf.jpg</string>
			<key>cusId</key>
			<string>106686</string>
			<key>cusName</key>
			<string>末为</string>
			<key>id</key>
			<string>103765</string>
			<key>modelCreateDate</key>
			<string>2018-06-08 17:19:41</string>
			<key>modelPic</key>
			<string>ordermodelpic/37697b88327c4807820fe7610e911f73.jpg,ordermodelpic/93da6cf34fe34933a7646487ef853b9c.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/37697b88327c4807820fe7610e911f73.jpg</string>
				<string>ordermodelpic/93da6cf34fe34933a7646487ef853b9c.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>1</string>
			<key>orderCreateDate</key>
			<string>2018-06-03 22:14:03</string>
			<key>pictures</key>
			<string>productionComment/270966/34308511224321_b3176ed6fa06480ab4d8cc99d09e5027.jpg</string>
			<key>picturesArray</key>
			<array>
				<string>productionComment/270966/34308511224321_b3176ed6fa06480ab4d8cc99d09e5027.jpg</string>
			</array>
			<key>proCategoryId</key>
			<string>1011</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>customer/icon/2018/6/5aa2b211c2cc4a4bafd974d2b611c4bf.jpg</string>
			<key>proCusId</key>
			<string>106686</string>
			<key>proCusName</key>
			<string>末为</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>270966</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>有机棉围兜</string>
			<key>proPicture</key>
			<string>production/270/270966.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1045,270965</string>
			<key>proShape</key>
			<string>基本款</string>
			<key>proSize</key>
			<string>均码</string>
			<key>proStyle</key>
			<string>K1</string>
			<key>recommend</key>
			<string>1</string>
			<key>showType</key>
			<string>1</string>
			<key>showTypeName</key>
			<string>末为定制了自己的作品作为礼品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>啦啦啦啦啦啦给小宝贝的礼物</string>
			<key>createDate</key>
			<string>2018-01-01 11:57:05</string>
			<key>cusIcon</key>
			<string>https://tvax1.sinaimg.cn/crop.0.1.510.510.180/006vBf5Rly8ff2lqpkfpxj30e60e8mxf.jpg</string>
			<key>cusId</key>
			<string>133162</string>
			<key>cusName</key>
			<string>Marcylli</string>
			<key>id</key>
			<string>103645</string>
			<key>modelCreateDate</key>
			<string>2017-12-26 16:08:31</string>
			<key>modelPic</key>
			<string>ordermodelpic/789d8866d4214664a5d2af05339249b2.jpg,ordermodelpic/82481d65e1b94da7a2373d0e3297013f.jpg,ordermodelpic/13f82a2190ae445bb9b0e2537776ee23.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/789d8866d4214664a5d2af05339249b2.jpg</string>
				<string>ordermodelpic/82481d65e1b94da7a2373d0e3297013f.jpg</string>
				<string>ordermodelpic/13f82a2190ae445bb9b0e2537776ee23.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2017-12-22 16:40:59</string>
			<key>pictures</key>
			<string>productionComment/240969/32503303588993_bd128ae4fc4044b9b919cf78dad515d1.png,productionComment/240969/32503303588993_72ac19b6575f4fffbacedaa8028eb1c5.png</string>
			<key>picturesArray</key>
			<array>
				<string>productionComment/240969/32503303588993_bd128ae4fc4044b9b919cf78dad515d1.png</string>
				<string>productionComment/240969/32503303588993_72ac19b6575f4fffbacedaa8028eb1c5.png</string>
			</array>
			<key>proCategoryId</key>
			<string>1011</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>https://tvax1.sinaimg.cn/crop.0.1.510.510.180/006vBf5Rly8ff2lqpkfpxj30e60e8mxf.jpg</string>
			<key>proCusId</key>
			<string>133162</string>
			<key>proCusName</key>
			<string>Marcylli</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>240969</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>有机棉围兜</string>
			<key>proPicture</key>
			<string>production/240/240969.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1045,240968</string>
			<key>proShape</key>
			<string>基本款</string>
			<key>proSize</key>
			<string>均码</string>
			<key>proStyle</key>
			<string>K1</string>
			<key>recommend</key>
			<string>1</string>
			<key>showType</key>
			<string>0</string>
			<key>showTypeName</key>
			<string>Marcylli定制了自己作品</string>
		</dict>
		<dict>
			<key>content</key>
			<string></string>
			<key>createDate</key>
			<string></string>
			<key>cusIcon</key>
			<string>http://thirdwx.qlogo.cn/mmopen/vi_32/Q0j4TwGTfTJBHLqk9ofIib1EibAuvRFy2BzB7diaMzrknpObiaKyoLx0UNUqicJUkj56D78g13pNHWjEs8W5wpfp5ng/132</string>
			<key>cusId</key>
			<string></string>
			<key>cusName</key>
			<string>桔子 橙子和柚子都很好吃</string>
			<key>id</key>
			<string></string>
			<key>modelCreateDate</key>
			<string>2018-09-29 16:59:29</string>
			<key>modelPic</key>
			<string>ordermodelpic/d21494cd4a9d4d268358f8506bf22033.jpg,ordermodelpic/4635b105452f4a67a5df5cd313fc2555.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/d21494cd4a9d4d268358f8506bf22033.jpg</string>
				<string>ordermodelpic/4635b105452f4a67a5df5cd313fc2555.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>1</string>
			<key>orderCreateDate</key>
			<string>2018-09-03 11:53:21</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1011</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>http://thirdwx.qlogo.cn/mmopen/vi_32/Q0j4TwGTfTJBHLqk9ofIib1EibAuvRFy2BzB7diaMzrknpObiaKyoLx0UNUqicJUkj56D78g13pNHWjEs8W5wpfp5ng/132</string>
			<key>proCusId</key>
			<string>147619</string>
			<key>proCusName</key>
			<string>桔子 橙子和柚子都很好吃</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>284381</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>有机棉围兜</string>
			<key>proPicture</key>
			<string>production/284/284381.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1045,284380</string>
			<key>proShape</key>
			<string>基本款</string>
			<key>proSize</key>
			<string>均码</string>
			<key>proStyle</key>
			<string>K1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>4</string>
			<key>showTypeName</key>
			<string>已极速发货，待用户晒单</string>
		</dict>
		<dict>
			<key>content</key>
			<string></string>
			<key>createDate</key>
			<string></string>
			<key>cusIcon</key>
			<string>https://thirdqq.qlogo.cn/qqapp/1102018701/E7BAD1C67562FC7C2A0D9DB9D9D1DD23/100</string>
			<key>cusId</key>
			<string></string>
			<key>cusName</key>
			<string>x X 乄㐅乂</string>
			<key>id</key>
			<string></string>
			<key>modelCreateDate</key>
			<string>2018-07-20 10:11:19</string>
			<key>modelPic</key>
			<string>ordermodelpic/6e4949346085459892b44b9398d09a3b.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/6e4949346085459892b44b9398d09a3b.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2018-06-13 22:46:54</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1011</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>https://thirdqq.qlogo.cn/qqapp/1102018701/E7BAD1C67562FC7C2A0D9DB9D9D1DD23/100</string>
			<key>proCusId</key>
			<string>141001</string>
			<key>proCusName</key>
			<string>x X 乄㐅乂</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>271931</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>有机棉围兜</string>
			<key>proPicture</key>
			<string>production/271/271931.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1045,271930</string>
			<key>proShape</key>
			<string>基本款</string>
			<key>proSize</key>
			<string>均码</string>
			<key>proStyle</key>
			<string>K1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>4</string>
			<key>showTypeName</key>
			<string>已极速发货，待用户晒单</string>
		</dict>
		<dict>
			<key>content</key>
			<string>样子好看，朋友喜欢(｡･ω･｡)ﾉ♡</string>
			<key>createDate</key>
			<string>2018-06-08 09:20:23</string>
			<key>cusIcon</key>
			<string>customer/icon/2018/6/5aa2b211c2cc4a4bafd974d2b611c4bf.jpg</string>
			<key>cusId</key>
			<string>106686</string>
			<key>cusName</key>
			<string>末为</string>
			<key>id</key>
			<string>103766</string>
			<key>modelCreateDate</key>
			<string>2018-06-08 17:19:59</string>
			<key>modelPic</key>
			<string>ordermodelpic/d912f49f4cfd4890bd873f30ea3a7d46.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/d912f49f4cfd4890bd873f30ea3a7d46.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>1</string>
			<key>orderCreateDate</key>
			<string>2018-06-03 22:14:03</string>
			<key>pictures</key>
			<string>productionComment/270958/34308511224321_6a73bd8dff8d4ac3b27add453f6f370a.jpg</string>
			<key>picturesArray</key>
			<array>
				<string>productionComment/270958/34308511224321_6a73bd8dff8d4ac3b27add453f6f370a.jpg</string>
			</array>
			<key>proCategoryId</key>
			<string>1011</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>customer/icon/2018/6/5aa2b211c2cc4a4bafd974d2b611c4bf.jpg</string>
			<key>proCusId</key>
			<string>106686</string>
			<key>proCusName</key>
			<string>末为</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>270958</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>有机棉围兜</string>
			<key>proPicture</key>
			<string>production/270/270958.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1045,270957</string>
			<key>proShape</key>
			<string>基本款</string>
			<key>proSize</key>
			<string>均码</string>
			<key>proStyle</key>
			<string>K1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>1</string>
			<key>showTypeName</key>
			<string>末为定制了自己的作品作为礼品</string>
		</dict>
		<dict>
			<key>content</key>
			<string></string>
			<key>createDate</key>
			<string></string>
			<key>cusIcon</key>
			<string>https://q.qlogo.cn/qqapp/1102018701/7966CB1ECEE4356E24A30C784130BC6A/100</string>
			<key>cusId</key>
			<string></string>
			<key>cusName</key>
			<string>一斤橙子酱</string>
			<key>id</key>
			<string></string>
			<key>modelCreateDate</key>
			<string>2018-03-21 09:22:26</string>
			<key>modelPic</key>
			<string>ordermodelpic/4ca90331b66646b8b2eb74f0d1661afb.jpg,ordermodelpic/96cc2bdd9ab9480d9b2184d0f1ba02fa.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/4ca90331b66646b8b2eb74f0d1661afb.jpg</string>
				<string>ordermodelpic/96cc2bdd9ab9480d9b2184d0f1ba02fa.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2018-03-15 20:17:33</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1011</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>https://q.qlogo.cn/qqapp/1102018701/7966CB1ECEE4356E24A30C784130BC6A/100</string>
			<key>proCusId</key>
			<string>132718</string>
			<key>proCusName</key>
			<string>一斤橙子酱</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>245849</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>有机棉围兜</string>
			<key>proPicture</key>
			<string>production/245/245849.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1045,245847</string>
			<key>proShape</key>
			<string>基本款</string>
			<key>proSize</key>
			<string>均码</string>
			<key>proStyle</key>
			<string>K1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>4</string>
			<key>showTypeName</key>
			<string>已极速发货，待用户晒单</string>
		</dict>
		<dict>
			<key>content</key>
			<string></string>
			<key>createDate</key>
			<string></string>
			<key>cusIcon</key>
			<string>customer/icon/2018/1/69a55ac655f84178ba78f8766dcd024b.png</string>
			<key>cusId</key>
			<string></string>
			<key>cusName</key>
			<string>小八</string>
			<key>id</key>
			<string></string>
			<key>modelCreateDate</key>
			<string>2018-02-09 18:18:42</string>
			<key>modelPic</key>
			<string>ordermodelpic/5dc14bc75c3243e8897746bfc857d1c2.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/5dc14bc75c3243e8897746bfc857d1c2.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2018-02-07 18:06:58</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1011</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>customer/icon/2018/1/69a55ac655f84178ba78f8766dcd024b.png</string>
			<key>proCusId</key>
			<string>133440</string>
			<key>proCusName</key>
			<string>小八</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>242702</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>有机棉围兜</string>
			<key>proPicture</key>
			<string>production/242/242702.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1045,242701</string>
			<key>proShape</key>
			<string>基本款</string>
			<key>proSize</key>
			<string>均码</string>
			<key>proStyle</key>
			<string>K1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>4</string>
			<key>showTypeName</key>
			<string>已极速发货，待用户晒单</string>
		</dict>
		<dict>
			<key>content</key>
			<string></string>
			<key>createDate</key>
			<string></string>
			<key>cusIcon</key>
			<string>https://tva2.sinaimg.cn/crop.0.0.180.180.180/4e851a34jw1e8qgp5bmzyj2050050aa8.jpg</string>
			<key>cusId</key>
			<string></string>
			<key>cusName</key>
			<string>娄麒lousky</string>
			<key>id</key>
			<string></string>
			<key>modelCreateDate</key>
			<string>2018-01-28 12:11:06</string>
			<key>modelPic</key>
			<string>ordermodelpic/5731976c715c46ae8c976c87176ab3f0.jpg,ordermodelpic/2c931b6b1fbf4b0c830238f5143ebe01.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/5731976c715c46ae8c976c87176ab3f0.jpg</string>
				<string>ordermodelpic/2c931b6b1fbf4b0c830238f5143ebe01.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2018-01-24 17:08:36</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1011</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>https://tva2.sinaimg.cn/crop.0.0.180.180.180/4e851a34jw1e8qgp5bmzyj2050050aa8.jpg</string>
			<key>proCusId</key>
			<string>133522</string>
			<key>proCusName</key>
			<string>娄麒lousky</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>243190</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>有机棉围兜</string>
			<key>proPicture</key>
			<string>production/243/243190.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1045,243176</string>
			<key>proShape</key>
			<string>基本款</string>
			<key>proSize</key>
			<string>均码</string>
			<key>proStyle</key>
			<string>K1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>4</string>
			<key>showTypeName</key>
			<string>已极速发货，待用户晒单</string>
		</dict>
		<dict>
			<key>content</key>
			<string></string>
			<key>createDate</key>
			<string></string>
			<key>cusIcon</key>
			<string>https://q.qlogo.cn/qqapp/1102018701/7966CB1ECEE4356E24A30C784130BC6A/100</string>
			<key>cusId</key>
			<string></string>
			<key>cusName</key>
			<string>一斤橙子酱</string>
			<key>id</key>
			<string></string>
			<key>modelCreateDate</key>
			<string>2017-11-15 18:59:48</string>
			<key>modelPic</key>
			<string>ordermodelpic/863e0dc2a8124442b8c459428d737d49.jpg,ordermodelpic/022150d21c7f4a5e8cd4dd14401d9470.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/863e0dc2a8124442b8c459428d737d49.jpg</string>
				<string>ordermodelpic/022150d21c7f4a5e8cd4dd14401d9470.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>1</string>
			<key>orderCreateDate</key>
			<string>2017-11-13 16:09:03</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1011</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>https://q.qlogo.cn/qqapp/1102018701/7966CB1ECEE4356E24A30C784130BC6A/100</string>
			<key>proCusId</key>
			<string>132718</string>
			<key>proCusName</key>
			<string>一斤橙子酱</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>238263</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>有机棉围兜</string>
			<key>proPicture</key>
			<string>production/238/238263.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1045,238262</string>
			<key>proShape</key>
			<string>基本款</string>
			<key>proSize</key>
			<string>均码</string>
			<key>proStyle</key>
			<string>K1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>4</string>
			<key>showTypeName</key>
			<string>已极速发货，待用户晒单</string>
		</dict>
	</array>
	<key>lastTime</key>
	<string>1583570489883</string>
	<key>totalResult</key>
	<string>28</string>
</dict>
</plist>
