<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comments</key>
	<array>
		<dict>
			<key>content</key>
			<string>印文清晰不容易掉手感超好～自己设计的感觉真好(✪▽✪)</string>
			<key>createDate</key>
			<string>2017-11-13 02:01:21</string>
			<key>cusIcon</key>
			<string>http://wx.qlogo.cn/mmopen/vi_32/Q0j4TwGTfTIzOViabquxvwmb7jl4UP681tqXhAAO2JsUia0p4L24BZwqts3bgVKtws5ic6icD01wQHvXiadpLY6vJVQ/0</string>
			<key>cusId</key>
			<string>131951</string>
			<key>cusName</key>
			<string>River</string>
			<key>id</key>
			<string>103622</string>
			<key>modelCreateDate</key>
			<string></string>
			<key>modelPic</key>
			<string></string>
			<key>modelPicArray</key>
			<array/>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2017-11-07 18:16:14</string>
			<key>pictures</key>
			<string>productionComment/235603/32006371161857_9ce59162c7e84714bcc6afd380ed2abe.jpg</string>
			<key>picturesArray</key>
			<array>
				<string>productionComment/235603/32006371161857_9ce59162c7e84714bcc6afd380ed2abe.jpg</string>
			</array>
			<key>proCategoryId</key>
			<string>10004</string>
			<key>proColor</key>
			<string>AP</string>
			<key>proCusIcon</key>
			<string>http://wx.qlogo.cn/mmopen/vi_32/Q0j4TwGTfTIzOViabquxvwmb7jl4UP681tqXhAAO2JsUia0p4L24BZwqts3bgVKtws5ic6icD01wQHvXiadpLY6vJVQ/0</string>
			<key>proCusId</key>
			<string>131951</string>
			<key>proCusName</key>
			<string>River</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>235603</string>
			<key>proIsRelease</key>
			<string>0</string>
			<key>proName</key>
			<string>复古抽绳包</string>
			<key>proPicture</key>
			<string>production/235/235603.basic.jpg</string>
			<key>proRelateIds</key>
			<string>216213,235602</string>
			<key>proShape</key>
			<string>基本款</string>
			<key>proSize</key>
			<string>38cm*40cm</string>
			<key>proStyle</key>
			<string>M1</string>
			<key>recommend</key>
			<string>1</string>
			<key>showType</key>
			<string>0</string>
			<key>showTypeName</key>
			<string>River定制了自己作品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>图案印制很清晰。弟弟已经用上了，说很实用也很轻便，我也想定个白色的了，姐弟同款，哈哈。</string>
			<key>createDate</key>
			<string>2017-07-31 18:10:17</string>
			<key>cusIcon</key>
			<string>customer/icon/2017/7/a3d6d77a918a44eabfb85ad5db933d86.png</string>
			<key>cusId</key>
			<string>128864</string>
			<key>cusName</key>
			<string>吾欢喜</string>
			<key>id</key>
			<string>103484</string>
			<key>modelCreateDate</key>
			<string></string>
			<key>modelPic</key>
			<string></string>
			<key>modelPicArray</key>
			<array/>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2017-07-31 17:56:57</string>
			<key>pictures</key>
			<string>productionComment/223795/30911362268673_083ecfa716bc43c7ac66084c7bd28d4e.png,productionComment/223795/30911362268673_4ec035f7e9354aac8bfd225606c9b54a.png,productionComment/223795/30911362268673_6f14674587bd4d99992a6cf4359410c6.png,productionComment/223795/30911362268673_128f58ebe2c4410abdf399dd750b85a6.png</string>
			<key>picturesArray</key>
			<array>
				<string>productionComment/223795/30911362268673_083ecfa716bc43c7ac66084c7bd28d4e.png</string>
				<string>productionComment/223795/30911362268673_4ec035f7e9354aac8bfd225606c9b54a.png</string>
				<string>productionComment/223795/30911362268673_6f14674587bd4d99992a6cf4359410c6.png</string>
				<string>productionComment/223795/30911362268673_128f58ebe2c4410abdf399dd750b85a6.png</string>
			</array>
			<key>proCategoryId</key>
			<string>10004</string>
			<key>proColor</key>
			<string>BK</string>
			<key>proCusIcon</key>
			<string>customer/icon/2015/8/ba1c6b539ccc46d48d380ef9f1b5bf9f.png</string>
			<key>proCusId</key>
			<string>100099</string>
			<key>proCusName</key>
			<string>Linda</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>223795</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>复古抽绳包</string>
			<key>proPicture</key>
			<string>production/223/223795.basic.jpg</string>
			<key>proRelateIds</key>
			<string>216214,109360</string>
			<key>proShape</key>
			<string>基本款</string>
			<key>proSize</key>
			<string>38cm*40cm</string>
			<key>proStyle</key>
			<string>M1</string>
			<key>recommend</key>
			<string>1</string>
			<key>showType</key>
			<string>2</string>
			<key>showTypeName</key>
			<string>吾欢喜购买了设计师的作品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>背包，背起来好有型哦，印花打出来手感，很好，很高清，大爱。</string>
			<key>createDate</key>
			<string>2019-04-13 11:04:42</string>
			<key>cusIcon</key>
			<string>customer/icon/2016/6/1719d6a1b46e4dbebef4d06522c23e79.png</string>
			<key>cusId</key>
			<string>101033</string>
			<key>cusName</key>
			<string>妖妖山</string>
			<key>id</key>
			<string>103866</string>
			<key>modelCreateDate</key>
			<string>2019-04-13 09:36:47</string>
			<key>modelPic</key>
			<string>ordermodelpic/df54eadfb21841cd81095f876df0410a.jpg,ordermodelpic/e6cecb16db8b41818845cc60eb918626.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/df54eadfb21841cd81095f876df0410a.jpg</string>
				<string>ordermodelpic/e6cecb16db8b41818845cc60eb918626.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>1</string>
			<key>orderCreateDate</key>
			<string>2019-04-12 20:19:37</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>10004</string>
			<key>proColor</key>
			<string>AP</string>
			<key>proCusIcon</key>
			<string>customer/icon/2016/6/1719d6a1b46e4dbebef4d06522c23e79.png</string>
			<key>proCusId</key>
			<string>101033</string>
			<key>proCusName</key>
			<string>妖妖山</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>298694</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>复古抽绳包</string>
			<key>proPicture</key>
			<string>production/298/298694.basic.jpg</string>
			<key>proRelateIds</key>
			<string>216213,298693</string>
			<key>proShape</key>
			<string>基本款</string>
			<key>proSize</key>
			<string>38cm*40cm</string>
			<key>proStyle</key>
			<string>M1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>1</string>
			<key>showTypeName</key>
			<string>妖妖山定制了自己的作品作为礼品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>背包可以装很多东西，很方便，印花上去很时尚，以后出门逛街有个好伙伴了。</string>
			<key>createDate</key>
			<string>2019-04-13 11:07:02</string>
			<key>cusIcon</key>
			<string>customer/icon/2015/12/8399f95469d340c2ac6fd94744c5f0e2.png</string>
			<key>cusId</key>
			<string>101032</string>
			<key>cusName</key>
			<string>猫猫猫咪</string>
			<key>id</key>
			<string>103867</string>
			<key>modelCreateDate</key>
			<string>2019-04-13 09:35:55</string>
			<key>modelPic</key>
			<string>ordermodelpic/c274d98963494059ad2bc261e3ed3910.jpg,ordermodelpic/af986c5ba5cf40b7b0f672d1ef0d6595.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/c274d98963494059ad2bc261e3ed3910.jpg</string>
				<string>ordermodelpic/af986c5ba5cf40b7b0f672d1ef0d6595.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2019-04-12 20:11:05</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>10004</string>
			<key>proColor</key>
			<string>BK</string>
			<key>proCusIcon</key>
			<string>customer/icon/2015/12/8399f95469d340c2ac6fd94744c5f0e2.png</string>
			<key>proCusId</key>
			<string>101032</string>
			<key>proCusName</key>
			<string>猫猫猫咪</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>298692</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>复古抽绳包</string>
			<key>proPicture</key>
			<string>production/298/298692.basic.jpg</string>
			<key>proRelateIds</key>
			<string>216214,298691</string>
			<key>proShape</key>
			<string>基本款</string>
			<key>proSize</key>
			<string>38cm*40cm</string>
			<key>proStyle</key>
			<string>M1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>0</string>
			<key>showTypeName</key>
			<string>猫猫猫咪定制了自己作品</string>
		</dict>
		<dict>
			<key>content</key>
			<string></string>
			<key>createDate</key>
			<string></string>
			<key>cusIcon</key>
			<string>customer/icon/2015/12/4c85da65b34743599d7ba98c6f53245a.png</string>
			<key>cusId</key>
			<string></string>
			<key>cusName</key>
			<string>hugo少少</string>
			<key>id</key>
			<string></string>
			<key>modelCreateDate</key>
			<string>2019-03-18 14:01:16</string>
			<key>modelPic</key>
			<string>ordermodelpic/b7f4abc29e1f4190887c04f3b770f4e0.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/b7f4abc29e1f4190887c04f3b770f4e0.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2019-03-18 12:15:56</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>10004</string>
			<key>proColor</key>
			<string>BK</string>
			<key>proCusIcon</key>
			<string>customer/icon/2015/12/4c85da65b34743599d7ba98c6f53245a.png</string>
			<key>proCusId</key>
			<string>101087</string>
			<key>proCusName</key>
			<string>hugo少少</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>297809</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>复古抽绳包</string>
			<key>proPicture</key>
			<string>production/297/297809.basic.jpg</string>
			<key>proRelateIds</key>
			<string>216214,297808</string>
			<key>proShape</key>
			<string>基本款</string>
			<key>proSize</key>
			<string>38cm*40cm</string>
			<key>proStyle</key>
			<string>M1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>4</string>
			<key>showTypeName</key>
			<string>已极速发货，待用户晒单</string>
		</dict>
		<dict>
			<key>content</key>
			<string></string>
			<key>createDate</key>
			<string></string>
			<key>cusIcon</key>
			<string>http://thirdwx.qlogo.cn/mmopen/vi_32/pvZyyVm2PDwVsB4oGSLLLWmVTpAk6BWo6AntRQDial5uVAv5WddyOGlhIGvYbzwPeArgZibzMktjSQWR7he0b7ug/132</string>
			<key>cusId</key>
			<string></string>
			<key>cusName</key>
			<string>Thermometer</string>
			<key>id</key>
			<string></string>
			<key>modelCreateDate</key>
			<string>2018-12-15 14:31:53</string>
			<key>modelPic</key>
			<string>ordermodelpic/6b59aeaf082e4e1799d1820e184564f9.jpg,ordermodelpic/89761269494f463ab946bd1356c821fb.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/6b59aeaf082e4e1799d1820e184564f9.jpg</string>
				<string>ordermodelpic/89761269494f463ab946bd1356c821fb.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>1</string>
			<key>orderCreateDate</key>
			<string>2018-12-09 15:34:07</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>10004</string>
			<key>proColor</key>
			<string>AP</string>
			<key>proCusIcon</key>
			<string>http://thirdwx.qlogo.cn/mmopen/vi_32/pvZyyVm2PDwVsB4oGSLLLWmVTpAk6BWo6AntRQDial5uVAv5WddyOGlhIGvYbzwPeArgZibzMktjSQWR7he0b7ug/132</string>
			<key>proCusId</key>
			<string>145050</string>
			<key>proCusName</key>
			<string>Thermometer</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>293050</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>复古抽绳包</string>
			<key>proPicture</key>
			<string>production/293/293050.basic.jpg</string>
			<key>proRelateIds</key>
			<string>216213,293046</string>
			<key>proShape</key>
			<string>基本款</string>
			<key>proSize</key>
			<string>38cm*40cm</string>
			<key>proStyle</key>
			<string>M1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>4</string>
			<key>showTypeName</key>
			<string>已极速发货，待用户晒单</string>
		</dict>
		<dict>
			<key>content</key>
			<string></string>
			<key>createDate</key>
			<string></string>
			<key>cusIcon</key>
			<string>https://wx.qlogo.cn/mmhead/eff2tiaKC6vlYCxiaOLBc58TU8YebDPKF6cAQDyM0RuNE/0</string>
			<key>cusId</key>
			<string></string>
			<key>cusName</key>
			<string>馨晴</string>
			<key>id</key>
			<string></string>
			<key>modelCreateDate</key>
			<string>2018-11-07 10:14:36</string>
			<key>modelPic</key>
			<string>ordermodelpic/a36ef1295b4948219364926d0d26bb40.jpg,ordermodelpic/feb4c3c154e5407b9310913f3adf3655.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/a36ef1295b4948219364926d0d26bb40.jpg</string>
				<string>ordermodelpic/feb4c3c154e5407b9310913f3adf3655.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2018-10-22 20:12:32</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>10004</string>
			<key>proColor</key>
			<string>BK</string>
			<key>proCusIcon</key>
			<string>https://wx.qlogo.cn/mmhead/eff2tiaKC6vlYCxiaOLBc58TU8YebDPKF6cAQDyM0RuNE/0</string>
			<key>proCusId</key>
			<string>129976</string>
			<key>proCusName</key>
			<string>馨晴</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>291524</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>复古抽绳包</string>
			<key>proPicture</key>
			<string>production/291/291524.basic.jpg</string>
			<key>proRelateIds</key>
			<string>216214,291523</string>
			<key>proShape</key>
			<string>基本款</string>
			<key>proSize</key>
			<string>38cm*40cm</string>
			<key>proStyle</key>
			<string>M1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>4</string>
			<key>showTypeName</key>
			<string>已极速发货，待用户晒单</string>
		</dict>
		<dict>
			<key>content</key>
			<string></string>
			<key>createDate</key>
			<string></string>
			<key>cusIcon</key>
			<string>https://q.qlogo.cn/qqapp/1102018701/AA7B2194F1653BD898887D144FBDCBBE/100</string>
			<key>cusId</key>
			<string></string>
			<key>cusName</key>
			<string>你是那跳跃着的百斑斓</string>
			<key>id</key>
			<string></string>
			<key>modelCreateDate</key>
			<string>2018-07-20 09:52:21</string>
			<key>modelPic</key>
			<string>ordermodelpic/dee3309155194e2781990e5cefd892b5.jpg,ordermodelpic/2256cb7253eb4fa98bb8840c763101d5.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/dee3309155194e2781990e5cefd892b5.jpg</string>
				<string>ordermodelpic/2256cb7253eb4fa98bb8840c763101d5.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>1</string>
			<key>orderCreateDate</key>
			<string>2018-07-16 11:53:12</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>10004</string>
			<key>proColor</key>
			<string>BK</string>
			<key>proCusIcon</key>
			<string>https://q.qlogo.cn/qqapp/1102018701/AA7B2194F1653BD898887D144FBDCBBE/100</string>
			<key>proCusId</key>
			<string>133262</string>
			<key>proCusName</key>
			<string>你是那跳跃着的百斑斓</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>277032</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>复古抽绳包</string>
			<key>proPicture</key>
			<string>production/277/277032.basic.jpg</string>
			<key>proRelateIds</key>
			<string>216214,277031</string>
			<key>proShape</key>
			<string>基本款</string>
			<key>proSize</key>
			<string>38cm*40cm</string>
			<key>proStyle</key>
			<string>M1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>4</string>
			<key>showTypeName</key>
			<string>已极速发货，待用户晒单</string>
		</dict>
		<dict>
			<key>content</key>
			<string></string>
			<key>createDate</key>
			<string></string>
			<key>cusIcon</key>
			<string>customer/icon/2018/4/f074401bf5784144b667310b2cb629d2.jpg</string>
			<key>cusId</key>
			<string></string>
			<key>cusName</key>
			<string>18148101929</string>
			<key>id</key>
			<string></string>
			<key>modelCreateDate</key>
			<string>2018-07-20 10:09:39</string>
			<key>modelPic</key>
			<string>ordermodelpic/925098b9faf64e51b56d14731491e577.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/925098b9faf64e51b56d14731491e577.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>1</string>
			<key>orderCreateDate</key>
			<string>2018-06-16 10:42:22</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>10004</string>
			<key>proColor</key>
			<string>AP</string>
			<key>proCusIcon</key>
			<string>customer/icon/2018/4/f074401bf5784144b667310b2cb629d2.jpg</string>
			<key>proCusId</key>
			<string>139856</string>
			<key>proCusName</key>
			<string>18148101929</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>272233</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>复古抽绳包</string>
			<key>proPicture</key>
			<string>production/272/272233.basic.jpg</string>
			<key>proRelateIds</key>
			<string>216213,272232</string>
			<key>proShape</key>
			<string>基本款</string>
			<key>proSize</key>
			<string>38cm*40cm</string>
			<key>proStyle</key>
			<string>M1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>4</string>
			<key>showTypeName</key>
			<string>已极速发货，待用户晒单</string>
		</dict>
		<dict>
			<key>content</key>
			<string></string>
			<key>createDate</key>
			<string></string>
			<key>cusIcon</key>
			<string>customer/icon/2018/4/4e885c63f915413b812e36eb9f64b0ba.png</string>
			<key>cusId</key>
			<string></string>
			<key>cusName</key>
			<string>女巫汤意面</string>
			<key>id</key>
			<string></string>
			<key>modelCreateDate</key>
			<string>2018-06-05 17:24:10</string>
			<key>modelPic</key>
			<string>ordermodelpic/cd08602022034dd096d6e20ff7345e42.jpg,ordermodelpic/097e2cfaa6384abe8a2ab5030dd3bfd9.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/cd08602022034dd096d6e20ff7345e42.jpg</string>
				<string>ordermodelpic/097e2cfaa6384abe8a2ab5030dd3bfd9.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>1</string>
			<key>orderCreateDate</key>
			<string>2018-05-20 09:46:19</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>10004</string>
			<key>proColor</key>
			<string>AP</string>
			<key>proCusIcon</key>
			<string>customer/icon/2018/4/4e885c63f915413b812e36eb9f64b0ba.png</string>
			<key>proCusId</key>
			<string>142932</string>
			<key>proCusName</key>
			<string>女巫汤意面</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>269177</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>复古抽绳包</string>
			<key>proPicture</key>
			<string>production/269/269177.basic.jpg</string>
			<key>proRelateIds</key>
			<string>216213,269176</string>
			<key>proShape</key>
			<string>基本款</string>
			<key>proSize</key>
			<string>38cm*40cm</string>
			<key>proStyle</key>
			<string>M1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>4</string>
			<key>showTypeName</key>
			<string>已极速发货，待用户晒单</string>
		</dict>
	</array>
	<key>lastTime</key>
	<string>1583570445526</string>
	<key>totalResult</key>
	<string>50</string>
</dict>
</plist>
