<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comments</key>
	<array>
		<dict>
			<key>content</key>
			<string>摸起来好舒服！自己画衣服真的非常爽了</string>
			<key>createDate</key>
			<string>2018-04-28 20:40:03</string>
			<key>cusIcon</key>
			<string>http://thirdqq.qlogo.cn/qqapp/1102018701/674E8BCFB3470B5AC55BAAD008A43A53/100</string>
			<key>cusId</key>
			<string>130601</string>
			<key>cusName</key>
			<string>青居魏青居</string>
			<key>id</key>
			<string>103708</string>
			<key>modelCreateDate</key>
			<string></string>
			<key>modelPic</key>
			<string></string>
			<key>modelPicArray</key>
			<array/>
			<key>orderBuyType</key>
			<string>1</string>
			<key>orderCreateDate</key>
			<string>2018-04-22 13:23:15</string>
			<key>pictures</key>
			<string>productionComment/256073/33839948213761_465b198994834bae861dcc68f8d850e7.jpg</string>
			<key>picturesArray</key>
			<array>
				<string>productionComment/256073/33839948213761_465b198994834bae861dcc68f8d850e7.jpg</string>
			</array>
			<key>proCategoryId</key>
			<string>1005</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>http://thirdqq.qlogo.cn/qqapp/1102018701/674E8BCFB3470B5AC55BAAD008A43A53/100</string>
			<key>proCusId</key>
			<string>130601</string>
			<key>proCusName</key>
			<string>青居魏青居</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>256073</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>长款落肩T恤</string>
			<key>proPicture</key>
			<string>production/256/256073.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1030,256072</string>
			<key>proShape</key>
			<string>女款</string>
			<key>proSize</key>
			<string>均码</string>
			<key>proStyle</key>
			<string>F1</string>
			<key>recommend</key>
			<string>1</string>
			<key>showType</key>
			<string>1</string>
			<key>showTypeName</key>
			<string>青居魏青居定制了自己的作品作为礼品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>直接贴图里的设计，蛮好看的，衣服车工很工整，很满意</string>
			<key>createDate</key>
			<string>2017-08-07 11:25:20</string>
			<key>cusIcon</key>
			<string>customer/icon/2017/7/c0d71d8545f54fe7b5b620fafb276f70.png</string>
			<key>cusId</key>
			<string>128872</string>
			<key>cusName</key>
			<string>点点滴滴</string>
			<key>id</key>
			<string>103512</string>
			<key>modelCreateDate</key>
			<string></string>
			<key>modelPic</key>
			<string></string>
			<key>modelPicArray</key>
			<array/>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2017-08-07 11:19:04</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1005</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>customer/icon/2017/7/c0d71d8545f54fe7b5b620fafb276f70.png</string>
			<key>proCusId</key>
			<string>128872</string>
			<key>proCusName</key>
			<string>点点滴滴</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>225177</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>长款落肩T恤</string>
			<key>proPicture</key>
			<string>production/225/225177.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1030,225176</string>
			<key>proShape</key>
			<string>女款</string>
			<key>proSize</key>
			<string>均码</string>
			<key>proStyle</key>
			<string>F1</string>
			<key>recommend</key>
			<string>1</string>
			<key>showType</key>
			<string>0</string>
			<key>showTypeName</key>
			<string>点点滴滴定制了自己作品</string>
		</dict>
		<dict>
			<key>content</key>
			<string></string>
			<key>createDate</key>
			<string></string>
			<key>cusIcon</key>
			<string>customer/icon/2019/4/86bff7da81224feb87e5f51e66055927.png</string>
			<key>cusId</key>
			<string></string>
			<key>cusName</key>
			<string>培根白醬意大利面</string>
			<key>id</key>
			<string></string>
			<key>modelCreateDate</key>
			<string>2019-04-24 19:01:51</string>
			<key>modelPic</key>
			<string>ordermodelpic/9cf4444b035d4fb9844fe43a42c94cf3.jpg,ordermodelpic/3558b5e087dc47e1873782dcb9bd9715.jpg,ordermodelpic/790aa7449f87439f82922400d455595a.jpg,ordermodelpic/16285375435e46798bf54ad64452d1cb.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/9cf4444b035d4fb9844fe43a42c94cf3.jpg</string>
				<string>ordermodelpic/3558b5e087dc47e1873782dcb9bd9715.jpg</string>
				<string>ordermodelpic/790aa7449f87439f82922400d455595a.jpg</string>
				<string>ordermodelpic/16285375435e46798bf54ad64452d1cb.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2019-04-23 00:04:24</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1005</string>
			<key>proColor</key>
			<string>BK</string>
			<key>proCusIcon</key>
			<string>customer/icon/2019/4/86bff7da81224feb87e5f51e66055927.png</string>
			<key>proCusId</key>
			<string>150537</string>
			<key>proCusName</key>
			<string>培根白醬意大利面</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>299164</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>长款落肩T恤</string>
			<key>proPicture</key>
			<string>production/299/299164.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1031,299163</string>
			<key>proShape</key>
			<string>女款</string>
			<key>proSize</key>
			<string>均码</string>
			<key>proStyle</key>
			<string>F1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>4</string>
			<key>showTypeName</key>
			<string>已极速发货，待用户晒单</string>
		</dict>
		<dict>
			<key>content</key>
			<string>挺好哒</string>
			<key>createDate</key>
			<string>2018-08-16 20:04:41</string>
			<key>cusIcon</key>
			<string>customer/icon/2018/8/f8dae1cd90104d22bb8af4e801fa76e3.png</string>
			<key>cusId</key>
			<string>135405</string>
			<key>cusName</key>
			<string>你知道我信服你</string>
			<key>id</key>
			<string>103798</string>
			<key>modelCreateDate</key>
			<string></string>
			<key>modelPic</key>
			<string></string>
			<key>modelPicArray</key>
			<array/>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2018-08-14 06:25:42</string>
			<key>pictures</key>
			<string>productionComment/280189/35097490201345_c912f1dd00e24c8fa2d92234ed202227.png</string>
			<key>picturesArray</key>
			<array>
				<string>productionComment/280189/35097490201345_c912f1dd00e24c8fa2d92234ed202227.png</string>
			</array>
			<key>proCategoryId</key>
			<string>1005</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>customer/icon/2018/8/f8dae1cd90104d22bb8af4e801fa76e3.png</string>
			<key>proCusId</key>
			<string>135405</string>
			<key>proCusName</key>
			<string>你知道我信服你</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>280189</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>长款落肩T恤</string>
			<key>proPicture</key>
			<string>production/280/280189.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1030,280186</string>
			<key>proShape</key>
			<string>女款</string>
			<key>proSize</key>
			<string>均码</string>
			<key>proStyle</key>
			<string>F1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>0</string>
			<key>showTypeName</key>
			<string>你知道我信服你定制了自己作品</string>
		</dict>
		<dict>
			<key>content</key>
			<string></string>
			<key>createDate</key>
			<string></string>
			<key>cusIcon</key>
			<string>customer/icon/2018/5/a8a2b69b83364c85af338983104bce6e.jpg</string>
			<key>cusId</key>
			<string></string>
			<key>cusName</key>
			<string>童小童</string>
			<key>id</key>
			<string></string>
			<key>modelCreateDate</key>
			<string>2018-06-05 17:32:46</string>
			<key>modelPic</key>
			<string>ordermodelpic/90d8a697f239479b809b5bddb202f464.jpg,ordermodelpic/d3318cd42768430d812475180353bab1.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/90d8a697f239479b809b5bddb202f464.jpg</string>
				<string>ordermodelpic/d3318cd42768430d812475180353bab1.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2018-05-15 18:58:52</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1005</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>customer/icon/2018/5/a8a2b69b83364c85af338983104bce6e.jpg</string>
			<key>proCusId</key>
			<string>144379</string>
			<key>proCusName</key>
			<string>童小童</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>267642</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>长款落肩T恤</string>
			<key>proPicture</key>
			<string>production/267/267642.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1030,267641</string>
			<key>proShape</key>
			<string>女款</string>
			<key>proSize</key>
			<string>均码</string>
			<key>proStyle</key>
			<string>F1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>4</string>
			<key>showTypeName</key>
			<string>已极速发货，待用户晒单</string>
		</dict>
		<dict>
			<key>content</key>
			<string></string>
			<key>createDate</key>
			<string></string>
			<key>cusIcon</key>
			<string>customer/icon/2018/5/a8a2b69b83364c85af338983104bce6e.jpg</string>
			<key>cusId</key>
			<string></string>
			<key>cusName</key>
			<string>童小童</string>
			<key>id</key>
			<string></string>
			<key>modelCreateDate</key>
			<string>2018-06-05 17:32:27</string>
			<key>modelPic</key>
			<string>ordermodelpic/5a1c81b38d55432184af1151fcad765d.jpg,ordermodelpic/0b050b04d2f841d0b6ceaed947b461a7.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/5a1c81b38d55432184af1151fcad765d.jpg</string>
				<string>ordermodelpic/0b050b04d2f841d0b6ceaed947b461a7.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2018-05-15 18:58:52</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1005</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>customer/icon/2018/5/a8a2b69b83364c85af338983104bce6e.jpg</string>
			<key>proCusId</key>
			<string>144379</string>
			<key>proCusName</key>
			<string>童小童</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>267646</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>长款落肩T恤</string>
			<key>proPicture</key>
			<string>production/267/267646.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1030,267645</string>
			<key>proShape</key>
			<string>女款</string>
			<key>proSize</key>
			<string>均码</string>
			<key>proStyle</key>
			<string>F1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>4</string>
			<key>showTypeName</key>
			<string>已极速发货，待用户晒单</string>
		</dict>
		<dict>
			<key>content</key>
			<string>第二次定制的情侣装嘻嘻</string>
			<key>createDate</key>
			<string>2018-04-28 20:40:03</string>
			<key>cusIcon</key>
			<string>http://thirdqq.qlogo.cn/qqapp/1102018701/674E8BCFB3470B5AC55BAAD008A43A53/100</string>
			<key>cusId</key>
			<string>130601</string>
			<key>cusName</key>
			<string>青居魏青居</string>
			<key>id</key>
			<string>103709</string>
			<key>modelCreateDate</key>
			<string></string>
			<key>modelPic</key>
			<string></string>
			<key>modelPicArray</key>
			<array/>
			<key>orderBuyType</key>
			<string>1</string>
			<key>orderCreateDate</key>
			<string>2018-04-22 13:23:15</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1005</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>http://thirdqq.qlogo.cn/qqapp/1102018701/674E8BCFB3470B5AC55BAAD008A43A53/100</string>
			<key>proCusId</key>
			<string>130601</string>
			<key>proCusName</key>
			<string>青居魏青居</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>256061</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>长款落肩T恤</string>
			<key>proPicture</key>
			<string>production/256/256061.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1030,256060</string>
			<key>proShape</key>
			<string>女款</string>
			<key>proSize</key>
			<string>均码</string>
			<key>proStyle</key>
			<string>F1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>1</string>
			<key>showTypeName</key>
			<string>青居魏青居定制了自己的作品作为礼品</string>
		</dict>
		<dict>
			<key>content</key>
			<string></string>
			<key>createDate</key>
			<string></string>
			<key>cusIcon</key>
			<string>http://thirdwx.qlogo.cn/mmopen/vi_32/Q0j4TwGTfTJia6HrBzibxpajDaDnwyLJwfcxfFGP6vv2kmACbiaHfwiaLOOhe9MGhQibIOpd02R7BPxiaK82hpRZhPTQ/132</string>
			<key>cusId</key>
			<string></string>
			<key>cusName</key>
			<string>我叫没名字</string>
			<key>id</key>
			<string></string>
			<key>modelCreateDate</key>
			<string>2018-04-13 22:06:25</string>
			<key>modelPic</key>
			<string>ordermodelpic/bba18a2ad6894731ad9e765e44ff68cc.jpg,ordermodelpic/afff4e40775348e5b67c71c339c2d2b0.jpg,ordermodelpic/d3e1679c43fe482f929907ee11dbccd5.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/bba18a2ad6894731ad9e765e44ff68cc.jpg</string>
				<string>ordermodelpic/afff4e40775348e5b67c71c339c2d2b0.jpg</string>
				<string>ordermodelpic/d3e1679c43fe482f929907ee11dbccd5.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2018-03-29 21:05:00</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1005</string>
			<key>proColor</key>
			<string>BK</string>
			<key>proCusIcon</key>
			<string>customer/icon/2015/12/8399f95469d340c2ac6fd94744c5f0e2.png</string>
			<key>proCusId</key>
			<string>101032</string>
			<key>proCusName</key>
			<string>猫猫猫咪</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>173824</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>长款落肩T恤</string>
			<key>proPicture</key>
			<string>production/173/173824.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1031,131724</string>
			<key>proShape</key>
			<string>女款</string>
			<key>proSize</key>
			<string>均码</string>
			<key>proStyle</key>
			<string>F1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>4</string>
			<key>showTypeName</key>
			<string>已极速发货，待用户晒单</string>
		</dict>
		<dict>
			<key>content</key>
			<string></string>
			<key>createDate</key>
			<string></string>
			<key>cusIcon</key>
			<string>https://q.qlogo.cn/qqapp/1102018701/C852E3A75394F2F0C8155722B6CA7986/100</string>
			<key>cusId</key>
			<string></string>
			<key>cusName</key>
			<string>活在过去的男孩儿</string>
			<key>id</key>
			<string></string>
			<key>modelCreateDate</key>
			<string>2017-09-28 18:37:27</string>
			<key>modelPic</key>
			<string>ordermodelpic/1f8a3f1e32494acc865ea32ee3f4842f.jpg,ordermodelpic/dcc20bbf58c54aaea966fedfb4b018e8.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/1f8a3f1e32494acc865ea32ee3f4842f.jpg</string>
				<string>ordermodelpic/dcc20bbf58c54aaea966fedfb4b018e8.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2017-09-26 22:11:29</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1005</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>https://q.qlogo.cn/qqapp/1102018701/C852E3A75394F2F0C8155722B6CA7986/100</string>
			<key>proCusId</key>
			<string>129338</string>
			<key>proCusName</key>
			<string>活在过去的男孩儿</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>228890</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>长款落肩T恤</string>
			<key>proPicture</key>
			<string>production/228/228890.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1030,228889</string>
			<key>proShape</key>
			<string>女款</string>
			<key>proSize</key>
			<string>均码</string>
			<key>proStyle</key>
			<string>F1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>4</string>
			<key>showTypeName</key>
			<string>已极速发货，待用户晒单</string>
		</dict>
		<dict>
			<key>content</key>
			<string>很喜欢 质量比想象中好很多耶!!买了很多件 strangerthings 脑残粉 咱们KUKU人手一件!哈哈哈哈</string>
			<key>createDate</key>
			<string>2017-09-16 19:17:14</string>
			<key>cusIcon</key>
			<string>customer/icon/2017/5/422058da00c042d1a72e96d0cfaa9c11.png</string>
			<key>cusId</key>
			<string>123781</string>
			<key>cusName</key>
			<string>我是宁爷</string>
			<key>id</key>
			<string>103563</string>
			<key>modelCreateDate</key>
			<string>2017-09-16 19:20:23</string>
			<key>modelPic</key>
			<string>ordermodelpic/793ded85548140ad8c683b1992663b23.jpg,ordermodelpic/ea1ef839c52444d295b1603d80da5d94.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/793ded85548140ad8c683b1992663b23.jpg</string>
				<string>ordermodelpic/ea1ef839c52444d295b1603d80da5d94.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>1</string>
			<key>orderCreateDate</key>
			<string>2017-09-16 19:12:31</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1005</string>
			<key>proColor</key>
			<string>BK</string>
			<key>proCusIcon</key>
			<string>customer/icon/2017/5/422058da00c042d1a72e96d0cfaa9c11.png</string>
			<key>proCusId</key>
			<string>123781</string>
			<key>proCusName</key>
			<string>我是宁爷</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>229276</string>
			<key>proIsRelease</key>
			<string>0</string>
			<key>proName</key>
			<string>长款落肩T恤</string>
			<key>proPicture</key>
			<string>production/229/229276.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1031,229272</string>
			<key>proShape</key>
			<string>女款</string>
			<key>proSize</key>
			<string>均码</string>
			<key>proStyle</key>
			<string>F1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>1</string>
			<key>showTypeName</key>
			<string>我是宁爷定制了自己的作品作为礼品</string>
		</dict>
	</array>
	<key>lastTime</key>
	<string>1583570472911</string>
	<key>totalResult</key>
	<string>39</string>
</dict>
</plist>
