<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comments</key>
	<array>
		<dict>
			<key>content</key>
			<string>和他一起去重庆玩的时候拍的照片 很开心</string>
			<key>createDate</key>
			<string>2018-08-11 21:41:27</string>
			<key>cusIcon</key>
			<string>https://thirdqq.qlogo.cn/qqapp/1102018701/40E44511ECC4CECE32156AF5CAC1A1CE/100</string>
			<key>cusId</key>
			<string>145785</string>
			<key>cusName</key>
			<string>太自大</string>
			<key>id</key>
			<string>103793</string>
			<key>modelCreateDate</key>
			<string></string>
			<key>modelPic</key>
			<string></string>
			<key>modelPicArray</key>
			<array/>
			<key>orderBuyType</key>
			<string>1</string>
			<key>orderCreateDate</key>
			<string>2018-08-08 22:19:20</string>
			<key>pictures</key>
			<string>productionComment/278995/35038458972033_a9cdd3c8183340efaedfcc55adefda75.png,productionComment/278995/35038458972033_ea26403e312b4a00ab74a07ba9905292.png</string>
			<key>picturesArray</key>
			<array>
				<string>productionComment/278995/35038458972033_a9cdd3c8183340efaedfcc55adefda75.png</string>
				<string>productionComment/278995/35038458972033_ea26403e312b4a00ab74a07ba9905292.png</string>
			</array>
			<key>proCategoryId</key>
			<string>1009</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>https://thirdqq.qlogo.cn/qqapp/1102018701/40E44511ECC4CECE32156AF5CAC1A1CE/100</string>
			<key>proCusId</key>
			<string>145785</string>
			<key>proCusName</key>
			<string>太自大</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>278995</string>
			<key>proIsRelease</key>
			<string>0</string>
			<key>proName</key>
			<string>抱枕</string>
			<key>proPicture</key>
			<string>production/278/278995.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1044,278994</string>
			<key>proShape</key>
			<string>基本款</string>
			<key>proSize</key>
			<string>45*45CM</string>
			<key>proStyle</key>
			<string>J1</string>
			<key>recommend</key>
			<string>1</string>
			<key>showType</key>
			<string>1</string>
			<key>showTypeName</key>
			<string>太自大定制了自己的作品作为礼品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>很软很舒服呀，质量很好❤️</string>
			<key>createDate</key>
			<string>2018-02-03 17:02:47</string>
			<key>cusIcon</key>
			<string>http://wx.qlogo.cn/mmopen/vi_32/gpO5Uumbh2yV8rIuW1TXicINhKhZicrEBJXobMChTsFAF0wSD3hp1ClVsOUKRmibxwphz99XQDz9kcAbRARkFu1dQ/132</string>
			<key>cusId</key>
			<string>133587</string>
			<key>cusName</key>
			<string>纯子·ZYY</string>
			<key>id</key>
			<string>103655</string>
			<key>modelCreateDate</key>
			<string></string>
			<key>modelPic</key>
			<string></string>
			<key>modelPicArray</key>
			<array/>
			<key>orderBuyType</key>
			<string>1</string>
			<key>orderCreateDate</key>
			<string>2018-01-28 18:25:01</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1009</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>http://wx.qlogo.cn/mmopen/vi_32/gpO5Uumbh2yV8rIuW1TXicINhKhZicrEBJXobMChTsFAF0wSD3hp1ClVsOUKRmibxwphz99XQDz9kcAbRARkFu1dQ/132</string>
			<key>proCusId</key>
			<string>133587</string>
			<key>proCusName</key>
			<string>纯子·ZYY</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>243580</string>
			<key>proIsRelease</key>
			<string>0</string>
			<key>proName</key>
			<string>抱枕</string>
			<key>proPicture</key>
			<string>production/243/243580.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1044,243579</string>
			<key>proShape</key>
			<string>基本款</string>
			<key>proSize</key>
			<string>45*45CM</string>
			<key>proStyle</key>
			<string>J1</string>
			<key>recommend</key>
			<string>1</string>
			<key>showType</key>
			<string>1</string>
			<key>showTypeName</key>
			<string>纯子·ZYY定制了自己的作品作为礼品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>很好，内芯很惊喜，很舒服软软的！</string>
			<key>createDate</key>
			<string>2018-01-02 10:24:57</string>
			<key>cusIcon</key>
			<string>http://wx.qlogo.cn/mmopen/vi_32/Q0j4TwGTfTKObibUvAjbt2qGn9MicorQLKBwSLF96V2nNHbtmozk7WvcCZ9cUCflYL1qERDgdBbaUeASKIb48IibA/0</string>
			<key>cusId</key>
			<string>132139</string>
			<key>cusName</key>
			<string>随性的金鱼</string>
			<key>id</key>
			<string>103646</string>
			<key>modelCreateDate</key>
			<string></string>
			<key>modelPic</key>
			<string></string>
			<key>modelPicArray</key>
			<array/>
			<key>orderBuyType</key>
			<string>1</string>
			<key>orderCreateDate</key>
			<string>2017-12-27 16:59:41</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1009</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>http://wx.qlogo.cn/mmopen/vi_32/Q0j4TwGTfTKObibUvAjbt2qGn9MicorQLKBwSLF96V2nNHbtmozk7WvcCZ9cUCflYL1qERDgdBbaUeASKIb48IibA/0</string>
			<key>proCusId</key>
			<string>132139</string>
			<key>proCusName</key>
			<string>随性的金鱼</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>236165</string>
			<key>proIsRelease</key>
			<string>0</string>
			<key>proName</key>
			<string>抱枕</string>
			<key>proPicture</key>
			<string>production/236/236165.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1044,236164</string>
			<key>proShape</key>
			<string>基本款</string>
			<key>proSize</key>
			<string>45*45CM</string>
			<key>proStyle</key>
			<string>J1</string>
			<key>recommend</key>
			<string>1</string>
			<key>showType</key>
			<string>1</string>
			<key>showTypeName</key>
			<string>随性的金鱼定制了自己的作品作为礼品</string>
		</dict>
		<dict>
			<key>content</key>
			<string></string>
			<key>createDate</key>
			<string></string>
			<key>cusIcon</key>
			<string>https://thirdqq.qlogo.cn/qqapp/1102018701/92E27CCC8BF225B8D9A3D2EEFACBE762/100</string>
			<key>cusId</key>
			<string></string>
			<key>cusName</key>
			<string>Smeb</string>
			<key>id</key>
			<string></string>
			<key>modelCreateDate</key>
			<string>2018-11-28 14:39:03</string>
			<key>modelPic</key>
			<string>ordermodelpic/31c7fc420196487884f1e67d7d66577e.jpg,ordermodelpic/d844d48bd32e4c4db296f98ba98c564a.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/31c7fc420196487884f1e67d7d66577e.jpg</string>
				<string>ordermodelpic/d844d48bd32e4c4db296f98ba98c564a.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2018-11-19 15:40:01</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1009</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>https://thirdqq.qlogo.cn/qqapp/1102018701/92E27CCC8BF225B8D9A3D2EEFACBE762/100</string>
			<key>proCusId</key>
			<string>149746</string>
			<key>proCusName</key>
			<string>Smeb</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>292466</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>抱枕</string>
			<key>proPicture</key>
			<string>production/292/292466.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1044,292465</string>
			<key>proShape</key>
			<string>基本款</string>
			<key>proSize</key>
			<string>45*45CM</string>
			<key>proStyle</key>
			<string>J1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>4</string>
			<key>showTypeName</key>
			<string>已极速发货，待用户晒单</string>
		</dict>
		<dict>
			<key>content</key>
			<string>听不错的</string>
			<key>createDate</key>
			<string>2018-10-14 07:38:41</string>
			<key>cusIcon</key>
			<string></string>
			<key>cusId</key>
			<string>149345</string>
			<key>cusName</key>
			<string>15939736432</string>
			<key>id</key>
			<string>103823</string>
			<key>modelCreateDate</key>
			<string></string>
			<key>modelPic</key>
			<string></string>
			<key>modelPicArray</key>
			<array/>
			<key>orderBuyType</key>
			<string>1</string>
			<key>orderCreateDate</key>
			<string>2018-10-08 11:12:00</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1009</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string></string>
			<key>proCusId</key>
			<string>149345</string>
			<key>proCusName</key>
			<string>15939736432</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>290318</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>抱枕</string>
			<key>proPicture</key>
			<string>production/290/290318.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1044,290317</string>
			<key>proShape</key>
			<string>基本款</string>
			<key>proSize</key>
			<string>45*45CM</string>
			<key>proStyle</key>
			<string>J1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>1</string>
			<key>showTypeName</key>
			<string>15939736432定制了自己的作品作为礼品</string>
		</dict>
		<dict>
			<key>content</key>
			<string></string>
			<key>createDate</key>
			<string></string>
			<key>cusIcon</key>
			<string>https://thirdqq.qlogo.cn/qqapp/1102018701/7D671F0990A95C049554487C42BAC96E/100</string>
			<key>cusId</key>
			<string></string>
			<key>cusName</key>
			<string>Otaku-Ted</string>
			<key>id</key>
			<string></string>
			<key>modelCreateDate</key>
			<string>2018-12-15 14:33:29</string>
			<key>modelPic</key>
			<string>ordermodelpic/eb4109e758d34a049b53b1968e439be4.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/eb4109e758d34a049b53b1968e439be4.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2018-09-22 17:19:00</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1009</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>https://thirdqq.qlogo.cn/qqapp/1102018701/7D671F0990A95C049554487C42BAC96E/100</string>
			<key>proCusId</key>
			<string>148169</string>
			<key>proCusName</key>
			<string>Otaku-Ted</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>286322</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>抱枕</string>
			<key>proPicture</key>
			<string>production/286/286322.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1044,286321</string>
			<key>proShape</key>
			<string>基本款</string>
			<key>proSize</key>
			<string>45*45CM</string>
			<key>proStyle</key>
			<string>J1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>4</string>
			<key>showTypeName</key>
			<string>已极速发货，待用户晒单</string>
		</dict>
		<dict>
			<key>content</key>
			<string>大话西游~</string>
			<key>createDate</key>
			<string>2018-09-15 07:48:02</string>
			<key>cusIcon</key>
			<string>http://thirdwx.qlogo.cn/mmopen/vi_32/AoXC8Dwxrs8ibt2GTw2FZ6KemO6Vmw6adylIPmHz9ZgEK2GG7v0g8pL9Lkib0cNsdq76n6GesllMH2sicFZ4PQDqA/132</string>
			<key>cusId</key>
			<string>147240</string>
			<key>cusName</key>
			<string>小仙男</string>
			<key>id</key>
			<string>103819</string>
			<key>modelCreateDate</key>
			<string>2018-09-29 16:54:28</string>
			<key>modelPic</key>
			<string>ordermodelpic/61ca22ca91a94120bf975a3cc41747d7.jpg,ordermodelpic/f4ccec6292d94c198757dd1a034a538f.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/61ca22ca91a94120bf975a3cc41747d7.jpg</string>
				<string>ordermodelpic/f4ccec6292d94c198757dd1a034a538f.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>1</string>
			<key>orderCreateDate</key>
			<string>2018-09-09 17:53:18</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1009</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>http://thirdwx.qlogo.cn/mmopen/vi_32/AoXC8Dwxrs8ibt2GTw2FZ6KemO6Vmw6adylIPmHz9ZgEK2GG7v0g8pL9Lkib0cNsdq76n6GesllMH2sicFZ4PQDqA/132</string>
			<key>proCusId</key>
			<string>147240</string>
			<key>proCusName</key>
			<string>小仙男</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>284990</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>抱枕</string>
			<key>proPicture</key>
			<string>production/284/284990.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1044,284989</string>
			<key>proShape</key>
			<string>基本款</string>
			<key>proSize</key>
			<string>45*45CM</string>
			<key>proStyle</key>
			<string>J1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>1</string>
			<key>showTypeName</key>
			<string>小仙男定制了自己的作品作为礼品</string>
		</dict>
		<dict>
			<key>content</key>
			<string></string>
			<key>createDate</key>
			<string></string>
			<key>cusIcon</key>
			<string>https://tvax4.sinaimg.cn/crop.0.0.750.750.180/df925fa7ly8ft0stm435tj20ku0ku0tn.jpg</string>
			<key>cusId</key>
			<string></string>
			<key>cusName</key>
			<string>-MinTy晰悦-</string>
			<key>id</key>
			<string></string>
			<key>modelCreateDate</key>
			<string>2018-09-29 16:55:58</string>
			<key>modelPic</key>
			<string>ordermodelpic/b4aa1cf40c6b41d391b9a7d4e8da5fac.jpg,ordermodelpic/551798efcc0c43069d7eb393bcd0c3e3.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/b4aa1cf40c6b41d391b9a7d4e8da5fac.jpg</string>
				<string>ordermodelpic/551798efcc0c43069d7eb393bcd0c3e3.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>1</string>
			<key>orderCreateDate</key>
			<string>2018-09-07 21:58:07</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1009</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>https://tvax4.sinaimg.cn/crop.0.0.750.750.180/df925fa7ly8ft0stm435tj20ku0ku0tn.jpg</string>
			<key>proCusId</key>
			<string>147656</string>
			<key>proCusName</key>
			<string>-MinTy晰悦-</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>284864</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>抱枕</string>
			<key>proPicture</key>
			<string>production/284/284864.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1044,284863</string>
			<key>proShape</key>
			<string>基本款</string>
			<key>proSize</key>
			<string>45*45CM</string>
			<key>proStyle</key>
			<string>J1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>4</string>
			<key>showTypeName</key>
			<string>已极速发货，待用户晒单</string>
		</dict>
		<dict>
			<key>content</key>
			<string></string>
			<key>createDate</key>
			<string></string>
			<key>cusIcon</key>
			<string>https://thirdwx.qlogo.cn/mmopen/vi_32/m1JBZH56oZJTtBKcj1Ar6w88relia2jLMCXhQYEshbSXQFKE9LeUdlr73sVBkzTMINJorGMCkI6FGStaIKHzic7g/132</string>
			<key>cusId</key>
			<string></string>
			<key>cusName</key>
			<string>路兹兹兹兹</string>
			<key>id</key>
			<string></string>
			<key>modelCreateDate</key>
			<string>2018-07-20 09:54:06</string>
			<key>modelPic</key>
			<string>ordermodelpic/2c3a65f95c104020b6ea8c819793c5c7.jpg,ordermodelpic/5bea50bc8ff34e8c9eddd5167d7664ef.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/2c3a65f95c104020b6ea8c819793c5c7.jpg</string>
				<string>ordermodelpic/5bea50bc8ff34e8c9eddd5167d7664ef.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2018-07-09 01:46:51</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1009</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>https://thirdwx.qlogo.cn/mmopen/vi_32/m1JBZH56oZJTtBKcj1Ar6w88relia2jLMCXhQYEshbSXQFKE9LeUdlr73sVBkzTMINJorGMCkI6FGStaIKHzic7g/132</string>
			<key>proCusId</key>
			<string>145304</string>
			<key>proCusName</key>
			<string>路兹兹兹兹</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>276221</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>抱枕</string>
			<key>proPicture</key>
			<string>production/276/276221.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1044,276220</string>
			<key>proShape</key>
			<string>基本款</string>
			<key>proSize</key>
			<string>45*45CM</string>
			<key>proStyle</key>
			<string>J1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>4</string>
			<key>showTypeName</key>
			<string>已极速发货，待用户晒单</string>
		</dict>
		<dict>
			<key>content</key>
			<string></string>
			<key>createDate</key>
			<string></string>
			<key>cusIcon</key>
			<string>http://thirdwx.qlogo.cn/mmopen/vi_32/UAzS4Iiaibb3pW0dQl6WQc6EOXPDosqOQ22dVt9BVAvmLbNsZGaNFfTHdSdUOg4xRqtOzERUADqp7B1EdibgCkvFg/132</string>
			<key>cusId</key>
			<string></string>
			<key>cusName</key>
			<string>Shine</string>
			<key>id</key>
			<string></string>
			<key>modelCreateDate</key>
			<string>2018-07-20 10:10:01</string>
			<key>modelPic</key>
			<string>ordermodelpic/7a817c665e084f10bf96cc0906873685.jpg,ordermodelpic/a78f570218694241a162d5ba6717eece.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/7a817c665e084f10bf96cc0906873685.jpg</string>
				<string>ordermodelpic/a78f570218694241a162d5ba6717eece.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>1</string>
			<key>orderCreateDate</key>
			<string>2018-06-15 16:24:21</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1009</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>http://thirdwx.qlogo.cn/mmopen/vi_32/UAzS4Iiaibb3pW0dQl6WQc6EOXPDosqOQ22dVt9BVAvmLbNsZGaNFfTHdSdUOg4xRqtOzERUADqp7B1EdibgCkvFg/132</string>
			<key>proCusId</key>
			<string>145021</string>
			<key>proCusName</key>
			<string>Shine</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>272066</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>抱枕</string>
			<key>proPicture</key>
			<string>production/272/272066.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1044,272065</string>
			<key>proShape</key>
			<string>基本款</string>
			<key>proSize</key>
			<string>45*45CM</string>
			<key>proStyle</key>
			<string>J1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>4</string>
			<key>showTypeName</key>
			<string>已极速发货，待用户晒单</string>
		</dict>
	</array>
	<key>lastTime</key>
	<string>1583570437576</string>
	<key>totalResult</key>
	<string>110</string>
</dict>
</plist>
