<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comments</key>
	<array>
		<dict>
			<key>content</key>
			<string>印刷很棒，完美还原，可惜自己作，买得稍小了些。反光条设计很棒，是适合外出休闲运动的衣服。</string>
			<key>createDate</key>
			<string>2018-08-23 13:27:09</string>
			<key>cusIcon</key>
			<string>http://thirdqq.qlogo.cn/qqapp/1102018701/0209A02E43B8BE07E3139705A6C26581/100</string>
			<key>cusId</key>
			<string>145604</string>
			<key>cusName</key>
			<string>闲庭落叶</string>
			<key>id</key>
			<string>103805</string>
			<key>modelCreateDate</key>
			<string></string>
			<key>modelPic</key>
			<string></string>
			<key>modelPicArray</key>
			<array/>
			<key>orderBuyType</key>
			<string>1</string>
			<key>orderCreateDate</key>
			<string>2018-08-19 18:00:41</string>
			<key>pictures</key>
			<string>productionComment/282022/35158123662593_a9d81421157f42dca2d4e4fc99629311.jpg,productionComment/282022/35158123662593_c5a9080ebae647859c08e491d493fb67.jpg</string>
			<key>picturesArray</key>
			<array>
				<string>productionComment/282022/35158123662593_a9d81421157f42dca2d4e4fc99629311.jpg</string>
				<string>productionComment/282022/35158123662593_c5a9080ebae647859c08e491d493fb67.jpg</string>
			</array>
			<key>proCategoryId</key>
			<string>1008</string>
			<key>proColor</key>
			<string>GY</string>
			<key>proCusIcon</key>
			<string>http://thirdqq.qlogo.cn/qqapp/1102018701/0209A02E43B8BE07E3139705A6C26581/100</string>
			<key>proCusId</key>
			<string>145604</string>
			<key>proCusName</key>
			<string>闲庭落叶</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>282022</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>连帽灰裙</string>
			<key>proPicture</key>
			<string>production/282/282022.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1043,282021</string>
			<key>proShape</key>
			<string>女款</string>
			<key>proSize</key>
			<string>S</string>
			<key>proStyle</key>
			<string>I1</string>
			<key>recommend</key>
			<string>1</string>
			<key>showType</key>
			<string>1</string>
			<key>showTypeName</key>
			<string>闲庭落叶定制了自己的作品作为礼品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>用的布料一开始我以为是卫衣呢，没想到是这种质感，更好！</string>
			<key>createDate</key>
			<string>2017-07-28 11:07:46</string>
			<key>cusIcon</key>
			<string>customer/icon/2017/7/33dee12964db414da599cba8d52840d9.png</string>
			<key>cusId</key>
			<string>128862</string>
			<key>cusName</key>
			<string>拉丁小胖</string>
			<key>id</key>
			<string>103445</string>
			<key>modelCreateDate</key>
			<string></string>
			<key>modelPic</key>
			<string></string>
			<key>modelPicArray</key>
			<array/>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2017-07-27 23:48:04</string>
			<key>pictures</key>
			<string>productionComment/223958/30869822007681_39e2bc2093bf4effa4b949bc937cb50a.png,productionComment/223958/30869822007681_eb2ab8adc5c141a5b6df033788e1d9cd.png</string>
			<key>picturesArray</key>
			<array>
				<string>productionComment/223958/30869822007681_39e2bc2093bf4effa4b949bc937cb50a.png</string>
				<string>productionComment/223958/30869822007681_eb2ab8adc5c141a5b6df033788e1d9cd.png</string>
			</array>
			<key>proCategoryId</key>
			<string>1008</string>
			<key>proColor</key>
			<string>GY</string>
			<key>proCusIcon</key>
			<string>customer/icon/2017/7/33dee12964db414da599cba8d52840d9.png</string>
			<key>proCusId</key>
			<string>128862</string>
			<key>proCusName</key>
			<string>拉丁小胖</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>223958</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>连帽灰裙</string>
			<key>proPicture</key>
			<string>production/223/223958.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1043,223957</string>
			<key>proShape</key>
			<string>女款</string>
			<key>proSize</key>
			<string>M</string>
			<key>proStyle</key>
			<string>I1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>0</string>
			<key>showTypeName</key>
			<string>拉丁小胖定制了自己作品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>下单有纠结过，觉得价格偏高？现在衣服那在手里…感觉值这个价！！！布料款型印花都好好看哦</string>
			<key>createDate</key>
			<string>2017-07-27 15:06:29</string>
			<key>cusIcon</key>
			<string>customer/icon/2017/7/73006288fa5b4a3da0d03acbc6949232.png</string>
			<key>cusId</key>
			<string>128858</string>
			<key>cusName</key>
			<string>从前慢</string>
			<key>id</key>
			<string>103436</string>
			<key>modelCreateDate</key>
			<string></string>
			<key>modelPic</key>
			<string></string>
			<key>modelPicArray</key>
			<array/>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2017-07-27 15:00:36</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1008</string>
			<key>proColor</key>
			<string>GY</string>
			<key>proCusIcon</key>
			<string>customer/icon/2017/7/73006288fa5b4a3da0d03acbc6949232.png</string>
			<key>proCusId</key>
			<string>128858</string>
			<key>proCusName</key>
			<string>从前慢</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>223870</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>连帽灰裙</string>
			<key>proPicture</key>
			<string>production/223/223870.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1043,223869</string>
			<key>proShape</key>
			<string>女款</string>
			<key>proSize</key>
			<string>M</string>
			<key>proStyle</key>
			<string>I1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>0</string>
			<key>showTypeName</key>
			<string>从前慢定制了自己作品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>你们这个定制ApP产品线太丰富，每个款都想要定制看看。优惠券赶紧发过来😂😂😂</string>
			<key>createDate</key>
			<string>2017-07-24 11:12:13</string>
			<key>cusIcon</key>
			<string>customer/icon/2017/7/f87dc26e42e844568a3a1bad7d6b47f5.png</string>
			<key>cusId</key>
			<string>128844</string>
			<key>cusName</key>
			<string>smileeee</string>
			<key>id</key>
			<string>103388</string>
			<key>modelCreateDate</key>
			<string></string>
			<key>modelPic</key>
			<string></string>
			<key>modelPicArray</key>
			<array/>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2017-07-24 11:02:56</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1008</string>
			<key>proColor</key>
			<string>GY</string>
			<key>proCusIcon</key>
			<string>customer/icon/2017/7/f87dc26e42e844568a3a1bad7d6b47f5.png</string>
			<key>proCusId</key>
			<string>128844</string>
			<key>proCusName</key>
			<string>smileeee</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>223528</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>连帽灰裙</string>
			<key>proPicture</key>
			<string>production/223/223528.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1043,223527</string>
			<key>proShape</key>
			<string>女款</string>
			<key>proSize</key>
			<string>S</string>
			<key>proStyle</key>
			<string>I1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>0</string>
			<key>showTypeName</key>
			<string>smileeee定制了自己作品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>小妹仔收到很惊喜很开心，衣服很美，她喜欢休闲时尚的，应该是她的喜爱！会再来噢噢噢噢</string>
			<key>createDate</key>
			<string>2017-07-22 17:25:23</string>
			<key>cusIcon</key>
			<string>customer/icon/2017/7/bfab8e2e08774767be25d556f8c88fa5.png</string>
			<key>cusId</key>
			<string>128837</string>
			<key>cusName</key>
			<string>freestyle</string>
			<key>id</key>
			<string>103369</string>
			<key>modelCreateDate</key>
			<string></string>
			<key>modelPic</key>
			<string></string>
			<key>modelPicArray</key>
			<array/>
			<key>orderBuyType</key>
			<string>1</string>
			<key>orderCreateDate</key>
			<string>2017-07-22 17:15:34</string>
			<key>pictures</key>
			<string>productionComment/223398/30811511568513_d3abac80ab854484a7cb47d07454a4bf.jpg,productionComment/223398/30811511568513_5731b81bf90c483fa9349ecc44b21ac2.jpg,productionComment/223398/30811511568513_a4a194f972784614b98d9291ce81a3f2.jpg</string>
			<key>picturesArray</key>
			<array>
				<string>productionComment/223398/30811511568513_d3abac80ab854484a7cb47d07454a4bf.jpg</string>
				<string>productionComment/223398/30811511568513_5731b81bf90c483fa9349ecc44b21ac2.jpg</string>
				<string>productionComment/223398/30811511568513_a4a194f972784614b98d9291ce81a3f2.jpg</string>
			</array>
			<key>proCategoryId</key>
			<string>1008</string>
			<key>proColor</key>
			<string>GY</string>
			<key>proCusIcon</key>
			<string>customer/icon/2017/7/bfab8e2e08774767be25d556f8c88fa5.png</string>
			<key>proCusId</key>
			<string>128837</string>
			<key>proCusName</key>
			<string>freestyle</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>223398</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>连帽灰裙</string>
			<key>proPicture</key>
			<string>production/223/223398.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1043,223397</string>
			<key>proShape</key>
			<string>女款</string>
			<key>proSize</key>
			<string>M</string>
			<key>proStyle</key>
			<string>I1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>1</string>
			<key>showTypeName</key>
			<string>freestyle定制了自己的作品作为礼品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>高！大！尚！！时尚感十足，好爱👄这裙子配小白鞋很满意！！</string>
			<key>createDate</key>
			<string>2017-07-22 11:56:52</string>
			<key>cusIcon</key>
			<string>customer/icon/2017/7/1d8a7ef359f047d08155b9f6787b729e.png</string>
			<key>cusId</key>
			<string>128828</string>
			<key>cusName</key>
			<string>黄小鸭</string>
			<key>id</key>
			<string>103341</string>
			<key>modelCreateDate</key>
			<string></string>
			<key>modelPic</key>
			<string></string>
			<key>modelPicArray</key>
			<array/>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2017-07-22 11:45:56</string>
			<key>pictures</key>
			<string>productionComment/223327/30808980089985_5325f773c9db4ecb8d97032b6561120f.png,productionComment/223327/30808980089985_5a620be877c4411eac331f70fb3f71dc.png</string>
			<key>picturesArray</key>
			<array>
				<string>productionComment/223327/30808980089985_5325f773c9db4ecb8d97032b6561120f.png</string>
				<string>productionComment/223327/30808980089985_5a620be877c4411eac331f70fb3f71dc.png</string>
			</array>
			<key>proCategoryId</key>
			<string>1008</string>
			<key>proColor</key>
			<string>GY</string>
			<key>proCusIcon</key>
			<string>customer/icon/2017/7/1d8a7ef359f047d08155b9f6787b729e.png</string>
			<key>proCusId</key>
			<string>128828</string>
			<key>proCusName</key>
			<string>黄小鸭</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>223327</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>连帽灰裙</string>
			<key>proPicture</key>
			<string>production/223/223327.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1043,223326</string>
			<key>proShape</key>
			<string>女款</string>
			<key>proSize</key>
			<string>M</string>
			<key>proStyle</key>
			<string>I1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>0</string>
			<key>showTypeName</key>
			<string>黄小鸭定制了自己作品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>灰色颜色很显白，两边稍微短了一点点，不过也还好。质量很高，前面印花洗了两次也很牢固，不掉色。表扬一个！</string>
			<key>createDate</key>
			<string>2017-07-22 16:46:24</string>
			<key>cusIcon</key>
			<string>customer/icon/2017/7/157f2fd9bfb14434a6ced759702d15b2.png</string>
			<key>cusId</key>
			<string>128911</string>
			<key>cusName</key>
			<string>空位</string>
			<key>id</key>
			<string>103363</string>
			<key>modelCreateDate</key>
			<string></string>
			<key>modelPic</key>
			<string></string>
			<key>modelPicArray</key>
			<array/>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2017-07-20 17:03:40</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1008</string>
			<key>proColor</key>
			<string>GY</string>
			<key>proCusIcon</key>
			<string>customer/icon/2017/7/157f2fd9bfb14434a6ced759702d15b2.png</string>
			<key>proCusId</key>
			<string>128911</string>
			<key>proCusName</key>
			<string>空位</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>223165</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>连帽灰裙</string>
			<key>proPicture</key>
			<string>production/223/223165.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1043,223164</string>
			<key>proShape</key>
			<string>女款</string>
			<key>proSize</key>
			<string>S</string>
			<key>proStyle</key>
			<string>I1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>0</string>
			<key>showTypeName</key>
			<string>空位定制了自己作品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>袖子和下摆裁剪都比较特别，上身显瘦更是庆幸！衣服的质感非常强呢，小开心小开心…</string>
			<key>createDate</key>
			<string>2017-07-20 12:28:37</string>
			<key>cusIcon</key>
			<string>customer/icon/2017/7/be0912d16db744cb84bf3de79b65d55d.png</string>
			<key>cusId</key>
			<string>128896</string>
			<key>cusName</key>
			<string>蓝月亮</string>
			<key>id</key>
			<string>103311</string>
			<key>modelCreateDate</key>
			<string></string>
			<key>modelPic</key>
			<string></string>
			<key>modelPicArray</key>
			<array/>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2017-07-20 12:25:27</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1008</string>
			<key>proColor</key>
			<string>GY</string>
			<key>proCusIcon</key>
			<string>customer/icon/2017/7/be0912d16db744cb84bf3de79b65d55d.png</string>
			<key>proCusId</key>
			<string>128896</string>
			<key>proCusName</key>
			<string>蓝月亮</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>223046</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>连帽灰裙</string>
			<key>proPicture</key>
			<string>production/223/223046.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1043,223045</string>
			<key>proShape</key>
			<string>女款</string>
			<key>proSize</key>
			<string>M</string>
			<key>proStyle</key>
			<string>I1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>0</string>
			<key>showTypeName</key>
			<string>蓝月亮定制了自己作品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>布料超有质感！！长度适中，盛夏穿轻微热点，在办公室就没问题！同事都说好看😊</string>
			<key>createDate</key>
			<string>2017-07-17 17:30:08</string>
			<key>cusIcon</key>
			<string>customer/icon/2017/7/5faf453665814e0599715d53506642b3.png</string>
			<key>cusId</key>
			<string>128852</string>
			<key>cusName</key>
			<string>口吕品</string>
			<key>id</key>
			<string>103245</string>
			<key>modelCreateDate</key>
			<string></string>
			<key>modelPic</key>
			<string></string>
			<key>modelPicArray</key>
			<array/>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2017-07-17 15:09:50</string>
			<key>pictures</key>
			<string>productionComment/222277/30755249960705_827449fd8ce8420590ecc7ce09380904.png,productionComment/222277/30755249960705_cdb3a304362343af81bb7e1475b133f1.png,productionComment/222277/30755249960705_3bb7351b26a14dfa9bdc2d269b8a66c6.png</string>
			<key>picturesArray</key>
			<array>
				<string>productionComment/222277/30755249960705_827449fd8ce8420590ecc7ce09380904.png</string>
				<string>productionComment/222277/30755249960705_cdb3a304362343af81bb7e1475b133f1.png</string>
				<string>productionComment/222277/30755249960705_3bb7351b26a14dfa9bdc2d269b8a66c6.png</string>
			</array>
			<key>proCategoryId</key>
			<string>1008</string>
			<key>proColor</key>
			<string>GY</string>
			<key>proCusIcon</key>
			<string>customer/icon/2017/7/5faf453665814e0599715d53506642b3.png</string>
			<key>proCusId</key>
			<string>128852</string>
			<key>proCusName</key>
			<string>口吕品</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>222277</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>连帽灰裙</string>
			<key>proPicture</key>
			<string>production/222/222277.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1043,222276</string>
			<key>proShape</key>
			<string>女款</string>
			<key>proSize</key>
			<string>M</string>
			<key>proStyle</key>
			<string>I1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>0</string>
			<key>showTypeName</key>
			<string>口吕品定制了自己作品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>本以为是卫衣布，这个的质感应该更高档吧。材料个性，潮…潮…</string>
			<key>createDate</key>
			<string>2017-07-18 10:46:23</string>
			<key>cusIcon</key>
			<string>customer/icon/2017/7/f42d8beace6948199be83afdcadb3dfd.png</string>
			<key>cusId</key>
			<string>128835</string>
			<key>cusName</key>
			<string>抱南瓜的村民</string>
			<key>id</key>
			<string>103264</string>
			<key>modelCreateDate</key>
			<string>2017-07-29 19:48:54</string>
			<key>modelPic</key>
			<string>ordermodelpic/d96d9eeacfe34d93a9e39ad58ff921e0.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/d96d9eeacfe34d93a9e39ad58ff921e0.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2017-07-16 15:51:41</string>
			<key>pictures</key>
			<string>productionComment/127553/30744512198017_cbc2c5474ccd4f268ec92edcf72acbda.png,productionComment/127553/30744512198017_48d1faa4422f427982960949bb95f55d.png</string>
			<key>picturesArray</key>
			<array>
				<string>productionComment/127553/30744512198017_cbc2c5474ccd4f268ec92edcf72acbda.png</string>
				<string>productionComment/127553/30744512198017_48d1faa4422f427982960949bb95f55d.png</string>
			</array>
			<key>proCategoryId</key>
			<string>1008</string>
			<key>proColor</key>
			<string>GY</string>
			<key>proCusIcon</key>
			<string>customer/icon/2016/6/1719d6a1b46e4dbebef4d06522c23e79.png</string>
			<key>proCusId</key>
			<string>101033</string>
			<key>proCusName</key>
			<string>妖妖山</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>127553</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>连帽灰裙</string>
			<key>proPicture</key>
			<string>production/127/127553.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1043,115768</string>
			<key>proShape</key>
			<string>女款</string>
			<key>proSize</key>
			<string>M</string>
			<key>proStyle</key>
			<string>I1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>2</string>
			<key>showTypeName</key>
			<string>抱南瓜的村民购买了设计师的作品</string>
		</dict>
	</array>
	<key>lastTime</key>
	<string>1583570475511</string>
	<key>totalResult</key>
	<string>16</string>
</dict>
</plist>
