<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comments</key>
	<array>
		<dict>
			<key>content</key>
			<string>速度超乎预料！！！好快呀！</string>
			<key>createDate</key>
			<string>2019-03-19 00:33:16</string>
			<key>cusIcon</key>
			<string>customer/icon/2015/12/5bea82b72fce4fecb83854ff32dbc90d.png</string>
			<key>cusId</key>
			<string>101044</string>
			<key>cusName</key>
			<string>enjoyment</string>
			<key>id</key>
			<string>103855</string>
			<key>modelCreateDate</key>
			<string>2019-03-19 19:04:21</string>
			<key>modelPic</key>
			<string>ordermodelpic/e918c003113d4986aaaf426bd8a3b6fd.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/e918c003113d4986aaaf426bd8a3b6fd.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>1</string>
			<key>orderCreateDate</key>
			<string>2019-03-18 11:54:43</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>10001</string>
			<key>proColor</key>
			<string>BGE</string>
			<key>proCusIcon</key>
			<string>customer/icon/2015/12/5bea82b72fce4fecb83854ff32dbc90d.png</string>
			<key>proCusId</key>
			<string>101044</string>
			<key>proCusName</key>
			<string>enjoyment</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>297787</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>马丁手拿袋</string>
			<key>proPicture</key>
			<string>production/297/297787.basic.jpg</string>
			<key>proRelateIds</key>
			<string>186888,297785</string>
			<key>proShape</key>
			<string>基本款</string>
			<key>proSize</key>
			<string>均码</string>
			<key>proStyle</key>
			<string>O1</string>
			<key>recommend</key>
			<string>1</string>
			<key>showType</key>
			<string>1</string>
			<key>showTypeName</key>
			<string>enjoyment定制了自己的作品作为礼品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>太好看了</string>
			<key>createDate</key>
			<string>2018-11-09 21:46:26</string>
			<key>cusIcon</key>
			<string></string>
			<key>cusId</key>
			<string>149636</string>
			<key>cusName</key>
			<string>挽心忆笙乐</string>
			<key>id</key>
			<string>103833</string>
			<key>modelCreateDate</key>
			<string></string>
			<key>modelPic</key>
			<string></string>
			<key>modelPicArray</key>
			<array/>
			<key>orderBuyType</key>
			<string>1</string>
			<key>orderCreateDate</key>
			<string>2018-11-04 19:44:02</string>
			<key>pictures</key>
			<string>productionComment/292038/36010475886465_f56ca887f2854df588002a8a0dcbe0e0.jpg</string>
			<key>picturesArray</key>
			<array>
				<string>productionComment/292038/36010475886465_f56ca887f2854df588002a8a0dcbe0e0.jpg</string>
			</array>
			<key>proCategoryId</key>
			<string>10001</string>
			<key>proColor</key>
			<string>BK</string>
			<key>proCusIcon</key>
			<string></string>
			<key>proCusId</key>
			<string>149636</string>
			<key>proCusName</key>
			<string>挽心忆笙乐</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>292038</string>
			<key>proIsRelease</key>
			<string>0</string>
			<key>proName</key>
			<string>马丁手拿袋</string>
			<key>proPicture</key>
			<string>production/292/292038.basic.jpg</string>
			<key>proRelateIds</key>
			<string>186889,292037</string>
			<key>proShape</key>
			<string>基本款</string>
			<key>proSize</key>
			<string>均码</string>
			<key>proStyle</key>
			<string>O1</string>
			<key>recommend</key>
			<string>1</string>
			<key>showType</key>
			<string>1</string>
			<key>showTypeName</key>
			<string>挽心忆笙乐定制了自己的作品作为礼品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>红色印的极其差，中间还发白，看着很旧，一点都不值这个价。</string>
			<key>createDate</key>
			<string>2019-10-27 11:47:18</string>
			<key>cusIcon</key>
			<string>http://thirdwx.qlogo.cn/mmopen/vi_32/DYAIOgq83eph1iaicSNt1Oy2eV1fyy6YMicsaCttEHfrPr7KBfTxOahW9q0icLM7lCEtwUUKZgxKd8ZUSB6r5O0u5w/132</string>
			<key>cusId</key>
			<string>127250</string>
			<key>cusName</key>
			<string>崇徽</string>
			<key>id</key>
			<string>103883</string>
			<key>modelCreateDate</key>
			<string></string>
			<key>modelPic</key>
			<string></string>
			<key>modelPicArray</key>
			<array/>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2019-10-23 00:40:53</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>10001</string>
			<key>proColor</key>
			<string>BK</string>
			<key>proCusIcon</key>
			<string>http://thirdwx.qlogo.cn/mmopen/vi_32/DYAIOgq83eph1iaicSNt1Oy2eV1fyy6YMicsaCttEHfrPr7KBfTxOahW9q0icLM7lCEtwUUKZgxKd8ZUSB6r5O0u5w/132</string>
			<key>proCusId</key>
			<string>127250</string>
			<key>proCusName</key>
			<string>崇徽</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>306334</string>
			<key>proIsRelease</key>
			<string>0</string>
			<key>proName</key>
			<string>马丁手拿袋</string>
			<key>proPicture</key>
			<string>production/306/306334.basic.jpg</string>
			<key>proRelateIds</key>
			<string>186889,306333</string>
			<key>proShape</key>
			<string>基本款</string>
			<key>proSize</key>
			<string>均码</string>
			<key>proStyle</key>
			<string>O1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>0</string>
			<key>showTypeName</key>
			<string>崇徽定制了自己作品</string>
		</dict>
		<dict>
			<key>content</key>
			<string></string>
			<key>createDate</key>
			<string></string>
			<key>cusIcon</key>
			<string>customer/icon/2015/12/4b1d4d72f65e4a7ba467b9185032245d.png</string>
			<key>cusId</key>
			<string></string>
			<key>cusName</key>
			<string>sunny</string>
			<key>id</key>
			<string></string>
			<key>modelCreateDate</key>
			<string>2019-03-18 14:27:09</string>
			<key>modelPic</key>
			<string>ordermodelpic/e895cb4100834467b00fbb2bba6b3ab3.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/e895cb4100834467b00fbb2bba6b3ab3.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>1</string>
			<key>orderCreateDate</key>
			<string>2019-03-18 12:20:56</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>10001</string>
			<key>proColor</key>
			<string>BK</string>
			<key>proCusIcon</key>
			<string>https://thirdwx.qlogo.cn/mmopen/vi_32/1YYLoiaw5Jj4RO0pQNOAhFqZLY1zn24JC8uJs8aUkjpwJDsW1YQcQ5deBiaRpcTpZiaxBhZpTlqdGz7xKicvFFX83w/132</string>
			<key>proCusId</key>
			<string>100850</string>
			<key>proCusName</key>
			<string>michelle_vegan</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>296870</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>马丁手拿袋</string>
			<key>proPicture</key>
			<string>production/296/296870.basic.jpg</string>
			<key>proRelateIds</key>
			<string>186889,296869</string>
			<key>proShape</key>
			<string>基本款</string>
			<key>proSize</key>
			<string>均码</string>
			<key>proStyle</key>
			<string>O1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>4</string>
			<key>showTypeName</key>
			<string>已极速发货，待用户晒单</string>
		</dict>
		<dict>
			<key>content</key>
			<string>颜色比想象中鲜艳耶，拉链的质量挺好的！</string>
			<key>createDate</key>
			<string>2019-03-19 00:33:16</string>
			<key>cusIcon</key>
			<string>customer/icon/2015/12/5bea82b72fce4fecb83854ff32dbc90d.png</string>
			<key>cusId</key>
			<string>101044</string>
			<key>cusName</key>
			<string>enjoyment</string>
			<key>id</key>
			<string>103856</string>
			<key>modelCreateDate</key>
			<string>2019-03-19 19:03:09</string>
			<key>modelPic</key>
			<string>ordermodelpic/295057463887424ca008d12d7f89b939.jpg,ordermodelpic/2e00e1ecec6c43c2b0c90a78a205eb87.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/295057463887424ca008d12d7f89b939.jpg</string>
				<string>ordermodelpic/2e00e1ecec6c43c2b0c90a78a205eb87.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>1</string>
			<key>orderCreateDate</key>
			<string>2019-03-18 11:54:43</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>10001</string>
			<key>proColor</key>
			<string>BK</string>
			<key>proCusIcon</key>
			<string>customer/icon/2015/12/5bea82b72fce4fecb83854ff32dbc90d.png</string>
			<key>proCusId</key>
			<string>101044</string>
			<key>proCusName</key>
			<string>enjoyment</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>297786</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>马丁手拿袋</string>
			<key>proPicture</key>
			<string>production/297/297786.basic.jpg</string>
			<key>proRelateIds</key>
			<string>186889,297785</string>
			<key>proShape</key>
			<string>基本款</string>
			<key>proSize</key>
			<string>均码</string>
			<key>proStyle</key>
			<string>O1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>1</string>
			<key>showTypeName</key>
			<string>enjoyment定制了自己的作品作为礼品</string>
		</dict>
		<dict>
			<key>content</key>
			<string></string>
			<key>createDate</key>
			<string></string>
			<key>cusIcon</key>
			<string>customer/icon/2015/12/5bea82b72fce4fecb83854ff32dbc90d.png</string>
			<key>cusId</key>
			<string></string>
			<key>cusName</key>
			<string>enjoyment</string>
			<key>id</key>
			<string></string>
			<key>modelCreateDate</key>
			<string>2019-03-19 19:04:21</string>
			<key>modelPic</key>
			<string>ordermodelpic/e918c003113d4986aaaf426bd8a3b6fd.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/e918c003113d4986aaaf426bd8a3b6fd.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>1</string>
			<key>orderCreateDate</key>
			<string>2019-03-18 11:54:13</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>10001</string>
			<key>proColor</key>
			<string>BGE</string>
			<key>proCusIcon</key>
			<string>customer/icon/2015/12/5bea82b72fce4fecb83854ff32dbc90d.png</string>
			<key>proCusId</key>
			<string>101044</string>
			<key>proCusName</key>
			<string>enjoyment</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>297787</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>马丁手拿袋</string>
			<key>proPicture</key>
			<string>production/297/297787.basic.jpg</string>
			<key>proRelateIds</key>
			<string>186888,297785</string>
			<key>proShape</key>
			<string>基本款</string>
			<key>proSize</key>
			<string>均码</string>
			<key>proStyle</key>
			<string>O1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>4</string>
			<key>showTypeName</key>
			<string>已极速发货，待用户晒单</string>
		</dict>
		<dict>
			<key>content</key>
			<string></string>
			<key>createDate</key>
			<string></string>
			<key>cusIcon</key>
			<string>customer/icon/2015/12/5bea82b72fce4fecb83854ff32dbc90d.png</string>
			<key>cusId</key>
			<string></string>
			<key>cusName</key>
			<string>enjoyment</string>
			<key>id</key>
			<string></string>
			<key>modelCreateDate</key>
			<string>2019-03-19 19:03:09</string>
			<key>modelPic</key>
			<string>ordermodelpic/295057463887424ca008d12d7f89b939.jpg,ordermodelpic/2e00e1ecec6c43c2b0c90a78a205eb87.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/295057463887424ca008d12d7f89b939.jpg</string>
				<string>ordermodelpic/2e00e1ecec6c43c2b0c90a78a205eb87.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>1</string>
			<key>orderCreateDate</key>
			<string>2019-03-18 11:54:13</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>10001</string>
			<key>proColor</key>
			<string>BK</string>
			<key>proCusIcon</key>
			<string>customer/icon/2015/12/5bea82b72fce4fecb83854ff32dbc90d.png</string>
			<key>proCusId</key>
			<string>101044</string>
			<key>proCusName</key>
			<string>enjoyment</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>297786</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>马丁手拿袋</string>
			<key>proPicture</key>
			<string>production/297/297786.basic.jpg</string>
			<key>proRelateIds</key>
			<string>186889,297785</string>
			<key>proShape</key>
			<string>基本款</string>
			<key>proSize</key>
			<string>均码</string>
			<key>proStyle</key>
			<string>O1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>4</string>
			<key>showTypeName</key>
			<string>已极速发货，待用户晒单</string>
		</dict>
		<dict>
			<key>content</key>
			<string></string>
			<key>createDate</key>
			<string></string>
			<key>cusIcon</key>
			<string>http://thirdqq.qlogo.cn/qqapp/1102018701/D5A50A2FE5015FBBA3FF43987664F2D4/100</string>
			<key>cusId</key>
			<string></string>
			<key>cusName</key>
			<string>Unstoppable_1</string>
			<key>id</key>
			<string></string>
			<key>modelCreateDate</key>
			<string>2019-03-15 19:56:59</string>
			<key>modelPic</key>
			<string>ordermodelpic/a77b9a2198404cb5b9648589198b4860.jpg,ordermodelpic/c1e7f702f71b418c945693542e93b32e.jpg,ordermodelpic/2e0e1567f01443a3b190c882f53b4397.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/a77b9a2198404cb5b9648589198b4860.jpg</string>
				<string>ordermodelpic/c1e7f702f71b418c945693542e93b32e.jpg</string>
				<string>ordermodelpic/2e0e1567f01443a3b190c882f53b4397.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>1</string>
			<key>orderCreateDate</key>
			<string>2019-03-15 11:23:29</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>10001</string>
			<key>proColor</key>
			<string>BGE</string>
			<key>proCusIcon</key>
			<string>http://thirdqq.qlogo.cn/qqapp/1102018701/D5A50A2FE5015FBBA3FF43987664F2D4/100</string>
			<key>proCusId</key>
			<string>141327</string>
			<key>proCusName</key>
			<string>Unstoppable_1</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>297706</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>马丁手拿袋</string>
			<key>proPicture</key>
			<string>production/297/297706.basic.jpg</string>
			<key>proRelateIds</key>
			<string>186888,297705</string>
			<key>proShape</key>
			<string>基本款</string>
			<key>proSize</key>
			<string>均码</string>
			<key>proStyle</key>
			<string>O1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>4</string>
			<key>showTypeName</key>
			<string>已极速发货，待用户晒单</string>
		</dict>
		<dict>
			<key>content</key>
			<string></string>
			<key>createDate</key>
			<string></string>
			<key>cusIcon</key>
			<string>customer/icon/2017/11/789be9b358e94b75b42a59f2d74de229.jpg</string>
			<key>cusId</key>
			<string></string>
			<key>cusName</key>
			<string>千山急雨</string>
			<key>id</key>
			<string></string>
			<key>modelCreateDate</key>
			<string>2018-12-21 14:37:48</string>
			<key>modelPic</key>
			<string>ordermodelpic/2548152cb6c449fc98c8fc467a60fd9e.jpg,ordermodelpic/bfa761d481434bfcac0121a5c6cb0b19.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/2548152cb6c449fc98c8fc467a60fd9e.jpg</string>
				<string>ordermodelpic/bfa761d481434bfcac0121a5c6cb0b19.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>1</string>
			<key>orderCreateDate</key>
			<string>2018-12-19 13:27:01</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>10001</string>
			<key>proColor</key>
			<string>BGE</string>
			<key>proCusIcon</key>
			<string>customer/icon/2017/11/789be9b358e94b75b42a59f2d74de229.jpg</string>
			<key>proCusId</key>
			<string>132368</string>
			<key>proCusName</key>
			<string>千山急雨</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>238485</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>马丁手拿袋</string>
			<key>proPicture</key>
			<string>production/238/238485.basic.jpg</string>
			<key>proRelateIds</key>
			<string>186888,238470</string>
			<key>proShape</key>
			<string>基本款</string>
			<key>proSize</key>
			<string>均码</string>
			<key>proStyle</key>
			<string>O1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>4</string>
			<key>showTypeName</key>
			<string>已极速发货，待用户晒单</string>
		</dict>
		<dict>
			<key>content</key>
			<string></string>
			<key>createDate</key>
			<string></string>
			<key>cusIcon</key>
			<string>customer/icon/2018/4/156c738abd3944e4b9c1031e5b4973ec.png</string>
			<key>cusId</key>
			<string></string>
			<key>cusName</key>
			<string>心悦游戏玩家</string>
			<key>id</key>
			<string></string>
			<key>modelCreateDate</key>
			<string>2018-11-28 14:40:31</string>
			<key>modelPic</key>
			<string>ordermodelpic/dc1d119dcf9f43fd911a196b776e8e34.jpg,ordermodelpic/438a4dcce2874371a40b29411312a626.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/dc1d119dcf9f43fd911a196b776e8e34.jpg</string>
				<string>ordermodelpic/438a4dcce2874371a40b29411312a626.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2018-11-12 23:27:38</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>10001</string>
			<key>proColor</key>
			<string>BK</string>
			<key>proCusIcon</key>
			<string>customer/icon/2018/4/156c738abd3944e4b9c1031e5b4973ec.png</string>
			<key>proCusId</key>
			<string>142403</string>
			<key>proCusName</key>
			<string>心悦游戏玩家</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>292270</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>马丁手拿袋</string>
			<key>proPicture</key>
			<string>production/292/292270.basic.jpg</string>
			<key>proRelateIds</key>
			<string>186889,292269</string>
			<key>proShape</key>
			<string>基本款</string>
			<key>proSize</key>
			<string>均码</string>
			<key>proStyle</key>
			<string>O1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>4</string>
			<key>showTypeName</key>
			<string>已极速发货，待用户晒单</string>
		</dict>
	</array>
	<key>lastTime</key>
	<string>1583570442011</string>
	<key>totalResult</key>
	<string>62</string>
</dict>
</plist>
