<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comments</key>
	<array>
		<dict>
			<key>content</key>
			<string>给自己的生活增添一些乐趣</string>
			<key>createDate</key>
			<string>2018-09-13 18:01:50</string>
			<key>cusIcon</key>
			<string>https://thirdwx.qlogo.cn/mmopen/vi_32/DYAIOgq83eooI5EdsUJv0c4odCVDA0VPNjn7jsfywSXQgjz66LrVuuXDaJsdYs3iajzUkKBQHBvZN3SDReuwIoQ/132</string>
			<key>cusId</key>
			<string>145002</string>
			<key>cusName</key>
			<string>okiebii</string>
			<key>id</key>
			<string>103818</string>
			<key>modelCreateDate</key>
			<string></string>
			<key>modelPic</key>
			<string></string>
			<key>modelPicArray</key>
			<array/>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2018-09-05 19:15:41</string>
			<key>pictures</key>
			<string>productionComment/284635/35346706105985_9654f34790934feb92d9f5d301adc8c1.png</string>
			<key>picturesArray</key>
			<array>
				<string>productionComment/284635/35346706105985_9654f34790934feb92d9f5d301adc8c1.png</string>
			</array>
			<key>proCategoryId</key>
			<string>1006</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>https://thirdwx.qlogo.cn/mmopen/vi_32/DYAIOgq83eooI5EdsUJv0c4odCVDA0VPNjn7jsfywSXQgjz66LrVuuXDaJsdYs3iajzUkKBQHBvZN3SDReuwIoQ/132</string>
			<key>proCusId</key>
			<string>145002</string>
			<key>proCusName</key>
			<string>okiebii</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>284635</string>
			<key>proIsRelease</key>
			<string>0</string>
			<key>proName</key>
			<string>短款宽松T</string>
			<key>proPicture</key>
			<string>production/284/284635.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1032,284634</string>
			<key>proShape</key>
			<string>女款</string>
			<key>proSize</key>
			<string>均码</string>
			<key>proStyle</key>
			<string>G1</string>
			<key>recommend</key>
			<string>1</string>
			<key>showType</key>
			<string>0</string>
			<key>showTypeName</key>
			<string>okiebii定制了自己作品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>很快就到了 包装很好看 实物和图片一毛一样 就是味道有点大</string>
			<key>createDate</key>
			<string>2018-07-28 13:07:56</string>
			<key>cusIcon</key>
			<string>https://q.qlogo.cn/qqapp/1102018701/063BFF59EDF609C352389DFBBA54AFA3/100</string>
			<key>cusId</key>
			<string>114985</string>
			<key>cusName</key>
			<string>Otros，</string>
			<key>id</key>
			<string>103787</string>
			<key>modelCreateDate</key>
			<string></string>
			<key>modelPic</key>
			<string></string>
			<key>modelPicArray</key>
			<array/>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2018-07-24 22:20:34</string>
			<key>pictures</key>
			<string>productionComment/126534/34872580368129_5111c049cef74867b73ece0fa011c6f2.png,productionComment/126534/34872580368129_2c8d4456f9b643ddbcb6e8989b5de3e7.png</string>
			<key>picturesArray</key>
			<array>
				<string>productionComment/126534/34872580368129_5111c049cef74867b73ece0fa011c6f2.png</string>
				<string>productionComment/126534/34872580368129_2c8d4456f9b643ddbcb6e8989b5de3e7.png</string>
			</array>
			<key>proCategoryId</key>
			<string>1006</string>
			<key>proColor</key>
			<string>BK</string>
			<key>proCusIcon</key>
			<string>customer/icon/2015/12/92409fcea0e84365adf8b70773eb533d.jpg</string>
			<key>proCusId</key>
			<string>100935</string>
			<key>proCusName</key>
			<string>大卫李</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>126534</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>短款宽松T</string>
			<key>proPicture</key>
			<string>production/126/126534.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1033,126532</string>
			<key>proShape</key>
			<string>女款</string>
			<key>proSize</key>
			<string>均码</string>
			<key>proStyle</key>
			<string>G1</string>
			<key>recommend</key>
			<string>1</string>
			<key>showType</key>
			<string>2</string>
			<key>showTypeName</key>
			<string>Otros，购买了设计师的作品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>超好看了！质量还行，有一点贵，不过印花很完美！！穿上楊祐寜感觉人生圆满了</string>
			<key>createDate</key>
			<string>2018-04-28 23:09:50</string>
			<key>cusIcon</key>
			<string>https://thirdqq.qlogo.cn/qqapp/1102018701/07EF3D8992693F9AE517BB5CE16DC6DD/100</string>
			<key>cusId</key>
			<string>140331</string>
			<key>cusName</key>
			<string>Polska</string>
			<key>id</key>
			<string>103710</string>
			<key>modelCreateDate</key>
			<string></string>
			<key>modelPic</key>
			<string></string>
			<key>modelPicArray</key>
			<array/>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2018-04-22 03:31:41</string>
			<key>pictures</key>
			<string>productionComment/255594/33835405016705_95c98dee1c7d4bee943a5391d383c6f5.png</string>
			<key>picturesArray</key>
			<array>
				<string>productionComment/255594/33835405016705_95c98dee1c7d4bee943a5391d383c6f5.png</string>
			</array>
			<key>proCategoryId</key>
			<string>1006</string>
			<key>proColor</key>
			<string>BK</string>
			<key>proCusIcon</key>
			<string>https://thirdqq.qlogo.cn/qqapp/1102018701/07EF3D8992693F9AE517BB5CE16DC6DD/100</string>
			<key>proCusId</key>
			<string>140331</string>
			<key>proCusName</key>
			<string>Polska</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>255594</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>短款宽松T</string>
			<key>proPicture</key>
			<string>production/255/255594.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1033,255593</string>
			<key>proShape</key>
			<string>女款</string>
			<key>proSize</key>
			<string>均码</string>
			<key>proStyle</key>
			<string>G1</string>
			<key>recommend</key>
			<string>1</string>
			<key>showType</key>
			<string>0</string>
			<key>showTypeName</key>
			<string>Polska定制了自己作品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>非常满意 已推荐了朋友哈</string>
			<key>createDate</key>
			<string>2018-04-24 20:50:39</string>
			<key>cusIcon</key>
			<string></string>
			<key>cusId</key>
			<string>134785</string>
			<key>cusName</key>
			<string>Lier</string>
			<key>id</key>
			<string>103694</string>
			<key>modelCreateDate</key>
			<string></string>
			<key>modelPic</key>
			<string></string>
			<key>modelPicArray</key>
			<array/>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2018-04-19 22:59:32</string>
			<key>pictures</key>
			<string>productionComment/248972/33811196489089_170e679fe6dd462e84d3e4c0fab9e263.png</string>
			<key>picturesArray</key>
			<array>
				<string>productionComment/248972/33811196489089_170e679fe6dd462e84d3e4c0fab9e263.png</string>
			</array>
			<key>proCategoryId</key>
			<string>1006</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string></string>
			<key>proCusId</key>
			<string>134785</string>
			<key>proCusName</key>
			<string>Lier</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>248972</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>短款宽松T</string>
			<key>proPicture</key>
			<string>production/248/248972.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1032,248971</string>
			<key>proShape</key>
			<string>女款</string>
			<key>proSize</key>
			<string>均码</string>
			<key>proStyle</key>
			<string>G1</string>
			<key>recommend</key>
			<string>1</string>
			<key>showType</key>
			<string>0</string>
			<key>showTypeName</key>
			<string>Lier定制了自己作品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>把自己家超可爱的猫穿在身上真的超开心!印刷很好!很满意!</string>
			<key>createDate</key>
			<string>2018-03-30 16:25:37</string>
			<key>cusIcon</key>
			<string>http://thirdwx.qlogo.cn/mmopen/vi_32/Q0j4TwGTfTLVXJzAUmdopugv9L7r7KbYAbknlv8IeovVa0VzQ8qt0f3Oqps3YSYRlrgCD5U8yTTE8KwRia7ibIsQ/132</string>
			<key>cusId</key>
			<string>134188</string>
			<key>cusName</key>
			<string>乐水</string>
			<key>id</key>
			<string>103669</string>
			<key>modelCreateDate</key>
			<string></string>
			<key>modelPic</key>
			<string></string>
			<key>modelPicArray</key>
			<array/>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2018-03-27 18:04:14</string>
			<key>pictures</key>
			<string>productionComment/246615/33554566935937_156db14d496d43d3a132544b3b81fdea.jpg</string>
			<key>picturesArray</key>
			<array>
				<string>productionComment/246615/33554566935937_156db14d496d43d3a132544b3b81fdea.jpg</string>
			</array>
			<key>proCategoryId</key>
			<string>1006</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>http://thirdwx.qlogo.cn/mmopen/vi_32/Q0j4TwGTfTLVXJzAUmdopugv9L7r7KbYAbknlv8IeovVa0VzQ8qt0f3Oqps3YSYRlrgCD5U8yTTE8KwRia7ibIsQ/132</string>
			<key>proCusId</key>
			<string>134188</string>
			<key>proCusName</key>
			<string>乐水</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>246615</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>短款宽松T</string>
			<key>proPicture</key>
			<string>production/246/246615.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1032,246614</string>
			<key>proShape</key>
			<string>女款</string>
			<key>proSize</key>
			<string>均码</string>
			<key>proStyle</key>
			<string>G1</string>
			<key>recommend</key>
			<string>1</string>
			<key>showType</key>
			<string>0</string>
			<key>showTypeName</key>
			<string>乐水定制了自己作品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>想了很久，不知道到底要往上面做些什么内容，怕雷同，又怕独特，虽然是礼物，但终归还是衣服，一定要穿的出去才好。所以那行字成了表达的重心，收到礼物的人开心是最要哒～</string>
			<key>createDate</key>
			<string>2017-11-22 07:28:29</string>
			<key>cusIcon</key>
			<string>http://q.qlogo.cn/qqapp/1102018701/1D4F564028775AD32C756256FAC37484/100</string>
			<key>cusId</key>
			<string>132671</string>
			<key>cusName</key>
			<string>纸谷诚吾</string>
			<key>id</key>
			<string>103632</string>
			<key>modelCreateDate</key>
			<string></string>
			<key>modelPic</key>
			<string></string>
			<key>modelPicArray</key>
			<array/>
			<key>orderBuyType</key>
			<string>1</string>
			<key>orderCreateDate</key>
			<string>2017-11-18 07:58:39</string>
			<key>pictures</key>
			<string>productionComment/239109/32123279318017_7789ffebaf8d4cfaaf3a0f9ba996380a.jpg</string>
			<key>picturesArray</key>
			<array>
				<string>productionComment/239109/32123279318017_7789ffebaf8d4cfaaf3a0f9ba996380a.jpg</string>
			</array>
			<key>proCategoryId</key>
			<string>1006</string>
			<key>proColor</key>
			<string>BK</string>
			<key>proCusIcon</key>
			<string>http://q.qlogo.cn/qqapp/1102018701/1D4F564028775AD32C756256FAC37484/100</string>
			<key>proCusId</key>
			<string>132671</string>
			<key>proCusName</key>
			<string>纸谷诚吾</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>239109</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>短款宽松T</string>
			<key>proPicture</key>
			<string>production/239/239109.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1033,239108</string>
			<key>proShape</key>
			<string>女款</string>
			<key>proSize</key>
			<string>均码</string>
			<key>proStyle</key>
			<string>G1</string>
			<key>recommend</key>
			<string>1</string>
			<key>showType</key>
			<string>1</string>
			<key>showTypeName</key>
			<string>纸谷诚吾定制了自己的作品作为礼品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>很喜欢 质量比想象中好很多耶!!买了很多件 strangerthings 脑残粉 咱们KUKU人手一件!哈哈哈哈</string>
			<key>createDate</key>
			<string>2017-09-16 19:17:13</string>
			<key>cusIcon</key>
			<string>customer/icon/2017/5/422058da00c042d1a72e96d0cfaa9c11.png</string>
			<key>cusId</key>
			<string>123781</string>
			<key>cusName</key>
			<string>我是宁爷</string>
			<key>id</key>
			<string>103560</string>
			<key>modelCreateDate</key>
			<string>2017-09-16 19:27:01</string>
			<key>modelPic</key>
			<string>ordermodelpic/4bbbbc89f3f24ff89715b179e27dd11f.jpg,ordermodelpic/a613e57fa2e14bb9a667dd6438da557a.jpg,ordermodelpic/85e1bb9ef67d4a87a58fc7992b728ead.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/4bbbbc89f3f24ff89715b179e27dd11f.jpg</string>
				<string>ordermodelpic/a613e57fa2e14bb9a667dd6438da557a.jpg</string>
				<string>ordermodelpic/85e1bb9ef67d4a87a58fc7992b728ead.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>1</string>
			<key>orderCreateDate</key>
			<string>2017-09-16 19:12:31</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1006</string>
			<key>proColor</key>
			<string>BK</string>
			<key>proCusIcon</key>
			<string>customer/icon/2017/5/422058da00c042d1a72e96d0cfaa9c11.png</string>
			<key>proCusId</key>
			<string>123781</string>
			<key>proCusName</key>
			<string>我是宁爷</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>229275</string>
			<key>proIsRelease</key>
			<string>0</string>
			<key>proName</key>
			<string>短款宽松T</string>
			<key>proPicture</key>
			<string>production/229/229275.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1033,229272</string>
			<key>proShape</key>
			<string>女款</string>
			<key>proSize</key>
			<string>均码</string>
			<key>proStyle</key>
			<string>G1</string>
			<key>recommend</key>
			<string>1</string>
			<key>showType</key>
			<string>1</string>
			<key>showTypeName</key>
			<string>我是宁爷定制了自己的作品作为礼品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>老顾客啦！每次都很喜欢呢！花纹清晰而且色彩超赞哦！</string>
			<key>createDate</key>
			<string>2017-08-07 13:58:08</string>
			<key>cusIcon</key>
			<string>customer/icon/2016/11/b8016f6ecb4645e9b8d5e28384258f76.png</string>
			<key>cusId</key>
			<string>121578</string>
			<key>cusName</key>
			<string>嘟嘟船长</string>
			<key>id</key>
			<string>103514</string>
			<key>modelCreateDate</key>
			<string>2017-08-11 15:28:52</string>
			<key>modelPic</key>
			<string>ordermodelpic/a268d2e860bd4d5099fd8fc80410d061.jpg,ordermodelpic/de1a6ed1ac524d4eb3b4858244d0b00a.jpg,ordermodelpic/9ece4c30e28848c28f2a7685e7f193d5.jpg,ordermodelpic/27eefd6dccbf4e63aeba5797d71e9419.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/a268d2e860bd4d5099fd8fc80410d061.jpg</string>
				<string>ordermodelpic/de1a6ed1ac524d4eb3b4858244d0b00a.jpg</string>
				<string>ordermodelpic/9ece4c30e28848c28f2a7685e7f193d5.jpg</string>
				<string>ordermodelpic/27eefd6dccbf4e63aeba5797d71e9419.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2017-08-02 20:36:29</string>
			<key>pictures</key>
			<string>productionComment/224379/30934705853953_ae1b3342789a42b490bd901a6fa60ac8.png,productionComment/224379/30934705853953_ee40b65b3a324f87a7d081c73d7120ff.png,productionComment/224379/30934705853953_76fc1f9d35a54abe9d0b004cc383479a.png</string>
			<key>picturesArray</key>
			<array>
				<string>productionComment/224379/30934705853953_ae1b3342789a42b490bd901a6fa60ac8.png</string>
				<string>productionComment/224379/30934705853953_ee40b65b3a324f87a7d081c73d7120ff.png</string>
				<string>productionComment/224379/30934705853953_76fc1f9d35a54abe9d0b004cc383479a.png</string>
			</array>
			<key>proCategoryId</key>
			<string>1006</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>customer/icon/2016/11/b8016f6ecb4645e9b8d5e28384258f76.png</string>
			<key>proCusId</key>
			<string>121578</string>
			<key>proCusName</key>
			<string>嘟嘟船长</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>224379</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>短款宽松T</string>
			<key>proPicture</key>
			<string>production/224/224379.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1032,224378</string>
			<key>proShape</key>
			<string>女款</string>
			<key>proSize</key>
			<string>均码</string>
			<key>proStyle</key>
			<string>G1</string>
			<key>recommend</key>
			<string>1</string>
			<key>showType</key>
			<string>0</string>
			<key>showTypeName</key>
			<string>嘟嘟船长定制了自己作品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>印花很好看。款式版型都小宽松，前短后长点，蛮好看！喜欢呢</string>
			<key>createDate</key>
			<string>2017-07-18 17:12:34</string>
			<key>cusIcon</key>
			<string>customer/icon/2017/7/ca732ce34b514c5bbd137ff92e357915.png</string>
			<key>cusId</key>
			<string>128877</string>
			<key>cusName</key>
			<string>周游列国</string>
			<key>id</key>
			<string>103270</string>
			<key>modelCreateDate</key>
			<string></string>
			<key>modelPic</key>
			<string></string>
			<key>modelPicArray</key>
			<array/>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2017-07-18 16:40:41</string>
			<key>pictures</key>
			<string>productionComment/195092/30767006846849_99425084d5a34df9a1dc349c58799df6.png,productionComment/195092/30767006846849_94e2b4612bb24839adb83c7b83a51d57.png,productionComment/195092/30767006846849_5c2d592fe88043278f8b7e9e626c4e31.png,productionComment/195092/30767006846849_dd1f173851274d8b80e33de62fc71009.png,productionComment/195092/30767006846849_b7eb0b8d002c43b1acd04ad035518204.png</string>
			<key>picturesArray</key>
			<array>
				<string>productionComment/195092/30767006846849_99425084d5a34df9a1dc349c58799df6.png</string>
				<string>productionComment/195092/30767006846849_94e2b4612bb24839adb83c7b83a51d57.png</string>
				<string>productionComment/195092/30767006846849_5c2d592fe88043278f8b7e9e626c4e31.png</string>
				<string>productionComment/195092/30767006846849_dd1f173851274d8b80e33de62fc71009.png</string>
				<string>productionComment/195092/30767006846849_b7eb0b8d002c43b1acd04ad035518204.png</string>
			</array>
			<key>proCategoryId</key>
			<string>1006</string>
			<key>proColor</key>
			<string>BK</string>
			<key>proCusIcon</key>
			<string>https://thirdwx.qlogo.cn/mmopen/vi_32/F8BuE1XlYGJ359EkryLSQ6GS6RIe03Nfklw8HX9GHAKA7oeibMJ8RibK2b0a0N1t48dG8Dh5HJ71T2pJRrqITAbQ/132</string>
			<key>proCusId</key>
			<string>100054</string>
			<key>proCusName</key>
			<string>Miss、谢</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>195092</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>短款宽松T</string>
			<key>proPicture</key>
			<string>production/195/195092.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1033,195084</string>
			<key>proShape</key>
			<string>女款</string>
			<key>proSize</key>
			<string>均码</string>
			<key>proStyle</key>
			<string>G1</string>
			<key>recommend</key>
			<string>1</string>
			<key>showType</key>
			<string>2</string>
			<key>showTypeName</key>
			<string>周游列国购买了设计师的作品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>好看！</string>
			<key>createDate</key>
			<string>2017-07-27 19:56:21</string>
			<key>cusIcon</key>
			<string>https://wx.qlogo.cn/mmhead/PiajxSqBRaELQYPoJA6nWKVt1wibhS9EJl7HnagMVcfvvGg1ibINOLnMw/0</string>
			<key>cusId</key>
			<string>129091</string>
			<key>cusName</key>
			<string>宾宾</string>
			<key>id</key>
			<string>103438</string>
			<key>modelCreateDate</key>
			<string>2017-07-26 10:56:12</string>
			<key>modelPic</key>
			<string>ordermodelpic/c85fdcf236884857bf51d5bae8005ac7.jpg,ordermodelpic/916dba5a050f401583fd4a2fe42b3dda.jpg,ordermodelpic/b3549e05384a44889f3650cef506f9dd.jpg,ordermodelpic/3ac86b8de09f4bc18fd4de490b8f7dc3.jpg,ordermodelpic/815fd2a727594b74af3817a4eb6c86ea.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/c85fdcf236884857bf51d5bae8005ac7.jpg</string>
				<string>ordermodelpic/916dba5a050f401583fd4a2fe42b3dda.jpg</string>
				<string>ordermodelpic/b3549e05384a44889f3650cef506f9dd.jpg</string>
				<string>ordermodelpic/3ac86b8de09f4bc18fd4de490b8f7dc3.jpg</string>
				<string>ordermodelpic/815fd2a727594b74af3817a4eb6c86ea.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2017-07-21 23:27:34</string>
			<key>pictures</key>
			<string>productionComment/223252/30803309432961_45972eaa2a6d43d895c84a3f97a6544a.png</string>
			<key>picturesArray</key>
			<array>
				<string>productionComment/223252/30803309432961_45972eaa2a6d43d895c84a3f97a6544a.png</string>
			</array>
			<key>proCategoryId</key>
			<string>1006</string>
			<key>proColor</key>
			<string>BK</string>
			<key>proCusIcon</key>
			<string>https://wx.qlogo.cn/mmhead/PiajxSqBRaELQYPoJA6nWKVt1wibhS9EJl7HnagMVcfvvGg1ibINOLnMw/0</string>
			<key>proCusId</key>
			<string>129091</string>
			<key>proCusName</key>
			<string>宾宾</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>223252</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>短款宽松T</string>
			<key>proPicture</key>
			<string>production/223/223252.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1033,223251</string>
			<key>proShape</key>
			<string>女款</string>
			<key>proSize</key>
			<string>均码</string>
			<key>proStyle</key>
			<string>G1</string>
			<key>recommend</key>
			<string>1</string>
			<key>showType</key>
			<string>0</string>
			<key>showTypeName</key>
			<string>宾宾定制了自己作品</string>
		</dict>
	</array>
	<key>lastTime</key>
	<string>1583570466510</string>
	<key>totalResult</key>
	<string>118</string>
</dict>
</plist>
