<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comments</key>
	<array>
		<dict>
			<key>content</key>
			<string></string>
			<key>createDate</key>
			<string></string>
			<key>cusIcon</key>
			<string>customer/icon/2018/10/31e843071fff41159b7420c33621e4f7.png</string>
			<key>cusId</key>
			<string></string>
			<key>cusName</key>
			<string>BKV</string>
			<key>id</key>
			<string></string>
			<key>modelCreateDate</key>
			<string>2019-04-02 18:44:20</string>
			<key>modelPic</key>
			<string>ordermodelpic/7df01fab5bcc4b93aa23b1287037e6e9.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/7df01fab5bcc4b93aa23b1287037e6e9.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2019-04-01 17:00:03</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1001</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>customer/icon/2018/10/31e843071fff41159b7420c33621e4f7.png</string>
			<key>proCusId</key>
			<string>149318</string>
			<key>proCusName</key>
			<string>BKV</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>290646</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>连帽卫衣</string>
			<key>proPicture</key>
			<string>production/290/290646.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1017,290554</string>
			<key>proShape</key>
			<string>男款</string>
			<key>proSize</key>
			<string>L</string>
			<key>proStyle</key>
			<string>C1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>4</string>
			<key>showTypeName</key>
			<string>已极速发货，待用户晒单</string>
		</dict>
		<dict>
			<key>content</key>
			<string></string>
			<key>createDate</key>
			<string></string>
			<key>cusIcon</key>
			<string>https://tvax3.sinaimg.cn/crop.0.0.750.750.180/6b39abcbly8fm5u0jji96j20ku0kumx5.jpg</string>
			<key>cusId</key>
			<string></string>
			<key>cusName</key>
			<string>元元</string>
			<key>id</key>
			<string></string>
			<key>modelCreateDate</key>
			<string>2019-02-14 15:40:06</string>
			<key>modelPic</key>
			<string>ordermodelpic/0e7b654edf4f418fa4b84a2164bac5d1.jpg,ordermodelpic/20224cbdad97410cbc871aca91245d1c.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/0e7b654edf4f418fa4b84a2164bac5d1.jpg</string>
				<string>ordermodelpic/20224cbdad97410cbc871aca91245d1c.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>1</string>
			<key>orderCreateDate</key>
			<string>2019-02-05 07:42:18</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1001</string>
			<key>proColor</key>
			<string>BK</string>
			<key>proCusIcon</key>
			<string>https://tvax3.sinaimg.cn/crop.0.0.750.750.180/6b39abcbly8fm5u0jji96j20ku0kumx5.jpg</string>
			<key>proCusId</key>
			<string>101294</string>
			<key>proCusName</key>
			<string>元元</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>296428</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>连帽卫衣</string>
			<key>proPicture</key>
			<string>production/296/296428.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1016,296427</string>
			<key>proShape</key>
			<string>男款</string>
			<key>proSize</key>
			<string>XL</string>
			<key>proStyle</key>
			<string>C1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>4</string>
			<key>showTypeName</key>
			<string>已极速发货，待用户晒单</string>
		</dict>
		<dict>
			<key>content</key>
			<string></string>
			<key>createDate</key>
			<string></string>
			<key>cusIcon</key>
			<string>customer/icon/2019/2/256b0cd03923480f957554c4f7f1fb39.jpg</string>
			<key>cusId</key>
			<string></string>
			<key>cusName</key>
			<string>13708036117</string>
			<key>id</key>
			<string></string>
			<key>modelCreateDate</key>
			<string>2019-02-14 15:40:20</string>
			<key>modelPic</key>
			<string>ordermodelpic/f35d44d262234fc281cce6fc9bee3009.jpg,ordermodelpic/97cb0b71a23f4ff4a45398232ab435e0.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/f35d44d262234fc281cce6fc9bee3009.jpg</string>
				<string>ordermodelpic/97cb0b71a23f4ff4a45398232ab435e0.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>1</string>
			<key>orderCreateDate</key>
			<string>2019-02-03 14:10:53</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1001</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>customer/icon/2019/2/256b0cd03923480f957554c4f7f1fb39.jpg</string>
			<key>proCusId</key>
			<string>150098</string>
			<key>proCusName</key>
			<string>13708036117</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>296581</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>连帽卫衣</string>
			<key>proPicture</key>
			<string>production/296/296581.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1017,296580</string>
			<key>proShape</key>
			<string>男款</string>
			<key>proSize</key>
			<string>L</string>
			<key>proStyle</key>
			<string>C1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>4</string>
			<key>showTypeName</key>
			<string>已极速发货，待用户晒单</string>
		</dict>
		<dict>
			<key>content</key>
			<string></string>
			<key>createDate</key>
			<string></string>
			<key>cusIcon</key>
			<string>https://thirdwx.qlogo.cn/mmopen/vi_32/DYAIOgq83eqkY7tsh6dWuprnYjicEiaEj2Wj2tpRkuJ92IcoUZC0CSWrfbzpiaVA3CBeuBFD2MkRicZnJICha52IAg/132</string>
			<key>cusId</key>
			<string></string>
			<key>cusName</key>
			<string>WJY_1</string>
			<key>id</key>
			<string></string>
			<key>modelCreateDate</key>
			<string>2018-12-21 14:38:18</string>
			<key>modelPic</key>
			<string>ordermodelpic/edd15ed239aa4d95b37bd2f5f6d48490.jpg,ordermodelpic/0f1195ac319b4a478b225b12bb97a436.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/edd15ed239aa4d95b37bd2f5f6d48490.jpg</string>
				<string>ordermodelpic/0f1195ac319b4a478b225b12bb97a436.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2018-12-19 10:11:37</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1001</string>
			<key>proColor</key>
			<string>BK</string>
			<key>proCusIcon</key>
			<string>https://tva4.sinaimg.cn/crop.0.0.638.638.180/d8141a98jw8e75pdr2900j20hq0hq0ur.jpg</string>
			<key>proCusId</key>
			<string>133210</string>
			<key>proCusName</key>
			<string>琉璃菜花</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>293976</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>连帽卫衣</string>
			<key>proPicture</key>
			<string>production/293/293976.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1016,293975</string>
			<key>proShape</key>
			<string>男款</string>
			<key>proSize</key>
			<string>M</string>
			<key>proStyle</key>
			<string>C1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>4</string>
			<key>showTypeName</key>
			<string>已极速发货，待用户晒单</string>
		</dict>
		<dict>
			<key>content</key>
			<string></string>
			<key>createDate</key>
			<string></string>
			<key>cusIcon</key>
			<string>http://thirdqq.qlogo.cn/qqapp/1102018701/674E8BCFB3470B5AC55BAAD008A43A53/100</string>
			<key>cusId</key>
			<string></string>
			<key>cusName</key>
			<string>青居魏青居</string>
			<key>id</key>
			<string></string>
			<key>modelCreateDate</key>
			<string>2018-12-21 14:38:45</string>
			<key>modelPic</key>
			<string>ordermodelpic/06e41ea2fb394a3a8b0b805ae25e0471.jpg,ordermodelpic/1ad0817cb0d845d0839f062540377c03.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/06e41ea2fb394a3a8b0b805ae25e0471.jpg</string>
				<string>ordermodelpic/1ad0817cb0d845d0839f062540377c03.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2018-12-16 14:46:39</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1001</string>
			<key>proColor</key>
			<string>BK</string>
			<key>proCusIcon</key>
			<string>http://thirdqq.qlogo.cn/qqapp/1102018701/674E8BCFB3470B5AC55BAAD008A43A53/100</string>
			<key>proCusId</key>
			<string>130601</string>
			<key>proCusName</key>
			<string>青居魏青居</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>293134</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>连帽卫衣</string>
			<key>proPicture</key>
			<string>production/293/293134.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1019,293133</string>
			<key>proShape</key>
			<string>女款</string>
			<key>proSize</key>
			<string>L</string>
			<key>proStyle</key>
			<string>C2</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>4</string>
			<key>showTypeName</key>
			<string>已极速发货，待用户晒单</string>
		</dict>
		<dict>
			<key>content</key>
			<string></string>
			<key>createDate</key>
			<string></string>
			<key>cusIcon</key>
			<string>http://thirdqq.qlogo.cn/qqapp/1102018701/501D3F877A6FD72F46552CF33B5666C5/100</string>
			<key>cusId</key>
			<string></string>
			<key>cusName</key>
			<string>XiNo</string>
			<key>id</key>
			<string></string>
			<key>modelCreateDate</key>
			<string>2018-12-21 14:39:07</string>
			<key>modelPic</key>
			<string>ordermodelpic/b10ba35aed194af0a0ba41845894cb49.jpg,ordermodelpic/3137b6d4f2fb43d28db50373aec1f904.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/b10ba35aed194af0a0ba41845894cb49.jpg</string>
				<string>ordermodelpic/3137b6d4f2fb43d28db50373aec1f904.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2018-12-14 00:21:32</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1001</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>http://thirdwx.qlogo.cn/mmopen/vi_32/deuUiaSibib35T7DoS3M5w2UmMzkEFo64bAMV45NlRX9YLQjX4YMdd3C8Y8PtnLxLSYd7GrBuibB4efbW3ibKwa35Kw/132</string>
			<key>proCusId</key>
			<string>143255</string>
			<key>proCusName</key>
			<string>青椒肉丝炒饭</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>291825</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>连帽卫衣</string>
			<key>proPicture</key>
			<string>production/291/291825.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1017,291824</string>
			<key>proShape</key>
			<string>男款</string>
			<key>proSize</key>
			<string>S</string>
			<key>proStyle</key>
			<string>C1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>4</string>
			<key>showTypeName</key>
			<string>已极速发货，待用户晒单</string>
		</dict>
		<dict>
			<key>content</key>
			<string></string>
			<key>createDate</key>
			<string></string>
			<key>cusIcon</key>
			<string>https://thirdqq.qlogo.cn/qqapp/1102018701/7333E729645DFEF83E0B3D1FB208A547/100</string>
			<key>cusId</key>
			<string></string>
			<key>cusName</key>
			<string>時光作渡。</string>
			<key>id</key>
			<string></string>
			<key>modelCreateDate</key>
			<string>2018-11-07 10:13:52</string>
			<key>modelPic</key>
			<string>ordermodelpic/891c1f0d7f1c433c9baaa9f77f6c639d.jpg,ordermodelpic/6aa52c0e5aab464eba15e7f176be5301.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/891c1f0d7f1c433c9baaa9f77f6c639d.jpg</string>
				<string>ordermodelpic/6aa52c0e5aab464eba15e7f176be5301.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>1</string>
			<key>orderCreateDate</key>
			<string>2018-10-17 13:06:25</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1001</string>
			<key>proColor</key>
			<string>BK</string>
			<key>proCusIcon</key>
			<string>https://thirdqq.qlogo.cn/qqapp/1102018701/7333E729645DFEF83E0B3D1FB208A547/100</string>
			<key>proCusId</key>
			<string>149384</string>
			<key>proCusName</key>
			<string>時光作渡。</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>290388</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>连帽卫衣</string>
			<key>proPicture</key>
			<string>production/290/290388.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1016,290387</string>
			<key>proShape</key>
			<string>男款</string>
			<key>proSize</key>
			<string>L</string>
			<key>proStyle</key>
			<string>C1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>4</string>
			<key>showTypeName</key>
			<string>已极速发货，待用户晒单</string>
		</dict>
		<dict>
			<key>content</key>
			<string></string>
			<key>createDate</key>
			<string></string>
			<key>cusIcon</key>
			<string>https://thirdqq.qlogo.cn/qqapp/1102018701/743DB3B655C07FBB6E38659203959FF6/100</string>
			<key>cusId</key>
			<string></string>
			<key>cusName</key>
			<string>顾十二</string>
			<key>id</key>
			<string></string>
			<key>modelCreateDate</key>
			<string>2018-11-07 10:13:39</string>
			<key>modelPic</key>
			<string>ordermodelpic/e0b31c65a5764945b595c8e84899cbd8.jpg,ordermodelpic/40618addf3e9407781dea40960171197.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/e0b31c65a5764945b595c8e84899cbd8.jpg</string>
				<string>ordermodelpic/40618addf3e9407781dea40960171197.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2018-10-17 01:26:35</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1001</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>https://thirdqq.qlogo.cn/qqapp/1102018701/743DB3B655C07FBB6E38659203959FF6/100</string>
			<key>proCusId</key>
			<string>148442</string>
			<key>proCusName</key>
			<string>顾十二</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>290106</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>连帽卫衣</string>
			<key>proPicture</key>
			<string>production/290/290106.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1020,290105</string>
			<key>proShape</key>
			<string>女款</string>
			<key>proSize</key>
			<string>L</string>
			<key>proStyle</key>
			<string>C2</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>4</string>
			<key>showTypeName</key>
			<string>已极速发货，待用户晒单</string>
		</dict>
		<dict>
			<key>content</key>
			<string></string>
			<key>createDate</key>
			<string></string>
			<key>cusIcon</key>
			<string>customer/icon/2018/10/31e843071fff41159b7420c33621e4f7.png</string>
			<key>cusId</key>
			<string></string>
			<key>cusName</key>
			<string>BKV</string>
			<key>id</key>
			<string></string>
			<key>modelCreateDate</key>
			<string>2018-11-07 10:11:28</string>
			<key>modelPic</key>
			<string>ordermodelpic/50ef978af3d74ce88a86b7887332a097.jpg,ordermodelpic/62a2ca6646cd4b4db6ddba75565972ec.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/50ef978af3d74ce88a86b7887332a097.jpg</string>
				<string>ordermodelpic/62a2ca6646cd4b4db6ddba75565972ec.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2018-10-08 21:32:41</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1001</string>
			<key>proColor</key>
			<string>BK</string>
			<key>proCusIcon</key>
			<string>customer/icon/2018/10/31e843071fff41159b7420c33621e4f7.png</string>
			<key>proCusId</key>
			<string>149318</string>
			<key>proCusName</key>
			<string>BKV</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>290335</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>连帽卫衣</string>
			<key>proPicture</key>
			<string>production/290/290335.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1016,290334</string>
			<key>proShape</key>
			<string>男款</string>
			<key>proSize</key>
			<string>XL</string>
			<key>proStyle</key>
			<string>C1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>4</string>
			<key>showTypeName</key>
			<string>已极速发货，待用户晒单</string>
		</dict>
		<dict>
			<key>content</key>
			<string></string>
			<key>createDate</key>
			<string></string>
			<key>cusIcon</key>
			<string>https://thirdwx.qlogo.cn/mmopen/vi_32/Q0j4TwGTfTLMVvISlib13EypVuvKlMp4eFwQQpA7AbMwAuVvpL0O3cV8wvs8xHjXH1LKdXmZh3zDsJbkiby66wKg/132</string>
			<key>cusId</key>
			<string></string>
			<key>cusName</key>
			<string>工藤新一的皮卡丘</string>
			<key>id</key>
			<string></string>
			<key>modelCreateDate</key>
			<string>2018-09-29 16:49:33</string>
			<key>modelPic</key>
			<string>ordermodelpic/c38568ac038944c2abcd03d7691a261e.jpg,ordermodelpic/3220655ba5f94e20880d693bad415e6f.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/c38568ac038944c2abcd03d7691a261e.jpg</string>
				<string>ordermodelpic/3220655ba5f94e20880d693bad415e6f.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2018-09-20 11:06:48</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1001</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>https://thirdwx.qlogo.cn/mmopen/vi_32/Q0j4TwGTfTLMVvISlib13EypVuvKlMp4eFwQQpA7AbMwAuVvpL0O3cV8wvs8xHjXH1LKdXmZh3zDsJbkiby66wKg/132</string>
			<key>proCusId</key>
			<string>148088</string>
			<key>proCusName</key>
			<string>工藤新一的皮卡丘</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>286105</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>连帽卫衣</string>
			<key>proPicture</key>
			<string>production/286/286105.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1017,286104</string>
			<key>proShape</key>
			<string>男款</string>
			<key>proSize</key>
			<string>XL</string>
			<key>proStyle</key>
			<string>C1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>4</string>
			<key>showTypeName</key>
			<string>已极速发货，待用户晒单</string>
		</dict>
	</array>
	<key>lastTime</key>
	<string>1583570477826</string>
	<key>totalResult</key>
	<string>92</string>
</dict>
</plist>
