<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comments</key>
	<array>
		<dict>
			<key>content</key>
			<string>帆布袋布料很好，印花手感好，清晰度高，一拿到手感觉很潮流，下次介绍朋友来买。。</string>
			<key>createDate</key>
			<string>2019-04-13 11:09:36</string>
			<key>cusIcon</key>
			<string>customer/icon/2015/12/ce09a2667f874fe8bacbd0064387d334.png</string>
			<key>cusId</key>
			<string>101031</string>
			<key>cusName</key>
			<string>流浪猫</string>
			<key>id</key>
			<string>103868</string>
			<key>modelCreateDate</key>
			<string>2019-04-13 09:36:19</string>
			<key>modelPic</key>
			<string>ordermodelpic/178bd61e60a7428a98d3e1b2fcb1f240.jpg,ordermodelpic/0b79c228233d4f03a24ffa81f29a5206.jpg,ordermodelpic/e8182b1a006a40498d377fcb36183dd4.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/178bd61e60a7428a98d3e1b2fcb1f240.jpg</string>
				<string>ordermodelpic/0b79c228233d4f03a24ffa81f29a5206.jpg</string>
				<string>ordermodelpic/e8182b1a006a40498d377fcb36183dd4.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2019-04-12 20:14:38</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1004</string>
			<key>proColor</key>
			<string>AP</string>
			<key>proCusIcon</key>
			<string>customer/icon/2015/12/ce09a2667f874fe8bacbd0064387d334.png</string>
			<key>proCusId</key>
			<string>101031</string>
			<key>proCusName</key>
			<string>流浪猫</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>298690</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>帆布包</string>
			<key>proPicture</key>
			<string>production/298/298690.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1022,298689</string>
			<key>proShape</key>
			<string>厚款</string>
			<key>proSize</key>
			<string>39.5*39CM</string>
			<key>proStyle</key>
			<string>D1</string>
			<key>recommend</key>
			<string>1</string>
			<key>showType</key>
			<string>0</string>
			<key>showTypeName</key>
			<string>流浪猫定制了自己作品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>在厚薄款中犹豫了，还是选了厚款。摸起来挺厚重的，制作细节看得出是很用心的，里面还有钥匙扣，点赞！印花效果确实不错。刚收到的时候会有一些味道，问了客服对人体没有危害，是制作后马上发货，72小时后会自动消失。</string>
			<key>createDate</key>
			<string>2019-03-19 07:29:49</string>
			<key>cusIcon</key>
			<string>customer/icon/2015/12/ecf19c14c8424d51b110e8b522bf9494.png</string>
			<key>cusId</key>
			<string>101049</string>
			<key>cusName</key>
			<string>漂流de</string>
			<key>id</key>
			<string>103858</string>
			<key>modelCreateDate</key>
			<string>2019-03-18 14:04:02</string>
			<key>modelPic</key>
			<string>ordermodelpic/542a9409fe9a444e9bdacf1c76edf721.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/542a9409fe9a444e9bdacf1c76edf721.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2019-03-18 11:58:40</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1004</string>
			<key>proColor</key>
			<string>AP</string>
			<key>proCusIcon</key>
			<string>customer/icon/2015/12/ecf19c14c8424d51b110e8b522bf9494.png</string>
			<key>proCusId</key>
			<string>101049</string>
			<key>proCusName</key>
			<string>漂流de</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>297792</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>帆布包</string>
			<key>proPicture</key>
			<string>production/297/297792.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1022,297790</string>
			<key>proShape</key>
			<string>厚款</string>
			<key>proSize</key>
			<string>39.5*39CM</string>
			<key>proStyle</key>
			<string>D1</string>
			<key>recommend</key>
			<string>1</string>
			<key>showType</key>
			<string>0</string>
			<key>showTypeName</key>
			<string>漂流de定制了自己作品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>物流好快呀！！！真的好好看  不知道怎么描述  太有成就感了！！</string>
			<key>createDate</key>
			<string>2019-03-09 18:17:07</string>
			<key>cusIcon</key>
			<string>http://thirdqq.qlogo.cn/qqapp/1102018701/674E8BCFB3470B5AC55BAAD008A43A53/100</string>
			<key>cusId</key>
			<string>130601</string>
			<key>cusName</key>
			<string>青居魏青居</string>
			<key>id</key>
			<string>103844</string>
			<key>modelCreateDate</key>
			<string></string>
			<key>modelPic</key>
			<string></string>
			<key>modelPicArray</key>
			<array/>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2019-02-22 19:48:19</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1004</string>
			<key>proColor</key>
			<string>AP</string>
			<key>proCusIcon</key>
			<string>http://thirdqq.qlogo.cn/qqapp/1102018701/674E8BCFB3470B5AC55BAAD008A43A53/100</string>
			<key>proCusId</key>
			<string>130601</string>
			<key>proCusName</key>
			<string>青居魏青居</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>297048</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>帆布包</string>
			<key>proPicture</key>
			<string>production/297/297048.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1023,297047</string>
			<key>proShape</key>
			<string>薄款</string>
			<key>proSize</key>
			<string>34*36CM</string>
			<key>proStyle</key>
			<string>D2</string>
			<key>recommend</key>
			<string>1</string>
			<key>showType</key>
			<string>0</string>
			<key>showTypeName</key>
			<string>青居魏青居定制了自己作品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>印出来简直棒呆，就是贺卡的字手写的非常可爱（liao cao）,总之就是很好的</string>
			<key>createDate</key>
			<string>2018-11-09 22:14:53</string>
			<key>cusIcon</key>
			<string>http://thirdwx.qlogo.cn/mmopen/vi_32/UiciaMkHkf9GeKfL77I9bjbz6vqwfuWNyYU8bdXLaBEKsACMWsRiczYHVIxfsib25KrzibSicXLAoYUB1QNW2f98DQaw/132</string>
			<key>cusId</key>
			<string>142888</string>
			<key>cusName</key>
			<string>者者</string>
			<key>id</key>
			<string>103834</string>
			<key>modelCreateDate</key>
			<string></string>
			<key>modelPic</key>
			<string></string>
			<key>modelPicArray</key>
			<array/>
			<key>orderBuyType</key>
			<string>1</string>
			<key>orderCreateDate</key>
			<string>2018-11-04 17:59:15</string>
			<key>pictures</key>
			<string>productionComment/292036/36009671142785_5db11e83510e4f7c80507335c683a4dd.jpg</string>
			<key>picturesArray</key>
			<array>
				<string>productionComment/292036/36009671142785_5db11e83510e4f7c80507335c683a4dd.jpg</string>
			</array>
			<key>proCategoryId</key>
			<string>1004</string>
			<key>proColor</key>
			<string>AP</string>
			<key>proCusIcon</key>
			<string>http://thirdwx.qlogo.cn/mmopen/vi_32/UiciaMkHkf9GeKfL77I9bjbz6vqwfuWNyYU8bdXLaBEKsACMWsRiczYHVIxfsib25KrzibSicXLAoYUB1QNW2f98DQaw/132</string>
			<key>proCusId</key>
			<string>142888</string>
			<key>proCusName</key>
			<string>者者</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>292036</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>帆布包</string>
			<key>proPicture</key>
			<string>production/292/292036.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1022,292035</string>
			<key>proShape</key>
			<string>厚款</string>
			<key>proSize</key>
			<string>39.5*39CM</string>
			<key>proStyle</key>
			<string>D1</string>
			<key>recommend</key>
			<string>1</string>
			<key>showType</key>
			<string>1</string>
			<key>showTypeName</key>
			<string>者者定制了自己的作品作为礼品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>质量不错</string>
			<key>createDate</key>
			<string>2018-11-28 23:19:28</string>
			<key>cusIcon</key>
			<string>https://thirdwx.qlogo.cn/mmopen/vi_32/Q0j4TwGTfTIeqjObc1h6X4BWkqg2uiaXcMSwOkRdcF0qHhMjsLFKPIwEXJzibuVqe8d1HGyKQH8tyIT0hGpur1BQ/132</string>
			<key>cusId</key>
			<string>149768</string>
			<key>cusName</key>
			<string>CtOS¹⁴⁰³</string>
			<key>id</key>
			<string>103836</string>
			<key>modelCreateDate</key>
			<string></string>
			<key>modelPic</key>
			<string></string>
			<key>modelPicArray</key>
			<array/>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2018-11-23 13:33:41</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>1004</string>
			<key>proColor</key>
			<string>AP</string>
			<key>proCusIcon</key>
			<string>https://thirdwx.qlogo.cn/mmopen/vi_32/Q0j4TwGTfTIeqjObc1h6X4BWkqg2uiaXcMSwOkRdcF0qHhMjsLFKPIwEXJzibuVqe8d1HGyKQH8tyIT0hGpur1BQ/132</string>
			<key>proCusId</key>
			<string>149768</string>
			<key>proCusName</key>
			<string>CtOS¹⁴⁰³</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>292537</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>帆布包</string>
			<key>proPicture</key>
			<string>production/292/292537.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1022,292536</string>
			<key>proShape</key>
			<string>厚款</string>
			<key>proSize</key>
			<string>39.5*39CM</string>
			<key>proStyle</key>
			<string>D1</string>
			<key>recommend</key>
			<string>1</string>
			<key>showType</key>
			<string>0</string>
			<key>showTypeName</key>
			<string>CtOS¹⁴⁰³定制了自己作品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>很喜欢</string>
			<key>createDate</key>
			<string>2018-10-25 17:30:35</string>
			<key>cusIcon</key>
			<string>customer/icon/2018/11/960c806b36b64ea1826f40fec0ff64d9.png</string>
			<key>cusId</key>
			<string>149376</string>
			<key>cusName</key>
			<string>方大毛</string>
			<key>id</key>
			<string>103829</string>
			<key>modelCreateDate</key>
			<string></string>
			<key>modelPic</key>
			<string></string>
			<key>modelPicArray</key>
			<array/>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2018-10-10 08:53:01</string>
			<key>pictures</key>
			<string>productionComment/290427/35728995999233_0f8b5d84aa714441ba8d29fbd5c62651.png,productionComment/290427/35728995999233_c867ae5fc26241e1bac41d8099c2607b.png</string>
			<key>picturesArray</key>
			<array>
				<string>productionComment/290427/35728995999233_0f8b5d84aa714441ba8d29fbd5c62651.png</string>
				<string>productionComment/290427/35728995999233_c867ae5fc26241e1bac41d8099c2607b.png</string>
			</array>
			<key>proCategoryId</key>
			<string>1004</string>
			<key>proColor</key>
			<string>AP</string>
			<key>proCusIcon</key>
			<string>customer/icon/2018/11/960c806b36b64ea1826f40fec0ff64d9.png</string>
			<key>proCusId</key>
			<string>149376</string>
			<key>proCusName</key>
			<string>方大毛</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>290427</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>帆布包</string>
			<key>proPicture</key>
			<string>production/290/290427.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1022,290426</string>
			<key>proShape</key>
			<string>厚款</string>
			<key>proSize</key>
			<string>39.5*39CM</string>
			<key>proStyle</key>
			<string>D1</string>
			<key>recommend</key>
			<string>1</string>
			<key>showType</key>
			<string>0</string>
			<key>showTypeName</key>
			<string>方大毛定制了自己作品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>真的太喜欢了！无敌好看！</string>
			<key>createDate</key>
			<string>2018-08-18 19:46:03</string>
			<key>cusIcon</key>
			<string>customer/icon/2018/8/bb79b8c42ca64240aa3ddb93b9aa7288.jpg</string>
			<key>cusId</key>
			<string>146844</string>
			<key>cusName</key>
			<string>Wzur</string>
			<key>id</key>
			<string>103799</string>
			<key>modelCreateDate</key>
			<string></string>
			<key>modelPic</key>
			<string></string>
			<key>modelPicArray</key>
			<array/>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2018-08-15 00:25:57</string>
			<key>pictures</key>
			<string>productionComment/280764/35105786521857_e308959150ac4488ada28c74d0275af2.jpg,productionComment/280764/35105786521857_5ae49551ab144e0b9ad711f7da603b58.jpg,productionComment/280764/35105786521857_579f9fbde607437488b0d6e5393e56a1.jpg</string>
			<key>picturesArray</key>
			<array>
				<string>productionComment/280764/35105786521857_e308959150ac4488ada28c74d0275af2.jpg</string>
				<string>productionComment/280764/35105786521857_5ae49551ab144e0b9ad711f7da603b58.jpg</string>
				<string>productionComment/280764/35105786521857_579f9fbde607437488b0d6e5393e56a1.jpg</string>
			</array>
			<key>proCategoryId</key>
			<string>1004</string>
			<key>proColor</key>
			<string>AP</string>
			<key>proCusIcon</key>
			<string>customer/icon/2018/8/bb79b8c42ca64240aa3ddb93b9aa7288.jpg</string>
			<key>proCusId</key>
			<string>146844</string>
			<key>proCusName</key>
			<string>Wzur</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>280764</string>
			<key>proIsRelease</key>
			<string>0</string>
			<key>proName</key>
			<string>帆布包</string>
			<key>proPicture</key>
			<string>production/280/280764.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1023,280763</string>
			<key>proShape</key>
			<string>薄款</string>
			<key>proSize</key>
			<string>34*36CM</string>
			<key>proStyle</key>
			<string>D2</string>
			<key>recommend</key>
			<string>1</string>
			<key>showType</key>
			<string>0</string>
			<key>showTypeName</key>
			<string>Wzur定制了自己作品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>质量还不错</string>
			<key>createDate</key>
			<string>2018-08-22 08:48:21</string>
			<key>cusIcon</key>
			<string>https://thirdwx.qlogo.cn/mmopen/vi_32/Q0j4TwGTfTI0jySibXsIglMtUJT7aXicAzw2NeLJXbud2zokV1rYudlKt9qSACa6phuIzENERMDtMmeq779HOabw/132</string>
			<key>cusId</key>
			<string>146939</string>
			<key>cusName</key>
			<string>狼红帽的小外婆</string>
			<key>id</key>
			<string>103804</string>
			<key>modelCreateDate</key>
			<string></string>
			<key>modelPic</key>
			<string></string>
			<key>modelPicArray</key>
			<array/>
			<key>orderBuyType</key>
			<string>1</string>
			<key>orderCreateDate</key>
			<string>2018-08-17 21:49:36</string>
			<key>pictures</key>
			<string>productionComment/281369/35137763369217_35a5fe6ee6db4daca42e7ebec356aca5.png</string>
			<key>picturesArray</key>
			<array>
				<string>productionComment/281369/35137763369217_35a5fe6ee6db4daca42e7ebec356aca5.png</string>
			</array>
			<key>proCategoryId</key>
			<string>1004</string>
			<key>proColor</key>
			<string>AP</string>
			<key>proCusIcon</key>
			<string>https://thirdwx.qlogo.cn/mmopen/vi_32/Q0j4TwGTfTI0jySibXsIglMtUJT7aXicAzw2NeLJXbud2zokV1rYudlKt9qSACa6phuIzENERMDtMmeq779HOabw/132</string>
			<key>proCusId</key>
			<string>146939</string>
			<key>proCusName</key>
			<string>狼红帽的小外婆</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>281369</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>帆布包</string>
			<key>proPicture</key>
			<string>production/281/281369.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1023,281368</string>
			<key>proShape</key>
			<string>薄款</string>
			<key>proSize</key>
			<string>34*36CM</string>
			<key>proStyle</key>
			<string>D2</string>
			<key>recommend</key>
			<string>1</string>
			<key>showType</key>
			<string>1</string>
			<key>showTypeName</key>
			<string>狼红帽的小外婆定制了自己的作品作为礼品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>喜欢 嘻嘻</string>
			<key>createDate</key>
			<string>2018-08-04 13:26:21</string>
			<key>cusIcon</key>
			<string>customer/icon/2018/8/aec8fc4ca7774cbb8378a030c693575f.jpg</string>
			<key>cusId</key>
			<string>145600</string>
			<key>cusName</key>
			<string>碎彬彬</string>
			<key>id</key>
			<string>103791</string>
			<key>modelCreateDate</key>
			<string>2018-08-04 11:40:37</string>
			<key>modelPic</key>
			<string>ordermodelpic/3ec7cee5b3034a87b313fa0ab00f534b.jpg,ordermodelpic/5148fd5eccfb4d01982b9309497179e3.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/3ec7cee5b3034a87b313fa0ab00f534b.jpg</string>
				<string>ordermodelpic/5148fd5eccfb4d01982b9309497179e3.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2018-08-01 10:36:40</string>
			<key>pictures</key>
			<string>productionComment/278378/34955648096257_b406348fad804bcfa2f18453e032771f.jpg</string>
			<key>picturesArray</key>
			<array>
				<string>productionComment/278378/34955648096257_b406348fad804bcfa2f18453e032771f.jpg</string>
			</array>
			<key>proCategoryId</key>
			<string>1004</string>
			<key>proColor</key>
			<string>AP</string>
			<key>proCusIcon</key>
			<string>customer/icon/2018/8/aec8fc4ca7774cbb8378a030c693575f.jpg</string>
			<key>proCusId</key>
			<string>145600</string>
			<key>proCusName</key>
			<string>碎彬彬</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>278378</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>帆布包</string>
			<key>proPicture</key>
			<string>production/278/278378.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1023,278377</string>
			<key>proShape</key>
			<string>薄款</string>
			<key>proSize</key>
			<string>34*36CM</string>
			<key>proStyle</key>
			<string>D2</string>
			<key>recommend</key>
			<string>1</string>
			<key>showType</key>
			<string>0</string>
			<key>showTypeName</key>
			<string>碎彬彬定制了自己作品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>自己做的，质量蛮好，图片印的蛮清晰的(๑´ㅂ`๑)</string>
			<key>createDate</key>
			<string>2018-04-25 12:23:32</string>
			<key>cusIcon</key>
			<string>customer/icon/2018/4/307d835ec0f3455c9654dbe00f7e9f79.jpg</string>
			<key>cusId</key>
			<string>140042</string>
			<key>cusName</key>
			<string>strustly</string>
			<key>id</key>
			<string>103698</string>
			<key>modelCreateDate</key>
			<string></string>
			<key>modelPic</key>
			<string></string>
			<key>modelPicArray</key>
			<array/>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2018-04-20 18:33:22</string>
			<key>pictures</key>
			<string>productionComment/251579/33820211481473_6156ec73ac09413c973a4f44cb36037c.jpg</string>
			<key>picturesArray</key>
			<array>
				<string>productionComment/251579/33820211481473_6156ec73ac09413c973a4f44cb36037c.jpg</string>
			</array>
			<key>proCategoryId</key>
			<string>1004</string>
			<key>proColor</key>
			<string>AP</string>
			<key>proCusIcon</key>
			<string>customer/icon/2018/4/307d835ec0f3455c9654dbe00f7e9f79.jpg</string>
			<key>proCusId</key>
			<string>140042</string>
			<key>proCusName</key>
			<string>strustly</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>251579</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>帆布包</string>
			<key>proPicture</key>
			<string>production/251/251579.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1023,251578</string>
			<key>proShape</key>
			<string>薄款</string>
			<key>proSize</key>
			<string>34*36CM</string>
			<key>proStyle</key>
			<string>D2</string>
			<key>recommend</key>
			<string>1</string>
			<key>showType</key>
			<string>0</string>
			<key>showTypeName</key>
			<string>strustly定制了自己作品</string>
		</dict>
	</array>
	<key>lastTime</key>
	<string>1583570431700</string>
	<key>totalResult</key>
	<string>180</string>
</dict>
</plist>
