<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comments</key>
	<array>
		<dict>
			<key>content</key>
			<string>非常喜欢，完全是印上去的而非皮质，很满意</string>
			<key>createDate</key>
			<string>2018-08-14 13:45:38</string>
			<key>cusIcon</key>
			<string>https://thirdqq.qlogo.cn/qqapp/1102018701/42490783586212BB056847C4229CCEE9/100</string>
			<key>cusId</key>
			<string>145816</string>
			<key>cusName</key>
			<string>小仙女是夏君</string>
			<key>id</key>
			<string>103797</string>
			<key>modelCreateDate</key>
			<string></string>
			<key>modelPic</key>
			<string></string>
			<key>modelPicArray</key>
			<array/>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2018-08-09 23:01:22</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>10000</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>https://thirdqq.qlogo.cn/qqapp/1102018701/42490783586212BB056847C4229CCEE9/100</string>
			<key>proCusId</key>
			<string>145816</string>
			<key>proCusName</key>
			<string>小仙女是夏君</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>279144</string>
			<key>proIsRelease</key>
			<string>0</string>
			<key>proName</key>
			<string>纯棉T恤</string>
			<key>proPicture</key>
			<string>production/279/279144.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1024,279142</string>
			<key>proShape</key>
			<string>男款</string>
			<key>proSize</key>
			<string>XL</string>
			<key>proStyle</key>
			<string>E1</string>
			<key>recommend</key>
			<string>1</string>
			<key>showType</key>
			<string>0</string>
			<key>showTypeName</key>
			<string>小仙女是夏君定制了自己作品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>印花很满意</string>
			<key>createDate</key>
			<string>2018-08-03 18:38:56</string>
			<key>cusIcon</key>
			<string>http://thirdqq.qlogo.cn/qqapp/1102018701/8884DFFB4BC108B697933890C02D44C6/100</string>
			<key>cusId</key>
			<string>144996</string>
			<key>cusName</key>
			<string>Monarch</string>
			<key>id</key>
			<string>103790</string>
			<key>modelCreateDate</key>
			<string>2018-08-04 11:43:49</string>
			<key>modelPic</key>
			<string>ordermodelpic/a2b94df922a84963ad1fbfd0aa6f3138.jpg,ordermodelpic/458225361a5b416b8db21f92db6af5c7.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/a2b94df922a84963ad1fbfd0aa6f3138.jpg</string>
				<string>ordermodelpic/458225361a5b416b8db21f92db6af5c7.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>1</string>
			<key>orderCreateDate</key>
			<string>2018-07-29 14:48:08</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>10000</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>http://thirdqq.qlogo.cn/qqapp/1102018701/8884DFFB4BC108B697933890C02D44C6/100</string>
			<key>proCusId</key>
			<string>144996</string>
			<key>proCusName</key>
			<string>Monarch</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>278151</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>纯棉T恤</string>
			<key>proPicture</key>
			<string>production/278/278151.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1024,278150</string>
			<key>proShape</key>
			<string>男款</string>
			<key>proSize</key>
			<string>XL</string>
			<key>proStyle</key>
			<string>E1</string>
			<key>recommend</key>
			<string>1</string>
			<key>showType</key>
			<string>1</string>
			<key>showTypeName</key>
			<string>Monarch定制了自己的作品作为礼品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>盆友说好好看很喜欢哈哈哈哈开心</string>
			<key>createDate</key>
			<string>2018-04-27 14:22:24</string>
			<key>cusIcon</key>
			<string>https://tva2.sinaimg.cn/crop.0.0.750.750.180/63221ef2jw8f4de6nhy2gj20ku0kuwgj.jpg</string>
			<key>cusId</key>
			<string>142272</string>
			<key>cusName</key>
			<string>不要再反弹了</string>
			<key>id</key>
			<string>103706</string>
			<key>modelCreateDate</key>
			<string></string>
			<key>modelPic</key>
			<string></string>
			<key>modelPicArray</key>
			<array/>
			<key>orderBuyType</key>
			<string>1</string>
			<key>orderCreateDate</key>
			<string>2018-04-23 16:50:38</string>
			<key>pictures</key>
			<string>productionComment/257752/33852600105857_38a71b04e77344ba969dd753705d70aa.png</string>
			<key>picturesArray</key>
			<array>
				<string>productionComment/257752/33852600105857_38a71b04e77344ba969dd753705d70aa.png</string>
			</array>
			<key>proCategoryId</key>
			<string>10000</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>https://tva2.sinaimg.cn/crop.0.0.750.750.180/63221ef2jw8f4de6nhy2gj20ku0kuwgj.jpg</string>
			<key>proCusId</key>
			<string>142272</string>
			<key>proCusName</key>
			<string>不要再反弹了</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>257752</string>
			<key>proIsRelease</key>
			<string>0</string>
			<key>proName</key>
			<string>纯棉T恤</string>
			<key>proPicture</key>
			<string>production/257/257752.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1025,257751</string>
			<key>proShape</key>
			<string>女款</string>
			<key>proSize</key>
			<string>L</string>
			<key>proStyle</key>
			<string>E2</string>
			<key>recommend</key>
			<string>1</string>
			<key>showType</key>
			<string>1</string>
			<key>showTypeName</key>
			<string>不要再反弹了定制了自己的作品作为礼品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>好精致的包装 图案印的也很漂亮 喜欢！</string>
			<key>createDate</key>
			<string>2018-01-10 19:55:50</string>
			<key>cusIcon</key>
			<string>https://wx.qlogo.cn/mmopen/vi_32/PiajxSqBRaEJtOwPkqric8df0usjwnsmGA7uLvzyZhIAU5ib68rr3qJu62eSS6yWdk30l6ezY8fcCq2knKicR55pPQ/0</string>
			<key>cusId</key>
			<string>133371</string>
			<key>cusName</key>
			<string>丁鼎</string>
			<key>id</key>
			<string>103652</string>
			<key>modelCreateDate</key>
			<string>2018-01-09 10:33:18</string>
			<key>modelPic</key>
			<string>ordermodelpic/15f94793848548ebac61058766a2854c.jpg,ordermodelpic/e2e1b177ec474cf8b2051ceecb9f2dbe.jpg,ordermodelpic/4a3d88802b1f4d3699131168e9d0b30c.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/15f94793848548ebac61058766a2854c.jpg</string>
				<string>ordermodelpic/e2e1b177ec474cf8b2051ceecb9f2dbe.jpg</string>
				<string>ordermodelpic/4a3d88802b1f4d3699131168e9d0b30c.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2018-01-04 19:57:14</string>
			<key>pictures</key>
			<string>productionComment/242340/32648580472449_60f71d171d1847e8a57df275489caf12.png,productionComment/242340/32648580472449_c9006196bedc4aa0b9a95807c979af06.png</string>
			<key>picturesArray</key>
			<array>
				<string>productionComment/242340/32648580472449_60f71d171d1847e8a57df275489caf12.png</string>
				<string>productionComment/242340/32648580472449_c9006196bedc4aa0b9a95807c979af06.png</string>
			</array>
			<key>proCategoryId</key>
			<string>10000</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>https://wx.qlogo.cn/mmopen/vi_32/PiajxSqBRaEJtOwPkqric8df0usjwnsmGA7uLvzyZhIAU5ib68rr3qJu62eSS6yWdk30l6ezY8fcCq2knKicR55pPQ/0</string>
			<key>proCusId</key>
			<string>133371</string>
			<key>proCusName</key>
			<string>丁鼎</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>242340</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>纯棉T恤</string>
			<key>proPicture</key>
			<string>production/242/242340.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1024,242338</string>
			<key>proShape</key>
			<string>男款</string>
			<key>proSize</key>
			<string>XL</string>
			<key>proStyle</key>
			<string>E1</string>
			<key>recommend</key>
			<string>1</string>
			<key>showType</key>
			<string>0</string>
			<key>showTypeName</key>
			<string>丁鼎定制了自己作品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>圆脸猫。上身都说好看，穿工上衣感觉还是舒适度狠狠哦哦。</string>
			<key>createDate</key>
			<string>2017-07-18 17:20:56</string>
			<key>cusIcon</key>
			<string>customer/icon/2017/7/987093644c7d4652a961e21169500efa.png</string>
			<key>cusId</key>
			<string>128875</string>
			<key>cusName</key>
			<string>澎湃</string>
			<key>id</key>
			<string>103272</string>
			<key>modelCreateDate</key>
			<string></string>
			<key>modelPic</key>
			<string></string>
			<key>modelPicArray</key>
			<array/>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2017-07-18 16:22:53</string>
			<key>pictures</key>
			<string>productionComment/222681/30766870203137_dd5d6cbad9be4ecd824c714ef1e0e2fb.png,productionComment/222681/30766870203137_b54269594a1442328a6acdfc9ec3adc7.png,productionComment/222681/30766870203137_2d67cf15ad7b45a285e916707929333b.png</string>
			<key>picturesArray</key>
			<array>
				<string>productionComment/222681/30766870203137_dd5d6cbad9be4ecd824c714ef1e0e2fb.png</string>
				<string>productionComment/222681/30766870203137_b54269594a1442328a6acdfc9ec3adc7.png</string>
				<string>productionComment/222681/30766870203137_2d67cf15ad7b45a285e916707929333b.png</string>
			</array>
			<key>proCategoryId</key>
			<string>10000</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>customer/icon/2017/7/987093644c7d4652a961e21169500efa.png</string>
			<key>proCusId</key>
			<string>128875</string>
			<key>proCusName</key>
			<string>澎湃</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>222681</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>纯棉T恤</string>
			<key>proPicture</key>
			<string>production/222/222681.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1025,222679</string>
			<key>proShape</key>
			<string>女款</string>
			<key>proSize</key>
			<string>L</string>
			<key>proStyle</key>
			<string>E2</string>
			<key>recommend</key>
			<string>1</string>
			<key>showType</key>
			<string>0</string>
			<key>showTypeName</key>
			<string>澎湃定制了自己作品</string>
		</dict>
		<dict>
			<key>content</key>
			<string></string>
			<key>createDate</key>
			<string></string>
			<key>cusIcon</key>
			<string>https://thirdwx.qlogo.cn/mmopen/vi_32/Q0j4TwGTfTK7ZJLwUe3P0PAEl4nRjXicraUmcBxibf5ViaOtZFQ6Ig58LRksumRicRjORZRoUGRmfFLC5MYXGZmCPA/132</string>
			<key>cusId</key>
			<string></string>
			<key>cusName</key>
			<string>大蒸 </string>
			<key>id</key>
			<string></string>
			<key>modelCreateDate</key>
			<string>2019-05-18 10:39:37</string>
			<key>modelPic</key>
			<string>ordermodelpic/6ed454e9793b480eb18dbbe4f9b83aa9.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/6ed454e9793b480eb18dbbe4f9b83aa9.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2019-05-17 15:31:06</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>10000</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>https://thirdwx.qlogo.cn/mmopen/vi_32/Q0j4TwGTfTK7ZJLwUe3P0PAEl4nRjXicraUmcBxibf5ViaOtZFQ6Ig58LRksumRicRjORZRoUGRmfFLC5MYXGZmCPA/132</string>
			<key>proCusId</key>
			<string>126186</string>
			<key>proCusName</key>
			<string>大蒸 </string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>300285</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>纯棉T恤</string>
			<key>proPicture</key>
			<string>production/300/300285.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1025,300284</string>
			<key>proShape</key>
			<string>女款</string>
			<key>proSize</key>
			<string>XL</string>
			<key>proStyle</key>
			<string>E2</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>4</string>
			<key>showTypeName</key>
			<string>已极速发货，待用户晒单</string>
		</dict>
		<dict>
			<key>content</key>
			<string></string>
			<key>createDate</key>
			<string></string>
			<key>cusIcon</key>
			<string>https://thirdwx.qlogo.cn/mmopen/vi_32/Q0j4TwGTfTK7ZJLwUe3P0PAEl4nRjXicraUmcBxibf5ViaOtZFQ6Ig58LRksumRicRjORZRoUGRmfFLC5MYXGZmCPA/132</string>
			<key>cusId</key>
			<string></string>
			<key>cusName</key>
			<string>大蒸 </string>
			<key>id</key>
			<string></string>
			<key>modelCreateDate</key>
			<string>2019-05-18 10:39:47</string>
			<key>modelPic</key>
			<string>ordermodelpic/f67473cc179d4b8ca42d458aa3eb7eb6.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/f67473cc179d4b8ca42d458aa3eb7eb6.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2019-05-17 15:31:06</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>10000</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>https://thirdwx.qlogo.cn/mmopen/vi_32/Q0j4TwGTfTK7ZJLwUe3P0PAEl4nRjXicraUmcBxibf5ViaOtZFQ6Ig58LRksumRicRjORZRoUGRmfFLC5MYXGZmCPA/132</string>
			<key>proCusId</key>
			<string>126186</string>
			<key>proCusName</key>
			<string>大蒸 </string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>300283</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>纯棉T恤</string>
			<key>proPicture</key>
			<string>production/300/300283.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1025,300282</string>
			<key>proShape</key>
			<string>女款</string>
			<key>proSize</key>
			<string>L</string>
			<key>proStyle</key>
			<string>E2</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>4</string>
			<key>showTypeName</key>
			<string>已极速发货，待用户晒单</string>
		</dict>
		<dict>
			<key>content</key>
			<string></string>
			<key>createDate</key>
			<string></string>
			<key>cusIcon</key>
			<string>customer/icon/2017/2/eccd321a049d4ef58220ec7496e699f5.png</string>
			<key>cusId</key>
			<string></string>
			<key>cusName</key>
			<string>Hello小K</string>
			<key>id</key>
			<string></string>
			<key>modelCreateDate</key>
			<string>2019-05-09 11:29:43</string>
			<key>modelPic</key>
			<string>ordermodelpic/4d55a0e5ec234ca4b7d4c6cbc90b4181.jpg,ordermodelpic/5b9a2144fcf74164ba950da0118e4fae.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/4d55a0e5ec234ca4b7d4c6cbc90b4181.jpg</string>
				<string>ordermodelpic/5b9a2144fcf74164ba950da0118e4fae.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2019-05-08 12:27:44</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>10000</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>customer/icon/2017/2/eccd321a049d4ef58220ec7496e699f5.png</string>
			<key>proCusId</key>
			<string>124825</string>
			<key>proCusName</key>
			<string>Hello小K</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>299887</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>纯棉T恤</string>
			<key>proPicture</key>
			<string>production/299/299887.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1024,299886</string>
			<key>proShape</key>
			<string>男款</string>
			<key>proSize</key>
			<string>M</string>
			<key>proStyle</key>
			<string>E1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>4</string>
			<key>showTypeName</key>
			<string>已极速发货，待用户晒单</string>
		</dict>
		<dict>
			<key>content</key>
			<string></string>
			<key>createDate</key>
			<string></string>
			<key>cusIcon</key>
			<string>customer/icon/2019/5/cb9f51f1e6b54342b7bccfc3ed75d52e.png</string>
			<key>cusId</key>
			<string></string>
			<key>cusName</key>
			<string>邵芳人</string>
			<key>id</key>
			<string></string>
			<key>modelCreateDate</key>
			<string>2019-05-09 11:30:06</string>
			<key>modelPic</key>
			<string>ordermodelpic/995f1977e60e4edeb9a9f74c2a150872.jpg,ordermodelpic/d8e11d16878245d199f6feff6dc2c723.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/995f1977e60e4edeb9a9f74c2a150872.jpg</string>
				<string>ordermodelpic/d8e11d16878245d199f6feff6dc2c723.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2019-05-07 15:12:07</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>10000</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>customer/icon/2019/5/cb9f51f1e6b54342b7bccfc3ed75d52e.png</string>
			<key>proCusId</key>
			<string>134740</string>
			<key>proCusName</key>
			<string>邵芳人</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>299811</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>纯棉T恤</string>
			<key>proPicture</key>
			<string>production/299/299811.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1024,299810</string>
			<key>proShape</key>
			<string>男款</string>
			<key>proSize</key>
			<string>XL</string>
			<key>proStyle</key>
			<string>E1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>4</string>
			<key>showTypeName</key>
			<string>已极速发货，待用户晒单</string>
		</dict>
		<dict>
			<key>content</key>
			<string></string>
			<key>createDate</key>
			<string></string>
			<key>cusIcon</key>
			<string>https://tva1.sinaimg.cn/crop.0.0.180.180.180/45705272jw1e8qgp5bmzyj2050050aa8.jpg</string>
			<key>cusId</key>
			<string></string>
			<key>cusName</key>
			<string>丹丹_lynn</string>
			<key>id</key>
			<string></string>
			<key>modelCreateDate</key>
			<string>2019-05-04 18:57:57</string>
			<key>modelPic</key>
			<string>ordermodelpic/43c83d2404e243938307b1797b035ebf.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/43c83d2404e243938307b1797b035ebf.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2019-05-03 23:17:36</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>10000</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>https://tva1.sinaimg.cn/crop.0.0.180.180.180/45705272jw1e8qgp5bmzyj2050050aa8.jpg</string>
			<key>proCusId</key>
			<string>129626</string>
			<key>proCusName</key>
			<string>丹丹_lynn</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>299654</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>纯棉T恤</string>
			<key>proPicture</key>
			<string>production/299/299654.basic.jpg</string>
			<key>proRelateIds</key>
			<string>1025,299653</string>
			<key>proShape</key>
			<string>女款</string>
			<key>proSize</key>
			<string>L</string>
			<key>proStyle</key>
			<string>E2</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>4</string>
			<key>showTypeName</key>
			<string>已极速发货，待用户晒单</string>
		</dict>
	</array>
	<key>lastTime</key>
	<string>1583570448229</string>
	<key>totalResult</key>
	<string>224</string>
</dict>
</plist>
