<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comments</key>
	<array>
		<dict>
			<key>content</key>
			<string>运动毛巾，很吸汉，长度刚刚好，下次跑步可以带上它了。</string>
			<key>createDate</key>
			<string>2019-04-13 10:59:27</string>
			<key>cusIcon</key>
			<string>customer/icon/2015/12/db5aa8de92bb42c794f435e3693a7d46.png</string>
			<key>cusId</key>
			<string>101038</string>
			<key>cusName</key>
			<string>橘子哥</string>
			<key>id</key>
			<string>103864</string>
			<key>modelCreateDate</key>
			<string>2019-04-13 09:37:38</string>
			<key>modelPic</key>
			<string>ordermodelpic/980667190824480d971154861661e27c.jpg,ordermodelpic/14df319287a24a0f9eed19189a66acb5.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/980667190824480d971154861661e27c.jpg</string>
				<string>ordermodelpic/14df319287a24a0f9eed19189a66acb5.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2019-04-12 20:35:11</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>10002</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>customer/icon/2015/12/db5aa8de92bb42c794f435e3693a7d46.png</string>
			<key>proCusId</key>
			<string>101038</string>
			<key>proCusName</key>
			<string>橘子哥</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>298698</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>纤维运动巾</string>
			<key>proPicture</key>
			<string>production/298/298698.basic.jpg</string>
			<key>proRelateIds</key>
			<string>186891,298697</string>
			<key>proShape</key>
			<string>长方形</string>
			<key>proSize</key>
			<string>30*100CM</string>
			<key>proStyle</key>
			<string>P2</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>0</string>
			<key>showTypeName</key>
			<string>橘子哥定制了自己作品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>印花手感很好，打印出来很清晰，比其他家定制好。</string>
			<key>createDate</key>
			<string>2019-04-13 11:01:11</string>
			<key>cusIcon</key>
			<string>customer/icon/2015/12/c44df503cb1345c1a8ddc73f99243a4e.png</string>
			<key>cusId</key>
			<string>101036</string>
			<key>cusName</key>
			<string>olidute</string>
			<key>id</key>
			<string>103865</string>
			<key>modelCreateDate</key>
			<string>2019-04-13 09:37:16</string>
			<key>modelPic</key>
			<string>ordermodelpic/224f92dd693f4722ba125210fb596180.jpg,ordermodelpic/ed130048edaa4dd0b32ed9ea3785e747.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/224f92dd693f4722ba125210fb596180.jpg</string>
				<string>ordermodelpic/ed130048edaa4dd0b32ed9ea3785e747.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>1</string>
			<key>orderCreateDate</key>
			<string>2019-04-12 20:25:16</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>10002</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>customer/icon/2015/12/c44df503cb1345c1a8ddc73f99243a4e.png</string>
			<key>proCusId</key>
			<string>101036</string>
			<key>proCusName</key>
			<string>olidute</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>298696</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>纤维运动手巾</string>
			<key>proPicture</key>
			<string>production/298/298696.basic.jpg</string>
			<key>proRelateIds</key>
			<string>186890,298695</string>
			<key>proShape</key>
			<string>正方形</string>
			<key>proSize</key>
			<string>35*35CM</string>
			<key>proStyle</key>
			<string>P1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>1</string>
			<key>showTypeName</key>
			<string>olidute定制了自己的作品作为礼品</string>
		</dict>
		<dict>
			<key>content</key>
			<string></string>
			<key>createDate</key>
			<string></string>
			<key>cusIcon</key>
			<string>http://thirdqq.qlogo.cn/qqapp/1102018701/79EC4BD939B47EE73A5A5CC67ABA0F76/100</string>
			<key>cusId</key>
			<string></string>
			<key>cusName</key>
			<string>春草°′</string>
			<key>id</key>
			<string></string>
			<key>modelCreateDate</key>
			<string>2019-04-11 20:03:02</string>
			<key>modelPic</key>
			<string>ordermodelpic/e9a705661bac493e9f94edadaebc3e30.jpg,ordermodelpic/1994593297844109b38a91920c77e36a.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/e9a705661bac493e9f94edadaebc3e30.jpg</string>
				<string>ordermodelpic/1994593297844109b38a91920c77e36a.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2019-04-06 14:47:15</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>10002</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>http://thirdqq.qlogo.cn/qqapp/1102018701/79EC4BD939B47EE73A5A5CC67ABA0F76/100</string>
			<key>proCusId</key>
			<string>137769</string>
			<key>proCusName</key>
			<string>春草°′</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>298504</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>纤维运动手巾</string>
			<key>proPicture</key>
			<string>production/298/298504.basic.jpg</string>
			<key>proRelateIds</key>
			<string>186890,298503</string>
			<key>proShape</key>
			<string>正方形</string>
			<key>proSize</key>
			<string>35*35CM</string>
			<key>proStyle</key>
			<string>P1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>4</string>
			<key>showTypeName</key>
			<string>已极速发货，待用户晒单</string>
		</dict>
		<dict>
			<key>content</key>
			<string></string>
			<key>createDate</key>
			<string></string>
			<key>cusIcon</key>
			<string>https://thirdwx.qlogo.cn/mmopen/vi_32/4nY0FEgnRTV7v8dJqV8FcJ4lJUNBjMiaeaWjyxaU9oia8GvichqroBUECOhiadxbNb5OricUBgJsWLuOZ1tOmK8cWrg/132</string>
			<key>cusId</key>
			<string></string>
			<key>cusName</key>
			<string>盐盐</string>
			<key>id</key>
			<string></string>
			<key>modelCreateDate</key>
			<string>2019-03-09 19:01:07</string>
			<key>modelPic</key>
			<string>ordermodelpic/03d1f8beaa7d4e0483112306f2d6962b.jpg,ordermodelpic/1b891be659d649c597a6331d595c90c4.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/03d1f8beaa7d4e0483112306f2d6962b.jpg</string>
				<string>ordermodelpic/1b891be659d649c597a6331d595c90c4.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>1</string>
			<key>orderCreateDate</key>
			<string>2019-02-24 23:15:17</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>10002</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>https://thirdwx.qlogo.cn/mmopen/vi_32/4nY0FEgnRTV7v8dJqV8FcJ4lJUNBjMiaeaWjyxaU9oia8GvichqroBUECOhiadxbNb5OricUBgJsWLuOZ1tOmK8cWrg/132</string>
			<key>proCusId</key>
			<string>150082</string>
			<key>proCusName</key>
			<string>盐盐</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>297122</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>纤维运动巾</string>
			<key>proPicture</key>
			<string>production/297/297122.basic.jpg</string>
			<key>proRelateIds</key>
			<string>186891,297121</string>
			<key>proShape</key>
			<string>长方形</string>
			<key>proSize</key>
			<string>30*100CM</string>
			<key>proStyle</key>
			<string>P2</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>4</string>
			<key>showTypeName</key>
			<string>已极速发货，待用户晒单</string>
		</dict>
		<dict>
			<key>content</key>
			<string></string>
			<key>createDate</key>
			<string></string>
			<key>cusIcon</key>
			<string>http://thirdwx.qlogo.cn/mmopen/vi_32/9yMXUKAtbejQxwSCUiaMK5pXoYKBXjY4NLdZPMTlw6OCG1Yk2pq9vQIvCoL7Ij4bHUSl4JqMxGS0mwibo5wQH8zw/132</string>
			<key>cusId</key>
			<string></string>
			<key>cusName</key>
			<string>世界第一</string>
			<key>id</key>
			<string></string>
			<key>modelCreateDate</key>
			<string>2018-09-29 16:55:12</string>
			<key>modelPic</key>
			<string>ordermodelpic/bb49e8a4c669458f875ca83f3bcec972.jpg,ordermodelpic/d0727047e61746c7b0850e077133fa33.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/bb49e8a4c669458f875ca83f3bcec972.jpg</string>
				<string>ordermodelpic/d0727047e61746c7b0850e077133fa33.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>1</string>
			<key>orderCreateDate</key>
			<string>2018-09-08 18:19:46</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>10002</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>http://thirdwx.qlogo.cn/mmopen/vi_32/9yMXUKAtbejQxwSCUiaMK5pXoYKBXjY4NLdZPMTlw6OCG1Yk2pq9vQIvCoL7Ij4bHUSl4JqMxGS0mwibo5wQH8zw/132</string>
			<key>proCusId</key>
			<string>147677</string>
			<key>proCusName</key>
			<string>世界第一</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>284916</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>纤维运动手巾</string>
			<key>proPicture</key>
			<string>production/284/284916.basic.jpg</string>
			<key>proRelateIds</key>
			<string>186890,284915</string>
			<key>proShape</key>
			<string>正方形</string>
			<key>proSize</key>
			<string>35*35CM</string>
			<key>proStyle</key>
			<string>P1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>4</string>
			<key>showTypeName</key>
			<string>已极速发货，待用户晒单</string>
		</dict>
		<dict>
			<key>content</key>
			<string></string>
			<key>createDate</key>
			<string></string>
			<key>cusIcon</key>
			<string>http://thirdqq.qlogo.cn/qqapp/1102018701/210B32B414F53CB8F42A61FEA9928CD9/100</string>
			<key>cusId</key>
			<string></string>
			<key>cusName</key>
			<string>漠白</string>
			<key>id</key>
			<string></string>
			<key>modelCreateDate</key>
			<string>2018-07-20 10:11:59</string>
			<key>modelPic</key>
			<string>ordermodelpic/db856093e18c414196397ced666061ac.jpg,ordermodelpic/5ac5c9abf1974265bcbc688a3658bdb9.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/db856093e18c414196397ced666061ac.jpg</string>
				<string>ordermodelpic/5ac5c9abf1974265bcbc688a3658bdb9.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>1</string>
			<key>orderCreateDate</key>
			<string>2018-06-13 12:05:18</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>10002</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>http://thirdqq.qlogo.cn/qqapp/1102018701/210B32B414F53CB8F42A61FEA9928CD9/100</string>
			<key>proCusId</key>
			<string>144105</string>
			<key>proCusName</key>
			<string>漠白</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>271891</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>纤维运动手巾</string>
			<key>proPicture</key>
			<string>production/271/271891.basic.jpg</string>
			<key>proRelateIds</key>
			<string>186890,271890</string>
			<key>proShape</key>
			<string>正方形</string>
			<key>proSize</key>
			<string>35*35CM</string>
			<key>proStyle</key>
			<string>P1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>4</string>
			<key>showTypeName</key>
			<string>已极速发货，待用户晒单</string>
		</dict>
		<dict>
			<key>content</key>
			<string>印刷、颜色和质感都很好，但是整体图案偏下，客服不理我，一直不理我!!!</string>
			<key>createDate</key>
			<string>2018-05-23 12:26:48</string>
			<key>cusIcon</key>
			<string>http://thirdqq.qlogo.cn/qqapp/1102018701/6DE659248EA64EB0854CE1AC9EE66200/100</string>
			<key>cusId</key>
			<string>144326</string>
			<key>cusName</key>
			<string>三笑当痴</string>
			<key>id</key>
			<string>103751</string>
			<key>modelCreateDate</key>
			<string></string>
			<key>modelPic</key>
			<string></string>
			<key>modelPicArray</key>
			<array/>
			<key>orderBuyType</key>
			<string>1</string>
			<key>orderCreateDate</key>
			<string>2018-05-18 21:42:08</string>
			<key>pictures</key>
			<string>productionComment/267440/34131318899457_01783f555e404bd99dc7a1caef19182a.jpg</string>
			<key>picturesArray</key>
			<array>
				<string>productionComment/267440/34131318899457_01783f555e404bd99dc7a1caef19182a.jpg</string>
			</array>
			<key>proCategoryId</key>
			<string>10002</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>http://thirdqq.qlogo.cn/qqapp/1102018701/6DE659248EA64EB0854CE1AC9EE66200/100</string>
			<key>proCusId</key>
			<string>144326</string>
			<key>proCusName</key>
			<string>三笑当痴</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>267440</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>纤维运动手巾</string>
			<key>proPicture</key>
			<string>production/267/267440.basic.jpg</string>
			<key>proRelateIds</key>
			<string>186890,267439</string>
			<key>proShape</key>
			<string>正方形</string>
			<key>proSize</key>
			<string>35*35CM</string>
			<key>proStyle</key>
			<string>P1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>1</string>
			<key>showTypeName</key>
			<string>三笑当痴定制了自己的作品作为礼品</string>
		</dict>
		<dict>
			<key>content</key>
			<string></string>
			<key>createDate</key>
			<string></string>
			<key>cusIcon</key>
			<string>https://thirdwx.qlogo.cn/mmopen/vi_32/YKKKqoP48LC7z7icy1zCMgE2jgPov7XkpFSk1RB28FCzLiamPzaau3kbJsGibrDkbSfuWxqmCtUNhsJ7z05998xicg/132</string>
			<key>cusId</key>
			<string></string>
			<key>cusName</key>
			<string>EnV</string>
			<key>id</key>
			<string></string>
			<key>modelCreateDate</key>
			<string>2018-06-06 10:50:04</string>
			<key>modelPic</key>
			<string>ordermodelpic/7d761b6d7f194a90baf0f92114141474.jpg,ordermodelpic/54206da3d5f94ab8a4c93433b4ce6a12.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/7d761b6d7f194a90baf0f92114141474.jpg</string>
				<string>ordermodelpic/54206da3d5f94ab8a4c93433b4ce6a12.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2018-05-09 06:08:52</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>10002</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>https://thirdwx.qlogo.cn/mmopen/vi_32/YKKKqoP48LC7z7icy1zCMgE2jgPov7XkpFSk1RB28FCzLiamPzaau3kbJsGibrDkbSfuWxqmCtUNhsJ7z05998xicg/132</string>
			<key>proCusId</key>
			<string>144009</string>
			<key>proCusName</key>
			<string>EnV</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>265570</string>
			<key>proIsRelease</key>
			<string>0</string>
			<key>proName</key>
			<string>纤维运动手巾</string>
			<key>proPicture</key>
			<string>production/265/265570.basic.jpg</string>
			<key>proRelateIds</key>
			<string>186890,265569</string>
			<key>proShape</key>
			<string>正方形</string>
			<key>proSize</key>
			<string>35*35CM</string>
			<key>proStyle</key>
			<string>P1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>4</string>
			<key>showTypeName</key>
			<string>已极速发货，待用户晒单</string>
		</dict>
		<dict>
			<key>content</key>
			<string></string>
			<key>createDate</key>
			<string></string>
			<key>cusIcon</key>
			<string>customer/icon/2017/11/1a23ae42790a45e2a5af5e4dd5261bd0.png</string>
			<key>cusId</key>
			<string></string>
			<key>cusName</key>
			<string>费誾</string>
			<key>id</key>
			<string></string>
			<key>modelCreateDate</key>
			<string>2017-11-15 19:01:03</string>
			<key>modelPic</key>
			<string>ordermodelpic/c1c4cbf3ddf84a0ab382d0c355a4713a.jpg,ordermodelpic/c2a73090fa5448e6955381e4fca05f42.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/c1c4cbf3ddf84a0ab382d0c355a4713a.jpg</string>
				<string>ordermodelpic/c2a73090fa5448e6955381e4fca05f42.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2017-11-14 10:21:51</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>10002</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>customer/icon/2017/11/1a23ae42790a45e2a5af5e4dd5261bd0.png</string>
			<key>proCusId</key>
			<string>132633</string>
			<key>proCusName</key>
			<string>费誾</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>238427</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>纤维运动巾</string>
			<key>proPicture</key>
			<string>production/238/238427.basic.jpg</string>
			<key>proRelateIds</key>
			<string>186891,238426</string>
			<key>proShape</key>
			<string>长方形</string>
			<key>proSize</key>
			<string>30*100CM</string>
			<key>proStyle</key>
			<string>P2</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>4</string>
			<key>showTypeName</key>
			<string>已极速发货，待用户晒单</string>
		</dict>
		<dict>
			<key>content</key>
			<string></string>
			<key>createDate</key>
			<string></string>
			<key>cusIcon</key>
			<string>customer/icon/2017/11/138152c5dbbb45c2bef4642293dd0230.png</string>
			<key>cusId</key>
			<string></string>
			<key>cusName</key>
			<string>噜啦噜啦</string>
			<key>id</key>
			<string></string>
			<key>modelCreateDate</key>
			<string>2017-11-13 19:22:51</string>
			<key>modelPic</key>
			<string>ordermodelpic/358d436407094df183a32418c4ccd318.jpg,ordermodelpic/bb530152db6f49909d82e52a164a9f3b.jpg</string>
			<key>modelPicArray</key>
			<array>
				<string>ordermodelpic/358d436407094df183a32418c4ccd318.jpg</string>
				<string>ordermodelpic/bb530152db6f49909d82e52a164a9f3b.jpg</string>
			</array>
			<key>orderBuyType</key>
			<string>0</string>
			<key>orderCreateDate</key>
			<string>2017-11-07 20:05:02</string>
			<key>pictures</key>
			<string></string>
			<key>picturesArray</key>
			<array/>
			<key>proCategoryId</key>
			<string>10002</string>
			<key>proColor</key>
			<string>WH</string>
			<key>proCusIcon</key>
			<string>customer/icon/2017/11/138152c5dbbb45c2bef4642293dd0230.png</string>
			<key>proCusId</key>
			<string>131191</string>
			<key>proCusName</key>
			<string>噜啦噜啦</string>
			<key>proCusType</key>
			<string>设计师</string>
			<key>proId</key>
			<string>235742</string>
			<key>proIsRelease</key>
			<string>1</string>
			<key>proName</key>
			<string>纤维运动手巾</string>
			<key>proPicture</key>
			<string>production/235/235742.basic.jpg</string>
			<key>proRelateIds</key>
			<string>186890,235741</string>
			<key>proShape</key>
			<string>正方形</string>
			<key>proSize</key>
			<string>35*35CM</string>
			<key>proStyle</key>
			<string>P1</string>
			<key>recommend</key>
			<string>0</string>
			<key>showType</key>
			<string>4</string>
			<key>showTypeName</key>
			<string>已极速发货，待用户晒单</string>
		</dict>
	</array>
	<key>lastTime</key>
	<string>1583570484584</string>
	<key>totalResult</key>
	<string>51</string>
</dict>
</plist>
