<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>productions</key>
	<array>
		<dict>
			<key>categoryId</key>
			<string>10004</string>
			<key>collectCount</key>
			<string>0</string>
			<key>color</key>
			<string>AP</string>
			<key>commentCount</key>
			<string>0</string>
			<key>createDate</key>
			<string>2018-12-15 14:47:32</string>
			<key>cusFansCount</key>
			<string>3</string>
			<key>cusIcon</key>
			<string>customer/icon/2018/12/a6dba6ce778841ad8a72d6aab91cdf04.jpg</string>
			<key>cusId</key>
			<string>149933</string>
			<key>cusNickname</key>
			<string>Mantra Apparel</string>
			<key>cusWorkCount</key>
			<string>20</string>
			<key>id</key>
			<string>293662</string>
			<key>isPraise</key>
			<string>0</string>
			<key>isRelease</key>
			<string>1</string>
			<key>name</key>
			<string>复古抽绳包基本款</string>
			<key>picture</key>
			<string>production/293/293662.basic.jpg</string>
			<key>praiseCount</key>
			<string>0</string>
			<key>price</key>
			<string>119</string>
			<key>proCount</key>
			<string>0</string>
			<key>relateIds</key>
			<string>216213,293632</string>
			<key>shape</key>
			<string>基本款</string>
			<key>style</key>
			<string>M1</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>categoryId</key>
			<string>1004</string>
			<key>collectCount</key>
			<string>0</string>
			<key>color</key>
			<string>AP</string>
			<key>commentCount</key>
			<string>1</string>
			<key>createDate</key>
			<string>2019-03-18 12:01:44</string>
			<key>cusFansCount</key>
			<string>3</string>
			<key>cusIcon</key>
			<string>customer/icon/2015/12/4738950c640849008fe7e0f55b3074f4.png</string>
			<key>cusId</key>
			<string>101048</string>
			<key>cusNickname</key>
			<string>米米米</string>
			<key>cusWorkCount</key>
			<string>12</string>
			<key>id</key>
			<string>297801</string>
			<key>isPraise</key>
			<string>0</string>
			<key>isRelease</key>
			<string>1</string>
			<key>name</key>
			<string>帆布包厚款</string>
			<key>picture</key>
			<string>production/297/297801.basic.jpg</string>
			<key>praiseCount</key>
			<string>0</string>
			<key>price</key>
			<string>99</string>
			<key>proCount</key>
			<string>0</string>
			<key>relateIds</key>
			<string>1022,297798</string>
			<key>shape</key>
			<string>厚款</string>
			<key>style</key>
			<string>D1</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>categoryId</key>
			<string>1007</string>
			<key>collectCount</key>
			<string>0</string>
			<key>color</key>
			<string>WH</string>
			<key>commentCount</key>
			<string>0</string>
			<key>createDate</key>
			<string>2019-05-14 10:27:56</string>
			<key>cusFansCount</key>
			<string>15</string>
			<key>cusIcon</key>
			<string>https://thirdwx.qlogo.cn/mmopen/vi_32/1YYLoiaw5Jj4RO0pQNOAhFqZLY1zn24JC8uJs8aUkjpwJDsW1YQcQ5deBiaRpcTpZiaxBhZpTlqdGz7xKicvFFX83w/132</string>
			<key>cusId</key>
			<string>100850</string>
			<key>cusNickname</key>
			<string>michelle_vegan</string>
			<key>cusWorkCount</key>
			<string>114</string>
			<key>id</key>
			<string>300170</string>
			<key>isPraise</key>
			<string>0</string>
			<key>isRelease</key>
			<string>1</string>
			<key>name</key>
			<string>OVERSIZET恤男款</string>
			<key>picture</key>
			<string>production/300/300170.basic.jpg</string>
			<key>praiseCount</key>
			<string>0</string>
			<key>price</key>
			<string>149</string>
			<key>proCount</key>
			<string>0</string>
			<key>relateIds</key>
			<string>1034,300169</string>
			<key>shape</key>
			<string>男款</string>
			<key>style</key>
			<string>H1</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>categoryId</key>
			<string>1007</string>
			<key>collectCount</key>
			<string>0</string>
			<key>color</key>
			<string>WH</string>
			<key>commentCount</key>
			<string>0</string>
			<key>createDate</key>
			<string>2019-03-18 12:06:04</string>
			<key>cusFansCount</key>
			<string>2</string>
			<key>cusIcon</key>
			<string>customer/icon/2015/12/4c85da65b34743599d7ba98c6f53245a.png</string>
			<key>cusId</key>
			<string>101087</string>
			<key>cusNickname</key>
			<string>hugo少少</string>
			<key>cusWorkCount</key>
			<string>9</string>
			<key>id</key>
			<string>297806</string>
			<key>isPraise</key>
			<string>0</string>
			<key>isRelease</key>
			<string>1</string>
			<key>name</key>
			<string>OVERSIZET恤女款</string>
			<key>picture</key>
			<string>production/297/297806.basic.jpg</string>
			<key>praiseCount</key>
			<string>0</string>
			<key>price</key>
			<string>149</string>
			<key>proCount</key>
			<string>0</string>
			<key>relateIds</key>
			<string>117366,297805</string>
			<key>shape</key>
			<string>女款</string>
			<key>style</key>
			<string>H2</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>categoryId</key>
			<string>10001</string>
			<key>collectCount</key>
			<string>0</string>
			<key>color</key>
			<string>BK</string>
			<key>commentCount</key>
			<string>1</string>
			<key>createDate</key>
			<string>2019-03-18 11:39:10</string>
			<key>cusFansCount</key>
			<string>10</string>
			<key>cusIcon</key>
			<string>customer/icon/2015/12/5bea82b72fce4fecb83854ff32dbc90d.png</string>
			<key>cusId</key>
			<string>101044</string>
			<key>cusNickname</key>
			<string>enjoyment</string>
			<key>cusWorkCount</key>
			<string>8</string>
			<key>id</key>
			<string>297786</string>
			<key>isPraise</key>
			<string>0</string>
			<key>isRelease</key>
			<string>1</string>
			<key>name</key>
			<string>马丁手拿袋基本款</string>
			<key>picture</key>
			<string>production/297/297786.basic.jpg</string>
			<key>praiseCount</key>
			<string>0</string>
			<key>price</key>
			<string>79</string>
			<key>proCount</key>
			<string>0</string>
			<key>relateIds</key>
			<string>186889,297785</string>
			<key>shape</key>
			<string>基本款</string>
			<key>style</key>
			<string>O1</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>categoryId</key>
			<string>1000</string>
			<key>collectCount</key>
			<string>0</string>
			<key>color</key>
			<string>WH</string>
			<key>commentCount</key>
			<string>1</string>
			<key>createDate</key>
			<string>2019-03-18 11:59:59</string>
			<key>cusFansCount</key>
			<string>6</string>
			<key>cusIcon</key>
			<string>customer/icon/2015/12/ecf19c14c8424d51b110e8b522bf9494.png</string>
			<key>cusId</key>
			<string>101049</string>
			<key>cusNickname</key>
			<string>漂流de</string>
			<key>cusWorkCount</key>
			<string>6</string>
			<key>id</key>
			<string>297795</string>
			<key>isPraise</key>
			<string>0</string>
			<key>isRelease</key>
			<string>1</string>
			<key>name</key>
			<string>精棉T恤男款</string>
			<key>picture</key>
			<string>production/297/297795.basic.jpg</string>
			<key>praiseCount</key>
			<string>0</string>
			<key>price</key>
			<string>139</string>
			<key>proCount</key>
			<string>0</string>
			<key>relateIds</key>
			<string>1002,297794</string>
			<key>shape</key>
			<string>男款</string>
			<key>style</key>
			<string>A1</string>
			<key>type</key>
			<string>0</string>
		</dict>
	</array>
	<key>totalResult</key>
	<string>141</string>
</dict>
</plist>
