<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>categories</key>
	<array>
		<dict>
			<key>icon</key>
			<string></string>
			<key>iconColor</key>
			<string>#5890FF</string>
			<key>id</key>
			<string></string>
			<key>name</key>
			<string>精选</string>
		</dict>
		<dict>
			<key>icon</key>
			<string></string>
			<key>iconColor</key>
			<string>#5FD7B9</string>
			<key>id</key>
			<string>1004</string>
			<key>name</key>
			<string>帆布包</string>
		</dict>
		<dict>
			<key>icon</key>
			<string></string>
			<key>iconColor</key>
			<string>#A0AED7</string>
			<key>id</key>
			<string>1009</string>
			<key>name</key>
			<string>抱枕</string>
		</dict>
		<dict>
			<key>icon</key>
			<string></string>
			<key>iconColor</key>
			<string>#5FCFD7</string>
			<key>id</key>
			<string>10001</string>
			<key>name</key>
			<string>马丁手拿袋</string>
		</dict>
		<dict>
			<key>icon</key>
			<string></string>
			<key>iconColor</key>
			<string>#5E5E5E</string>
			<key>id</key>
			<string>10004</string>
			<key>name</key>
			<string>复古抽绳包</string>
		</dict>
		<dict>
			<key>icon</key>
			<string></string>
			<key>iconColor</key>
			<string>#D25060</string>
			<key>id</key>
			<string>10000</string>
			<key>name</key>
			<string>纯棉T恤</string>
		</dict>
		<dict>
			<key>icon</key>
			<string></string>
			<key>iconColor</key>
			<string>#5890FF</string>
			<key>id</key>
			<string>1000</string>
			<key>name</key>
			<string>精棉T恤</string>
		</dict>
		<dict>
			<key>icon</key>
			<string></string>
			<key>iconColor</key>
			<string>#5DBEFF</string>
			<key>id</key>
			<string>1007</string>
			<key>name</key>
			<string>OVERSIZE</string>
		</dict>
		<dict>
			<key>icon</key>
			<string></string>
			<key>iconColor</key>
			<string>#FF9261</string>
			<key>id</key>
			<string>1006</string>
			<key>name</key>
			<string>韩版宽松T</string>
		</dict>
		<dict>
			<key>icon</key>
			<string></string>
			<key>iconColor</key>
			<string>#5E5E5E</string>
			<key>id</key>
			<string>10003</string>
			<key>name</key>
			<string>运动裤</string>
		</dict>
		<dict>
			<key>icon</key>
			<string></string>
			<key>iconColor</key>
			<string>#FF72C8</string>
			<key>id</key>
			<string>1005</string>
			<key>name</key>
			<string>长款落肩T</string>
		</dict>
		<dict>
			<key>icon</key>
			<string></string>
			<key>iconColor</key>
			<string>#FF5896</string>
			<key>id</key>
			<string>1008</string>
			<key>name</key>
			<string>连帽灰裙</string>
		</dict>
		<dict>
			<key>icon</key>
			<string></string>
			<key>iconColor</key>
			<string>#FFD77E</string>
			<key>id</key>
			<string>1001</string>
			<key>name</key>
			<string>长袖帽衫</string>
		</dict>
		<dict>
			<key>icon</key>
			<string></string>
			<key>iconColor</key>
			<string>#D6C1BF</string>
			<key>id</key>
			<string>1003</string>
			<key>name</key>
			<string>长袖卫衣</string>
		</dict>
		<dict>
			<key>icon</key>
			<string></string>
			<key>iconColor</key>
			<string>#FFB758</string>
			<key>id</key>
			<string>10002</string>
			<key>name</key>
			<string>运动巾</string>
		</dict>
		<dict>
			<key>icon</key>
			<string></string>
			<key>iconColor</key>
			<string>#FAA5C4</string>
			<key>id</key>
			<string>1010</string>
			<key>name</key>
			<string>BB连身衣</string>
		</dict>
		<dict>
			<key>icon</key>
			<string></string>
			<key>iconColor</key>
			<string>#BFC8D6</string>
			<key>id</key>
			<string>1011</string>
			<key>name</key>
			<string>BB围兜</string>
		</dict>
	</array>
</dict>
</plist>
