<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>themes</key>
	<array>
		<dict>
			<key>customerCount</key>
			<string>73</string>
			<key>id</key>
			<string>100034</string>
			<key>name</key>
			<string>亲子专属</string>
			<key>picture</key>
			<string>theme/fc8df387a83545e6a0593de9de6cbd50.jpg</string>
			<key>productionCount</key>
			<string>73</string>
			<key>productions</key>
			<array/>
			<key>rule</key>
			<string>和宝宝一起穿上萌萌哒，酷酷哒亲子装！
然后去拍全家福逛街街！Daddy Mommy, 我们酷不酷？
『亲子装定制现已支持：bb连身衣 纯棉/精棉T恤／长袖／圆领卫衣』 等等

参与方式：
1.点击底端“立即参与”（或保存时加标签 #亲子专属），转发分享@infinitee官博，即获得5元现金券。 

活动时间： 即日起至2017年5月30日。 </string>
			<key>smallPicture</key>
			<string>theme/b1dbada2baec4f399aa09ca3bb92fdb2.jpg</string>
			<key>tagId</key>
			<string>101735</string>
			<key>tagName</key>
			<string>亲子专属</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>customerCount</key>
			<string>61</string>
			<key>id</key>
			<string>100037</string>
			<key>name</key>
			<string>团队专属</string>
			<key>picture</key>
			<string>theme/37a9aa23580f4709a1b97eecabe17692.jpg</string>
			<key>productionCount</key>
			<string>61</string>
			<key>productions</key>
			<array/>
			<key>rule</key>
			<string>Infinitee定制可以让团队服既有共性又有个性～ 
每一件印上成员名字，大家一定会像收到礼物那样开心。
强烈的视觉吸引和集体符号绝对让团队服超高逼格。
记得要穿上它们之后一定要拍美美哒团队写真分享给我们哦！ 

团体定制联系请找微信人工客服，infinitee君随时恭候～ 
（特殊印制需求可以洽谈）

参与方式：
1.点击底端“立即参与”（或保存时加标签 #团队专属），并且拍几张美美的团队写真发给infinitee君（微信客服）即可获得我们独一无二的定制写真视频～而且还有优惠券哦</string>
			<key>smallPicture</key>
			<string>theme/bef0a5dbcf39412f9c16d2df95f34129.jpg</string>
			<key>tagId</key>
			<string>101739</string>
			<key>tagName</key>
			<string>团队专属</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>customerCount</key>
			<string>330</string>
			<key>id</key>
			<string>100035</string>
			<key>name</key>
			<string>情侣专属</string>
			<key>picture</key>
			<string>theme/b2641c18edfb471aaf6802ea4e286ea4.jpg</string>
			<key>productionCount</key>
			<string>330</string>
			<key>productions</key>
			<array/>
			<key>rule</key>
			<string>穿上专属于「我们」的衣服，背上专属于「我们」的包包。
然后一起手牵着手去旅游、逛街看电影，或者漫步在海边。幸福甜蜜弥漫在了空气中。
ps:从此不怕另一半走丢了。

参与方式：
1.点击底端“立即参与”（或保存时加标签 #情侣专属），转发分享@infinitee官博，即获得5元现金券。 

活动时间： 即日起至2017年5月8日。 </string>
			<key>smallPicture</key>
			<string>theme/3a56d2ae0a1a461b8801b0c35bb1a060.jpg</string>
			<key>tagId</key>
			<string>101733</string>
			<key>tagName</key>
			<string>情侣专属</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>customerCount</key>
			<string>300</string>
			<key>id</key>
			<string>100032</string>
			<key>name</key>
			<string>生日礼物</string>
			<key>picture</key>
			<string>theme/09eadaa7ed45466db64d7cc5c5d1d01b.jpg</string>
			<key>productionCount</key>
			<string>300</string>
			<key>productions</key>
			<array/>
			<key>rule</key>
			<string>世上有多少种爱的表达，就有多少种礼物。
生日这天，为他/她送上一份你用心定制的礼物，再打动人心不过。
将爱和祝福化成礼物，他/她一定会感受到你的用心。

参与方式：
1.点击底端“立即参与”（或保存时加标签 #生日礼物），转发分享@infinitee官博，即获得5元现金券。 

活动时间： 即日起至2017年5月30日。 </string>
			<key>smallPicture</key>
			<string>theme/862d5a24a6e344a3b3f2f803e264c105.jpg</string>
			<key>tagId</key>
			<string>101703</string>
			<key>tagName</key>
			<string>生日礼物</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>customerCount</key>
			<string>687</string>
			<key>id</key>
			<string>100031</string>
			<key>name</key>
			<string>自己专属</string>
			<key>picture</key>
			<string>theme/afc8ab8cb8084fefae24e42d939812a5.jpg</string>
			<key>productionCount</key>
			<string>687</string>
			<key>productions</key>
			<array/>
			<key>rule</key>
			<string>做一件专属于「自己的」衣服，可以写上自己的名字或者设计成任何你喜欢的样子。
把它送给努力前行（men sao）的自己。穿上它，走自己的路，让别人羡慕去吧！

参与方式：
1.点击底端“立即参与”（或保存时加标签 #自己专属），转发分享@infinitee官博，即获得5元现金券。 

活动时间： 即日起至2017年5月8日。 </string>
			<key>smallPicture</key>
			<string>theme/e62756766d19416ab884aad2ac6877f9.jpg</string>
			<key>tagId</key>
			<string>101736</string>
			<key>tagName</key>
			<string>自己专属</string>
			<key>type</key>
			<string>2</string>
		</dict>
		<dict>
			<key>customerCount</key>
			<string>173</string>
			<key>id</key>
			<string>100040</string>
			<key>name</key>
			<string>女友专属</string>
			<key>picture</key>
			<string>theme/faf49c6cc8834d24a49b7e44bb2679fb.jpg</string>
			<key>productionCount</key>
			<string>173</string>
			<key>productions</key>
			<array/>
			<key>rule</key>
			<string>有一种让她专属于你的方法，
就是送她一件
你为她专属设计的衣服。
还有比这更浪漫的告白吗？ 

参与方式：
1.点击底端“立即参与”（或保存时加标签 #女友专属），转发分享@infinitee官博，即获得5元现金券。 
活动时间： 即日起至2017年5月8日。</string>
			<key>smallPicture</key>
			<string>theme/670065dd1bac4cf3b0ce8a4d8e4911e8.jpg</string>
			<key>tagId</key>
			<string>101769</string>
			<key>tagName</key>
			<string>女友专属</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>customerCount</key>
			<string>187</string>
			<key>id</key>
			<string>100039</string>
			<key>name</key>
			<string>男友专属</string>
			<key>picture</key>
			<string>theme/0b44bcc79fc34575a4b4a7e1ff81a351.jpg</string>
			<key>productionCount</key>
			<string>187</string>
			<key>productions</key>
			<array/>
			<key>rule</key>
			<string>有一种让他专属于你的方法，
就是送他一件
你为他专属设计的衣服。
还有比这更浪漫的告白吗？ 

参与方式：
1.点击底端“立即参与”（或保存时加标签 #男友专属），转发分享@infinitee官博，即获得5元现金券。 
活动时间： 即日起至2017年5月8日。</string>
			<key>smallPicture</key>
			<string>theme/da483f9073a7491eb794d9812f9f25b3.jpg</string>
			<key>tagId</key>
			<string>101770</string>
			<key>tagName</key>
			<string>男友专属</string>
			<key>type</key>
			<string>2</string>
		</dict>
		<dict>
			<key>customerCount</key>
			<string>3</string>
			<key>id</key>
			<string>100041</string>
			<key>name</key>
			<string>运动专属</string>
			<key>picture</key>
			<string>theme/8e8d1eac095746d1aa9494f79f3faa62.jpg</string>
			<key>productionCount</key>
			<string>3</string>
			<key>productions</key>
			<array/>
			<key>rule</key>
			<string>Infinitee运动系列： 
『运动纤维毛巾、运动裤 、纯棉/精棉T恤、戴帽卫衣、圆领卫衣』 
给运动场上挥洒的汗水增添一份色彩。 
穿上它，更出色。 

参与方式：
1.点击底端“立即参与”（或保存时加标签 #运动专属），转发分享@infinitee官博，即获得5元现金券。 
活动时间： 即日起至2017年5月8日。</string>
			<key>smallPicture</key>
			<string>theme/6b8370858b8d4c25a0c4e62c8d57a335.jpg</string>
			<key>tagId</key>
			<string>101764</string>
			<key>tagName</key>
			<string>运动专属</string>
			<key>type</key>
			<string>2</string>
		</dict>
		<dict>
			<key>customerCount</key>
			<string>138</string>
			<key>id</key>
			<string>100038</string>
			<key>name</key>
			<string>宝宝专属</string>
			<key>picture</key>
			<string>theme/32f3c2eaeba4487783fad888ab4f7d07.jpg</string>
			<key>productionCount</key>
			<string>138</string>
			<key>productions</key>
			<array/>
			<key>rule</key>
			<string>Infinitee为宝宝用心准备了：
『有机棉连身衣 、有机棉围兜』它们均采用Mecilla Kin 天然100%有机棉面料；
以及获得欧盟安全认证GOTS Certified and Oeko-Tex 100  的环保墨水（Infinitee所有产品均使用此墨水，无毒无害）
尤其呵护BB敏感细嫩肌肤，即使接触到孩子的空腔也十分安全。

参与方式：
1.点击底端“立即参与”（或保存时加标签 #宝宝专属），转发分享@infinitee官博，即获得5元现金券。 
活动时间： 即日起至2017年5月8日。</string>
			<key>smallPicture</key>
			<string>theme/76b056c41ce74bb4a29275d114b7c808.jpg</string>
			<key>tagId</key>
			<string>101537</string>
			<key>tagName</key>
			<string>宝宝专属</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>customerCount</key>
			<string>221</string>
			<key>id</key>
			<string>100043</string>
			<key>name</key>
			<string>原创摄影</string>
			<key>picture</key>
			<string>theme/01828a218ba1400d8a04350bb8c75bc7.jpg</string>
			<key>productionCount</key>
			<string>221</string>
			<key>productions</key>
			<array/>
			<key>rule</key>
			<string>热爱摄影的你，用心的记录着生活。 
现在，让它以另一种方式呈现在你的生活里。
赋予你的摄影作品全新生命。

【Infinitee可高度还原您的摄影作品】参与方式：
1.点击底端“立即参与”（或保存时加标签 #原创摄影），转发分享@infinitee官博，即获得5元现金券。 

活动时间： 即日起至2017年5月8日。 </string>
			<key>smallPicture</key>
			<string>theme/9de454001521401cab9982b601532d85.jpg</string>
			<key>tagId</key>
			<string>101875</string>
			<key>tagName</key>
			<string>原创摄影</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>customerCount</key>
			<string>422</string>
			<key>id</key>
			<string>100036</string>
			<key>name</key>
			<string>原创手绘</string>
			<key>picture</key>
			<string>theme/3c5c3b154cfd459dab478ae4844dbfe8.jpg</string>
			<key>productionCount</key>
			<string>422</string>
			<key>productions</key>
			<array/>
			<key>rule</key>
			<string>你的手绘小宇宙不再是二次元。
Infinitee可高保真的将你的所有作品还原到实物上。
一个帆布包、一件T恤或者一个高精密度的抱枕都将是你作品的最好的呈现载体。
Infinitee下一件首页推荐的商品，因你而诞生。 
收获设计的价值，享受创作的快乐！

参与方式：
1.点击底端“立即参与”（或保存时加标签 #原创手绘），转发分享@infinitee官博，即获得5元现金券。 
活动时间： 即日起至2017年5月8日。</string>
			<key>smallPicture</key>
			<string>theme/61a903a539864e11b4cab58a51f0ffe9.jpg</string>
			<key>tagId</key>
			<string>101737</string>
			<key>tagName</key>
			<string>原创手绘</string>
			<key>type</key>
			<string>2</string>
		</dict>
	</array>
</dict>
</plist>
